.bottom_popup
	// margin-top: 69rem 
	.shadow_wrapper
		height: 61rem
		background-image: linear-gradient(180deg, white 6%, rgba(241, 241, 247, 0) 53%, white 94%)
		margin-top: 3rem
		position: relative
		width: 100% 
		display: flex			
		justify-content: center
		align-items:  center
		flex-direction:  column
		.bottom_text_1
			font-size: 30px  
			font-family: Comfortaa
			font-weight: bold   	
			color: white
			margin-bottom: 0rem
						
		.bottom_text_2
			font-size: 30px  
			font-family: Comfortaa
			font-weight: bold   	
			color: #FFA400			
			margin-bottom: 2rem		
		.button_1 
			border: 2px solid $orange
			border-radius: 25px 25px 25px 25px
			top: 5%
			right: 5%  
			color: $orange 
			font-size: 20px 
			font-family: Comfortaa
			font-weight: bold 
			padding: 3px 25px 3px 25px
	.img-bottom
		height: 61rem
		width: 100% 
		background-size: cover
		
		margin-top: -61rem
		
@media(max-width: 540px)
	.bottom_popup
		.shadow_wrapper
			height: 40rem
			.bottom_text_1
				font-size: 18px
			.bottom_text_2
				font-size: 18px
			.button
				font-size: 14px
		.img-bottom
			height: 40rem
			margin-top: -40rem


