.footer
  background-color: $whitefooter

  .upper-footer
    // @media screen and (max-width: 100%)
    height: 93px
    .left_side
      display: flex
      align-items: baseline
      .logo
        margin-top: 1rem
        .logosvg
          display: block
          background-image: url(#{asset_path('svg/logo1.svg')})
          background-repeat: no-repeat
          height: 4rem
          width: 16rem
          background-size: 11rem 4rem
    .fotter_menu_wrapper
      display: flex
      margin-top: -3rem
      margin-left: 16rem
      .menu_first_wrapper, .menu_second_wrapper
        display: flex
        // justify-content: space-between
        font-family: Comfortaa,Bold
        .about_shool, .program, .method, .blog, .reviews, .contacts
          font-family: Comfortaa,Bold
          font-size: 1rem
          font-weight: 500
          height: 5rem
          // margin: 1%
          position: relative
          cursor: pointer
          margin-left: 2rem
          margin-bottom: 10px
          a
            color: black
          &:before
            margin-bottom: 10px
            content: ""
            position: relative
            // width: 100%
            height: 2px
            bottom: 0px
            // left: 25px
            // left: 0
            // width: 70%
            background-color: red
            visibility: hidden
            -webkit-transform: scaleX(0)
            transform: scaleX(0)
            -webkit-transition: all 0.3s ease-in-out 0s
            transition: all 0.3s ease-in-out 0s
          &:hover
            color: red
            &:before
              visibility: visible
              -webkit-transform: scaleX(1)
              transform: scaleX(1)
        +breakpoint(small only)
          padding: 0

        .about_shool

          font-family: Comfortaa,Bold
    .rigt_side
      display: flex
      .phone_numbers
        .phone1, .phone2
          display: flex
          margin: 1px
          .phone-logo
            padding: 5px
            .svg-phone
              svg
                height: 15px
          .phone-title
            font-family: Comfortaa
            font-size: 20px
            font-weight: bold
            padding: 5px
            line-height: initial

      .contact-info
        margin-left: 100px
        .email
          display: flex
          .email-logo
            padding: 7px
            .svg-email
              svg
                height: 15px
          .email-title
            font-size: 14px
            padding: 7px


        .skype
          display: flex

          .skype-logo
            padding: 7px
            .svg-skype
              svg
                height: 15px
          .skype-title
            padding: 7px
            font-size: 14px
            font-family: Comfortaa


  .lower-footer
    padding: 10px 50px 0px 50px
    background-color: #F5F5F5
    color: $graylasttext
    .Private-Enterprise
      padding-top: 4px
      color: $blackpearl
      font-size: 12px
    .Handcrafted
      color: $blackpearl
      display: flex
      justify-content: flex-end
      .Handcrafted-logo
        .Handcrafted-svg
          svg
            height: 16px
            width: 20px
            padding-right: 5px
            g
              g
                path
                  fill: $blackpearl

      .Handcrafted-text
        padding-top: 4px
        font-size: 12px
        font-family: Montserrat
.footer_small
  display: none
.container-fluid
  padding-right: 0
  padding-left: 0



@media (max-width: 1536px)
  .footer
    .upper-footer
      .left_side
      .rigt_side
        .phone_numbers
          .phone1, .phone2
            font-size: 16px

            .phone-title
              font-size: 16px
              margin-top: 5px
        .contact-info
          margin-left: 70px
          .email, .skype


@media (max-width: 1360px)
  .footer
    .upper-footer
      .left_side
      .fotter_menu_wrapper
        margin-left: 12rem
      .rigt_side
        .phone_numbers
          .phone1, .phone2
            font-size: 16px

            .phone-title
              font-size: 16px
              margin-top: 5px
              width: 8rem
        .contact-info
          margin-left: 0px
          .email, .skype


@media (max-width: 1024px)


  .footer
    .upper-footer
      .left_side
        .logo
          .logosvg
            display: block
            width: 14rem
            background-size: 12rem 4rem
            margin-bottom: -4rem
            margin-top: 4rem
      .fotter_menu_wrapper
        // display: block
        .menu_first_wrapper
          flex-direction: column
          height: 8rem
        .menu_second_wrapper
          margin-left: 5rem
          flex-direction: column
          height: 8rem
          .about_shool
            .title
      .rigt_side
        margin-left: 0rem
        margin-top: 3rem
        display: block
        .phone_numbers
        .contact-info
          margin-left: 2px
    .lower-footer
      margin-top: 14rem
      padding: 10px 82px 10px 8px


@media (max-width: 768px)
  .footer
    .upper-footer
      .left_side
      .fotter_menu_wrapper
        .menu_second_wrapper
          margin-left: 0


@media (max-width: 540px)
  .footer
    display: none
    .upper-footer
      .left_side
        .logo
          .logosvg
            display: block
            width: 11rem
            background-size: 7rem 4rem
            margin-top: 4px
      .fotter_menu_wrapper
        display: block
        margin-left: 12rem
        .menu_first_wrapper
          height: 5rem
          margin-top: 5rem
          margin-left: -25px
          .program
            margin-top: -7px
          .method
            margin-top: -10px
        .menu_second_wrapper
          height: 5rem
          margin-left: -25px
          margin-top: 23px
          .blog
            padding-bottom: 0
          .contacts
            margin-top: -1rem
      .rigt_side
        margin-left: -12rem
        margin-top: 5rem
        .phone_numbers
        .contact-info
          margin-left: 2px
    .lower-footer
      margin-top: 14rem
      padding: 10px 82px 10px 8px
  .footer_small
    display: block
    .top_menu
      display: flex

      justify-content: space-evenly
      .left_side_small
        height: 13rem
        .logosvg
          display: block
          background-image: url(#{asset_path('svg/logo1.svg')})
          background-repeat: no-repeat
          width: 11rem
          background-size: 9rem 4rem
          margin-top: -6px
          height: 4rem
        .phone_numbers
          .phone1, .phone2
            display: flex
            .phone-logo
              .svg-phone
                height: 15px
                width: 15px
                padding-top: 0
            .phone-title
              font-family: Comfortaa
              font-size: 20px
              font-weight: bold
              padding: 5px
              line-height: initial
        .contact-info
          margin-top: 1px
          .email
            display: flex
            .email-logo
              height: 15px
              width: 15px
              padding-top: 0
            .email-title
              font-family: Montserrat
              font-size: 12px
              font-weight: 500
              padding: 5px
              line-height: initial
          .skype
            display: flex
            .skype-logo
              height: 15px
              width: 15px
              padding-top: 0
            .skype-title
              font-family: Montserrat
              font-size: 12px
              font-weight: 500
              padding: 5px
              line-height: initial
      .right_side_small
        margin-top: 5px
        .about_shool, .program, .method, .blog, .contacts
          margin-bottom: 12px
          a
            font-family: Comfortaa
            font-size: 16px
            font-weight: bold
            color: black


        .blog
          padding-bottom: 0
    .low_menu
      background-color: #F5F5F5
      color: $graylasttext
      display: flex
      flex-direction: column
      align-items: baseline
      .Private-Enterprise
        padding-top: 5px
        p
          color: $blackpearl
          font-size: 12px
          padding-left: 30px
          margin-bottom: 10px
          margin-top: 10px
      .Handcrafted
        color: $blackpearl
        display: flex
        justify-content: flex-end
        padding-left: 30px
        margin-bottom: 10px
        .Handcrafted-logo
          .Handcrafted-svg
            svg
              height: 16px
              width: 20px
              padding-right: 5px
              g
                g
                  path
                    fill: $blackpearl
        .Handcrafted-text
          padding-top: 4px
          font-size: 12px
          font-family: Montserrat


