.header
  z-index: 3
  position: fixed
  top: 0

  #header_content
    top: 0
    width: 100%
    position: fixed
    transition: top 0.5s ease-in-out
    #qwert.header_wrapper

      width: 100%
      height: 110px
      display: flex
      align-items: center
      .header-logo
        margin-top: 25px
        padding-bottom: 1rem
        margin-left: 2rem
        .logosvg
          display: block
          height: 5rem
          background-image: asset_url('photo/New_logo.png')
          background-size: contain
          background-repeat: no-repeat
          width: 15rem
          margin-left: 8rem

      .header_right

        .consultation
          position: absolute
          top: 14%
          left: 77%
          color: $orange
          font-size: 1.5rem
          font-family: Comfortaa, Bold
          font-weight: 900
          margin-right: 2rem
          display: flex
          align-items: center
          .btn
            border: 4px solid $orange
            border-radius: 27px 27px 27px 27px
            height: 55px
            width: 200px
            font-weight: 700
            &:hover
              color: white
              background-color: $orange
          .button_container
            background-image: url(#{asset_path('svg/menu.svg')})
            width: 5rem
            height: 5rem
            cursor: pointer



            &:hover
              opacity: .7
              .circle-hamburger
                position: fixed
                top: 5%
                right: 7%
                width: 55px
                height: 55px
                border-radius: 50px
                border-right: 4px solid $orange
                border-left: 4px solid $orange
                border-top: 4px solid $orange
                border-bottom: 4px solid transparent
                transform: rotate(135deg)



  #overlay.overlay
    background: red
    top: 0
    left: 0
    width: 100%
    height: 100%
    display: none

    transition: opacity .35s, visibility .35s, height .35s
    overflow: hidden
    box-shadow: 5px 10px #888888
    .image-background



    &.open
      opacity: 1
      visibility: visible
      height: 100%

      li
        animation: fadeInRight .5s ease forwards
        animation-delay: .35s

        &:nth-of-type(2)
          animation-delay: .4s

        &:nth-of-type(3)
          animation-delay: .45s

        &:nth-of-type(4)
          animation-delay: .50s

    &.close
      opacity: 0
      visibility: hidden
      height: 100%
    .layout1

      position: fixed
      top: 0px
      right: -30px
      bottom: 20px
      left: -30px
      background: white
      height: 100%
      margin-bottom: 100px
      height: 98%
      border-bottom-left-radius: 80%
      border-bottom-right-radius: 80%
      -webkit-box-shadow: 0px 0px 99px #737373

      .header-top
        width: 90%

        .header-top-left
          display: flex
          justify-content: space-between
          align-items: center
          .logosvg
            display: block
            margin-top: 35px
            height: 5rem
            background-image: asset_url('photo/New_logo.png')
            width: 15rem
            margin-left: 12rem
            background-repeat: no-repeat
            background-size: contain

          #header_top_right
            background-image: asset_url('svg/menu_close.svg')
            width: 5rem
            height: 5rem
            cursor: pointer

      .header-middle

        .header-middle-left-up
          width: 70%
          margin-top: 10rem
          margin-left: 225px

          .up-menu
            position: relative
            font-size: 30px
            font-family: 'Comfortaa ', serif
            font-weight: 700
            text-align: center
            margin-top: 200px
            margin-bottom: 13px
            ul
              list-style: none
              padding: 0
              margin: 0 auto
              display: flex
              position: relative
              height: 100%
              li
                display: flex
                width: 25%
                margin-right: 3.5rem
                min-height: 50px
                position: relative
                transition: 1s
                // opacity: 0
                a
                  display: flex
                  position: relative
                  color: black
                  text-decoration: none
                  overflow: hidden
                  font-family: Comfortaa
                  &:hover
                    color: $orange
          .dropdown
            display: flex
            margin-left: -30px
            margin-top: 9px


            .dropbtn
              font-size: 25px
              font-family: Comfortaa
              font-weight: 700
              text-align: center
            #arrow
              background-image: url(#{asset_path('svg/arrow.svg')})
              height: 20px
              background-size: 30px 30px
              width: 25px
              position: absolute
              right: 55%
              z-index: 3

            #arrow_1
              background-image: url(#{asset_path('svg/arrow.svg')})
              height: 20px
              background-size: 30px 30px
              width: 25px
              // margin-top: 10px
              // margin-left: -55px
              transform: rotate(180deg)
              display: none
              z-index: 3
              position: absolute
              right: -4px
              top: 8px
          .dropdown

            #dropdown_content
              font-size: 25px
              font-family: Comfortaa
              font-weight: 700
              text-align: center
              display: none
              position: absolute
              background-color: white
              min-width: 160px
              box-shadow: none
              z-index: 4
              margin-left: -215px
              margin-top: 35px

              a
                color: black
                padding: 15px 16px
                text-decoration: none
                display: block



          .down-menu
            margin-top: 3rem
            position: flex
            font-size: 18px
            font-family: 'Comfortaa ', serif
            font-weight: 700
            text-align: center
            z-index: 3
            ul
              list-style: none
              padding: 0
              margin: 0 auto
              display: flex
              position: relative
              height: 100%
              li
                display: flex
                width: 8rem
                min-height: 50px
                position: relative
                .feedback
                a
                  display: flex
                  position: relative
                  color: black
                  text-decoration: none
                  overflow: hidden
                  font-family: Comfortaa
                  &:hover
                    color: $orange
                .about_school_h
                  margin-left: -1rem
          #dropdown_content
            display: none
            position: absolute
            background-color: #f1f1f1
            min-width: 160px
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2)
            z-index: 1
            a
              color: black
              font-size: 18px
              padding: 7px 16px
              text-decoration: none
              display: block
              text-align: left
              line-height: normal
              &:hover
                color: $orange


        .header-middle-right
          .circle_wrapper
            position: relative
            margin-top: -1rem
            .circle_h
              width: 370px
              height: 370px
              border-radius: 50%
              margin-top: 100px
              margin-left: -3rem
              background: url(photo/1.jpg)
              position: relative
              border: 25px solid #F5F5F5
            .circle1
              width: 285px
              height: 382px
              position: absolute
              left: 12%
              top: 47%
              background: url(svg/5_1.svg)
              background-size: 381px 240px
              background-repeat: no-repeat
              transition: 1s ease-in-out
              transform: rotate(350deg)
              &:hover
                transition: 1s ease-in-out
            .circle_2
              position: absolute
              background-color: $orange
              width: 5rem
              height: 5rem
              border-radius: 50%
              top: -2%
              left: 55%
            .circle_3
              position: absolute
              background-color: #292b38
              width: 3rem
              height: 3rem
              border-radius: 50%
              top: 66%
              left: -24%


        .header-bottom
          display: flex
          -webkit-justify-content: center
          justify-content: center
          margin: auto
          margin-top: 12rem
          .header-bottom-left
            .first_phone_number
              display: flex
              .phone_icon
                // background: url(icons/phone.svg)
                background-repeat: no-repeat
                height: 1rem
                width: 14px
                margin-right: 13px
                margin-top: -3px
              .number_text
                font-family: Comfortaa
                font-weight: 1rem
              .number_text_one
                font-family: Montserrat
                font-weight: 1rem
            .second_phone_number
              display: flex
              .phone_icon
                // background: url(icons/phone.svg)
                background-repeat: no-repeat
                height: 1rem
                width: 14px
                margin-right: 13px
                margin-top: -3px
              .number_second

      .header-bottom-right
        margin-left: 2rem
        .zhyvasvit_mail
          display: flex
          .mail_logo
            // background: url(svg/mail.svg)
            background-repeat: no-repeat
            height: 1rem
            width: 1rem
            margin-top: 0px
            margin-right: 13px
          .mail_name

        .zhyvasvit_skype
          display: flex
          .skype_logo
            // background: url(svg/skype-logo.svg)
            background-repeat: no-repeat
            height: 1rem
            width: 1rem
            margin-top: 0px
            margin-right: 13px
          .skype_name
            |zhyvasvit
        .zhyvasvit_insta

          a
            display: flex
            color: black
            .insta_logo
              // background: url(icons/insta.png)
              background-repeat: no-repeat
              height: 1rem
              width: 1rem
              margin-top: 0px
              margin-right: 13px
            .insta_name

        .zhyvasvit_facebook

          a
            display: flex
            color: black
            .facebook_logo
              // background: url(icons/fb.png)
              background-repeat: no-repeat
              height: 1rem
              width: 1rem
              margin-top: 0px
              margin-right: 13px
            .facebook_name



body
  overflow: auto



@media (max-width: 1536px)
  .header
    #header_content
      #qwert.header_wrapper
        .header_right
          .consultation
            left: 74%




    #overlay.overlay
      .image-background
        .img-bg
          .layout1
            .header-top
              .header-top-left
              #header_top_right
                top: 0px
                left: 0
              .circle_top_right
                top: 5%
                left: 91%
          // border-radius: 0% 0% 100% 100%/0% 0% 10% 10%
          // height: 88%
          .header-middle
            .header-middle-left-up
              // width: 100%
              margin-left: 115px
              .up-menu
                display: flex
                margin-top: 53px
                margin-top: 100px
                ul
                  display: flex
                  li
                    width: 215px
                    margin-right: 0px
                  .dropdown
                    margin-left: 0
                    .dropbtn
                    #dropdown_content
                      margin-left: -227px
                      a
                        font-size: 20px


            .header-middle-right

              .circle_wrapper
                .circle
                  width: 300px
                  height: 300px
                  border-radius: 50%
                  margin-top: 22px
                  margin-left: 5rem
                  background: url(photo/1.jpg)
                .circle1
                  transform: rotate(353deg)

                .circle_3
                  top: 89%
                  left: -14%
            .header-bottom
              margin-top: 25px


@media (max-width: 1440px)
  .header




    #overlay.overlay
      .image-background
        .img-bg
          .layout1
            .header-top
              .header-top-left
              #header_top_right
                top: 46px
                left: 90.1%
              .circle_top_right
                top: 5%
                left: 91%

          .header-middle
            .header-middle-left-up


            .circle_wrapper
              margin-left: 3rem
              .circle
                width: 300px
                height: 300px
                border-radius: 50%
                margin-top: 22px
                margin-left: 5rem
                background: url(photo/1.jpg)
              .circle_2
                left: 63%
              .circle_3
                top: 89%
                left: -14%
            .header-bottom
              margin-top: 3px

@media (max-width: 1366px)
  .header
    #header_content
      #qwert.header_wrapper
        .header_right
          .consultation
            left: 72%
          .container_hamburger
            .button_container
              // left: 100%
              left: 92.2%
            .circle-hamburger
              // left: 100%
    #overlay.overlay
      .image-background
        .img-bg
          .layout1
            .header-top
              align-items: center
              .header-top-left
                #header_top_right
                  left: 0%
                  top: 0
            .header-middle
              .header-middle-left-up
                margin-top: 10rem
                .up-menu
                  font-size: 25px
                  ul
                    li
                      width: 190px
                    .dropdown
                      .dropbtn
                      #arrow
                        right: 5%
                        top: -9%
                      #dropdown_content
                        margin-left: -210px
                        a
                          padding: 6px 16px
              .header-middle-right
                .circle_wrapper
                  margin-left: -4rem
                  .circle_h
                    width: 350px
                    height: 350px
                    margin-left: 3rem
                    margin-top: 74px

                  .circle1
                    left: 30%
                    top: 49%
                    background: url(svg/77_1.svg)
                    background-size: 381px 404px
                    background-repeat: no-repeat
                    width: 388px
                    height: 381px
                    transform: rotate(287deg)
                    transform-origin: left
                  .circle_2
                    left: 72%
                    top: -15%
                  .circle_3
                    left: 8%
                    top: 88%
              .header-bottom
                margin-top: 0px



@media (max-width: 1360px)
  .header
    #header_content
      #qwert.header_wrapper
        .header_right
          .consultation
            left: 72%
          .container_hamburger
            .button_container
              left: 94%
            .circle-hamburger
              left: 92.5%
    #overlay.overlay
      .image-background
        .img-bg
          .layout1
            .header-top
              .header-top-left
              #header_top_right
                top: 40px
                left: 90.7%
              .circle_top_right
                top: 5%
                left: 92%
            .header-middle
              .header-middle-left-up
                .up-menu
                  margin-top: -133px
                  ul
                    li
                      width: 180px
                      margin-right: 40px
                    .dropdown
                      margin-left: -41px
              .header-middle-right
                .circle_wrapper
                  .circle_h
                    display: none
                  .circle1
                    display: none
                  .circle_2
                    display: none
                  .circle_3
                    display: none
              .header-bottom
                margin-top: 75px


@media (max-width: 1280px)
  .header
    #overlay.overlay
      .image-background
        .img-bg
          .layout1
            .header-middle
              .header-bottom
                margin-top: 170px
@media (max-width: 1024px)
  .header
    #header_content
      .header_wrapper
        .header_right
          .consultation
            margin-left: -13rem
          .container_hamburger
            .button_container
              margin-left: -8rem
            .circle-hamburger
              margin-left: -8rem
  #overlay.overlay
    .image-background
      .img-bg
        .layout1
          border-radius: 0% 0% 100% 100%/0% 0% 10% 10%
          // height: 88%
          .header-middle
            .header-middle-left-up
              // width: 100%
              margin-left: 210px
              .up-menu
                display: flex
                margin-top: 18rem
                ul
                  display: flex
                  li
                    width: 100%
                    margin-right: 3rem
                    font-size: 25px
                  .dropdown
                    margin-left: 0
                    .dropbtn
                      font-size: 20px
                    #arrow
                      margin-top: 1px
                      margin-left: -46px
                    #arrow_1
                      margin-top: 1px
                      margin-left: -46px
                    .dropdown-content
                      a
                        font-size: 30px



              .down-menu
                font-size: 22px
                font-weight: 700
                ul
                  display: flex
                  li
                    width: 100%

                .header-middle-right
            .circle_wrapper
              .circle
                display: none
            .header-bottom
              margin-top: 400px

@media (max-width: 768px)
  .header
    #header_content
      #qwert.header_wrapper
        .header-logo
          .logosvg
            margin-left: 2rem
        .header_right
          .consultation
            left: 82%
          .container_hamburger
            #toggle.button_container
              left: 102.5%
            .circle-hamburger
              left: 100%
  #overlay.overlay
    .image-background
      .img-bg
        .layout1
          .header-top
            .header-top-left
            #header_top_right
            .circle_top_right
              top: 4%
          .header-middle
            .header-middle-left-up
              margin-left: 4rem
              .up-menu
                ul
                  li
                    width: 0px
                    margin-right: 1px
                  .dropdown
                    margin-left: -7px
                    margin-top: 4px

@media (max-width: 540px)
  .header
    #header_content
      #qwert.header_wrapper
        height: 77px
        .header-logo
          margin-top: 45px
          padding-bottom: 1rem
          .logosvg
            background-size: 145px
            margin-left: 0rem
        .header_right
          .consultation
            position: relative
            .btn
              display: none
            .button_container
              position: absolute
              top: -37px
              left: 135px

              margin-left: 95px
              margin-top: 0px
              width: 4rem
              height: 4rem
              background-repeat: no-repeat
              background-size: 4rem 4rem
      .row
        .header_wrapper
          height: 75px
          .consultation
            display: none
    #overlay.overlay
      .image-background
        .img-bg
          .layout1
            border-radius: 0% 0% 100% 100%/0% 0% 10% 10%
            height: 94%
            .header-top
              .header-top-left
                .logosvg
                  margin-top: 1rem
                  margin-left: 4rem
                  background-size: 145px
                  height: 50px
                  width: 150px

                #header_top_right
                  width: 4rem
                  height: 4rem
                  background-size: 4rem 4rem
                  left: 10px
                  position: relative

            .header-middle
              .header-middle-left-up
                width: 100%
                margin-left: 0px
                .up-menu
                  display: grid
                  font-size: 16px
                  margin-top: -8rem
                  margin-left: -10rem
                  ul
                    display: grid
                    li
                      width: 100%
                      font-size: 20px
                      min-height: 40px
                    .dropdown
                      margin-top: -40px
                      margin-left: 120px
                      .dropbtn
                        font-size: 13px
                        margin-left: -2rem
                      #arrow
                        top: 3%
                      #arrow_1
                        right: -1%
                      #dropdown_content
                        background-color: white
                        width: 22rem
                        margin-left: -132px
                        margin-top: 3rem
                        a
                          font-size: 15px
                          padding: 15px 16px



                .down-menu
                  margin-top: 0rem
                  display: grid
                  font-size: 16px
                  margin-left: 3rem
                  position: absolute

                  ul
                    display: grid
                    li
                      width: 100%
                      min-height: 35px
                      font-size: 15px
                .header-middle-right

              .circle_wrapper
                .circle
                  display: none

              .header-bottom
                margin-top: 180px
                margin-left: 0px
                font-size: 15px
                display: flex
                justify-content: space-evenly
                .header-bottom-left
                  .first_phone_number,.second_phone_number
                    display: flex
                    .phone_icon
                      width: 24px
                .header-bottom-right
                  margin-left: 0

@media (max-width: 360px)
  .header
    #header_content
      #qwert.header_wrapper
        .header-logo
          margin-left: 1rem
          .logosvg
            width: 16rem
            margin-top: 15px
    #overlay.overlay
      .image-background
        .img-bg
          .layout1

            .header-top
            .header-middle
              .header-middle-left-up
              .header-bottom
                margin-top: 100px

