html
  font-family: "Helvetica Neue", sans-serif
  width: 100%
  color: #666666
  text-align: center
body
  &.in_blured
    // filter: blur(16px)
    opacity: 0.5

.popup-overlay  
  display: none
  position: absolute  
  width: 100%
  // opacity: 0 
  height: 100%
  border-radius: 5px   
  position: fixed    
  margin-top: 0px  
  // margin-left: -150px 
  justify-content: center
  z-index: 5 
  padding: 20px 10px

  // filter: blur(16px)
  

  &.active    
    visibility: visib
    text-align: center
  .popup-content    
    visibility: show
    margin: auto 

    // display: flex     
    // flex-direction: row 
    &.active     
      visibility: visible

    .close_wrapper
      text-align: end 
      .close
        // margin-top: 10rem
        position: absolute
        cursor: pointer
        color: white
        font-size: 65px
        transform: rotate(45deg)
        left: 115%
        top: 5vh
        font-family: Comfortaa
        font-weight: 100   
    .blur_wrapper
      width: 100vw
      height: 100vh 
      // filter: blur(8px) 
  .body_wrapper
    display: flex 
    flex-direction: column    
    color: white
    font-weight: bold    
    position: absolute
    top: 9%
    // left: 55%
    // transform: translate(-50%, -50%)
    z-index: 2
    width: 76%
    padding: 20px
    text-align: center
    filter: blur(0px)
    .title_wrapper
      margin-left: 7rem
      margin-bottom: 3rem
      .title_popup
        font-family: Comfortaa
        font-size: 45px 
        font-weight: 700 
        margin-left: -7rem
      .line_wrapper
        display: flex 
        margin-left: 1rem
        margin-top: 1rem
        margin-bottom: 1rem
        .line
          box-sizing: border-box
          width: 15rem
          height: 5px
          background-color: white
          border-bottom-right-radius: 5px
          border-top-right-radius: 5px
        .dot
          width: 5px
          height: 5px
          border-radius: 50%  
          background-color: white
          margin-left: 3rem 
      .describe
        font-family: Caveat 
        font-size: 25px
        margin-left: 1rem
    .wrapper_inp
      height: 365px
      margin: 0 auto 
      width: 81% 
      margin-bottom: -4rem
      
      .wrapper_input
        
        .input_wrapper_firsr
          display: flex 
          justify-content: space-evenly
          .name_input
            
            .name_name               
              // margin-right: 345px
              margin-bottom: 8px
              text-align: left
              margin-left: 20px
              font-family: Montserrat
              font-size: 14px
            .name
              border: 4px solid white
              border-radius: 27px 27px 27px 27px
              height: 55px
              width: 400px
              color: black
              opacity: 0.5
              // margin-right: 2rem
              padding: 25px 
              text-align: left
              font-family: Montserrat
              font-size: 12p
            .name::placeholder
              // padding-left: 25px
              font-weight: 500 
              font-family: Montserrat 
          .phone_input
            .phone_name
              font-family: Montserrat
              font-size: 14px 
              // margin-right: 17rem
              margin-bottom: 8px
              text-align: left 
              margin-left: 20px
            .phone
              border: 4px solid white
              border-radius: 27px 27px 27px 27px
              height: 30px
              width: 400px
              color: black
              opacity: 0.5
              padding: 25px
              
            
            .phone::placeholder
             
              font-weight: 500 
              font-family: Montserrat 
      .wrapper_send
        display: none 
        .message_s
          font-family: Comfortaa
          font-size: 45px
          font-weight: 700
       
          margin-top: 15rem
        .message_descr
          font-family: Comfortaa
          font-size: 20px
      .input_wrapper_second
        display: flex 
        margin-top: 3rem
        justify-content: space-evenly
        
        .mail_name 
          
          // margin-right: 363px
          margin-bottom: 8px
          text-align: left
          margin-left: 20px
          font-family: Montserrat
          font-size: 14px
        .mail
          border: 4px solid white
          border-radius: 27px 27px 27px 27px
          height: 55px
          width: 400px
          color: black
          opacity: 0.5
          // margin-left: 33px
          padding: 25px 
        .mail::placeholder
         
            font-weight: 500 
            font-family: Montserrat 
      .time_wrapper
        .time_name
          text-align: left
          margin-left: 20px
          font-family: Montserrat
          font-size: 14px 
        .select_wrapper
          display: flex
          flex-direction: column 
          // margin-left: 2rem
          #select
            border: 4px solid white
            border-radius: 27px 27px 27px 27px
            height: 55px
            width: 400px
            color: black
            opacity: 0.5
            margin-top: 5px 
          #datalist
            border-radius: 7px             



    .sand           
      border: 4px solid white
      border-radius: 27px 27px 27px 27px
      height: 50px
      width: 260px
      color: black
      background-color: white 
      font-family: Comfortaa
      font-weight: 700  
      &:hover
        background-color: $orange
        color: white
        border: 4px solid $orange

#qwerty 
  z-index: 3 
  position: fixed 
  background-color: #000 
  opacity: 0.8
  -moz-opacity: 0.8 
  
  width: 100% 
  height: 100% 
  top: 0 
  left: 0 
  cursor: pointer 
  display: none       


@media(max-width: 1536px)
  .popup-overlay   
    .popup-content       
      .close_wrapper
        .close
          left: 108% 
          // margin-top: 4rem
    .body_wrapper
      .title_wrapper
        margin-left: 7rem 
        

@media(max-width: 1440px)
  .popup-overlay   
    .popup-content       
      .close_wrapper
        .close
          left: 103% 

@media(max-width: 1366px)
  .popup-overlay   
    .popup-content       
      .close_wrapper
        .close
          // margin-top: 4rem
    .body_wrapper
      .title_wrapper
        margin-left: 5rem 


@media(max-width: 1350px)
  .popup-overlay
    margin-left: 0
    .popup-content       
      .close_wrapper
        .close
          top: 0
          left: 97%  
          
    .body_wrapper
      .title_wrapper
        margin-left: 0
        .title_popup
          font-size: 30px
          // margin-left: -15rem         
          
        .line_wrapper
          margin-left: -1rem          
        .describe
          font-size: 23px
          // margin-left: -1rem
          
      .wrapper_inp
        .wrapper_input
          // margin-left: 4rem
          
          .input_wrapper_firsr
            
            .name_input
              // margin-left: -5rem
              .name
                height: 30px
                padding: 20px
             
            .phone_input   
              .phone_name
                
              .phone
                height: 30px
                padding: 20px
              

        .input_wrapper_second
          // margin-left: -3rem
         
          .mail_name
            
           
          .mail
            height: 30px
            padding: 20px
          .time_wrapper
            .select_wrapper
              #select
                height: 30px
                padding: 20px
                

@media(max-width: 1250px)
  .popup-overlay   
    .popup-content       
      .close_wrapper
        .close
          // margin-top: 4rem
    .body_wrapper
      .title_wrapper
        margin-left: 5rem
        .title_popup
          margin-left: -18rem
        .line_wrapper
          margin-left: -23px
        .describe
          margin-left: -2rem
              

@media(max-width: 540px)
  .popup-overlay
    margin-left: 0

    .popup-content       
      .close_wrapper
        .close
          margin-top: -1rem
          left: 88% 
    .body_wrapper
      .title_wrapper
        margin-top: 0rem
        margin-left: 1rem
        .title_popup
          font-size: 25px
          margin-left: -7rem
        .line_wrapper
          margin-left: -6rem
        .describe
          width: 350px
          font-size: 20px
          margin-left: -6rem 
          text-align: left
      .wrapper_inp
        margin-left: -85px
        margin-top: -2rem
        margin-bottom: 0
        .wrapper_input
          // margin-left: -19rem
          // margin-top: 2rem
          
          .input_wrapper_firsr
            display: block 
            // margin-left: 20rem
            .name_input
              // margin-left: -4rem
              .name
                width: 360px 
            .phone_input
              .phone_name
                margin-top: 15px
                // margin-top: 9px
                // margin-left: -6rem
              .phone
                width: 360px  
                // margin-left: -6rem
        .wrapper_send
          .message_s
            width: 330px
            font-size: 28px
            margin-top: 11rem
          .message_descr
            width: 330px 
            font-size: 16px
        .input_wrapper_second
          display: block 
          // margin-top: -7rem
          margin-top: 0
          .mail_name
            margin-right: 0px
            margin-top: 15px
            // margin-left: -21rem
          .mail
            // margin-left: -2rem
            width: 360px 
          .time_wrapper
            // margin-top: 1rem
            .time_name
              margin-top: 15px
              // margin-left: -17rem
            .select_wrapper
              margin-left: 0  
              #select
                width: 360px 
      .sand
        width: 360px
        margin-left: -85px
        margin-top: 10px
        


@media(max-width: 360px)

  .popup-overlay
    .body_wrapper
      .title_wrapper
        margin-top: -1rem
        .title_popup
          font-size: 23px
        .line_wrapper
          margin-top: 10px
          margin-bottom: 10px
        .describe
          width: 315px
          font-size: 18px
      .wrapper_inp
        height: 325px
        .wrapper_input
          .input_wrapper_firsr
            .name_input
              margin-top: -15px
              .name
                width: 310px
            .phone_input
              .phone_name
                margin-top: 5px
              .phone
                width: 310px
        .input_wrapper_second
          .mail_name
            margin-top: 5px
          .mail
            width: 310px
          .time_wrapper           
            .time_name
              margin-top: 5px
              width: 10rem
            .select_wrapper
              #select
                width: 310px 
      .sand
        margin-top: -5px
        width: 310px