.what_is_problem_wrapper
  .problem_image
    height: 1000px
    width: 100% 
    .shadow_wrapper
      height: 62rem
      background-image: linear-gradient(180deg, white 2%, rgba(238, 256, 168, 0) 53%, white 96%)
      margin-top: 3rem
      position: relative
    .img-problem
      height: 61rem
      width: 100% 
      background-size: cover
      display: flex     
      justify-content: center
      align-items:  center
      flex-direction:  column
      margin-top: -977px

      .problem_title
        font-family: Comfortaa
        font-size: 3rem
        color: white 
        font-weight: 700 
      .problem_describe
        font-family: Montserrat
        font-size: 1rem  
        color: white  
        margin-top: 1rem 
        text-align: center
        margin-bottom: 1rem
      .problem_button
        border: 2px solid $orange
        border-radius: 25px 25px 25px 25px
        top: 5%
        right: 5%  
        color: $orange 
        font-size: 15px 
        font-family: Comfortaa
        font-weight: bold 
        padding: 5px 15px 
        z-index: 2 
        &:hover
          background-color: $orange 
          color: white 
@media (max-width: 1366px)
  


@media (max-width: 540px)
  .what_is_problem_wrapper
    .problem_image
      .shadow_wrapper
        height: 55rem
      .img-problem
        height: 55rem
        .problem_title
          font-size: 24px
          text-align: center
          width: 95%  
        .problem_describe
          font-size: 18px
          width: 90% 
          
@media (max-width: 540px)
  .what_is_problem_wrapper
    .problem_image
      .shadow_wrapper
        height: 61rem
        ьн-4куь 
