.title_wrapper
  position: relative
  .title
    font-family: Comfortaa
    font-size: 2rem
    margin-left: 327px
    margin-top: 80px
    font-weight: 700

  .green_line_wrapper
    display: flex
    margin-bottom: 3rem
    margin-left: 329px

    .green_line
      background-color: #92D828
      height: 5px
      width: 500px
      border-radius: 3px
      margin-right: 1rem
      transform: translateX(-100%)
      transition: 1s ease-in-out
    .green_dot
      background-color: #92D828
      height: 5px
      width: 5px
      border-radius: 3px
      transform: translateX(-100%)
      transition: 1s ease-in-out
  .arrow_1
    background-image: url(#{asset_path('svg/364.svg')})
    background-repeat: no-repeat
    width: 3rem
    height: 3rem
    position: absolute
    top: 200px
    left: 10%
    cursor: pointer
  .arrow_2
    background-image: url(#{asset_path('svg/364.svg')})
    background-repeat: no-repeat
    width: 3rem
    height: 3rem
    position: absolute
    transform: rotate(180deg)
    top: 200px
    left: 90%
    cursor: pointer

.slider_car
  width: 70vw
  margin: 0 auto
  .slick_slider
    // margin-left: -75px
    width: 350px


  .img-bg
    &.slider
      position: relative
      width: 350px
      height: 220px
      border-bottom-right-radius: 1rem
      border-top-right-radius: 1rem
      border-bottom-left-radius: 1rem
      border-top-left-radius: 1rem
      // margin-left: 86px
  .body
    margin-left: 47px


    .arrrow_2
    .slider_program-title
      font-size: 20px
      font-family: Comfortaa
      font-weight: bold
      color: black
      width: 350px
      // margin-left: 47px
      line-height: 28px
      margin-top: 15px
      margin-bottom: 7px

      a
        font: inherit
        color: inherit


    .slider_program-date
      font-family: Montserrat
      font-size: 12px
      opacity: 0.5
      // margin-left: 47px
    .slider_program-describe
      font-family: Montserrat
      font-size: 14px
      width: 350px
      // margin-left: 47px
      line-height: 24px
      height: 67px
    .slider_1asdgfsad
      width: 1350px
      margin: 0 auto

.nn2:after
  content: "<"
  color: #838D92
  font-size: 30px
  position: absolute
  top: 66%
  left: 25rem

.pp2:after
  content: ">"
  color: #838D92
  font-size: 30px
  top: 57%
  left: 110rem
  position: fixed
.slide-arrow

@media(max-width: 1536px)
  .title_wrapper
    .title
      margin-left: 280px
    .green_line_wrapper
      margin-left: 280px
  .slider_car#slider_car
    .slick_slider

    .img-bg
      width: 300px
    .body
      margin-left: 25px

@media(max-width: 1440px)
  .title_wrapper
    .title
      margin-left: 250px
    .green_line_wrapper
      margin-left: 250px
  .slider_car#slider_car
    .slick_slider
      width: 200px
      margin-left: 0
    .img-bg
      width: 250px
    .body
      margin-left: 40px
      .slider_program-title
        font-size: 16px
        width: 250px
      .slider_program-describe
        width: 300px


@media(max-width: 1368px)
  .title_wrapper
    .title
      margin-left: 224px
    .green_line_wrapper
      margin-left: 224px
  .slider_car#slider_car
    .slick_slider
      width: 200px
      margin-left: 0
    .img-bg
      width: 270px
      height: 187px
    .body
      margin-left: 35px

@media(max-width: 1366px)
  .title_wrapper
    .title
      margin-left: 224px
    .green_line_wrapper
      margin-left: 224px
  .slider_car#slider_car
    .slick_slider
      width: 200px
      margin-left: 0
    .img-bg
      width: 270px
      height: 187px
    .body
      margin-left: 35px
      .slider_program-title
        font-size: 16px
        margin-left: 0
      .slider_program-date
        margin-left: 0
      .slider_program-describe
        width: 250px
        margin-left: 0

@media(max-width: 1250px)
  .title_wrapper
    .title
      margin-left: 224px
    .green_line_wrapper
      margin-left: 224px
  .slider_car#slider_car
    .slick_slider
      width: 200px
      margin-left: 0
    .img-bg
      width: 270px
      height: 187px
    .body
      margin-left: 0px
      .slider_program-title
        font-size: 16px
        margin-left: 0
      .slider_program-date
        margin-left: 0
      .slider_program-describe
        width: 250px
        margin-left: 0



@media(max-width: 768px)
  .title_wrapper
    .title
      margin-left: 110px
      padding-left: 0
      font-size: 26px
    .green_line_wrapper
      margin-left: 113px
    .arrow_1
      top: 169px
      left: 6%
    .arrow_2
      top: 147px
      left: 84%
  .slider_car#slider_car
    .body
      margin-left: 10px


@media(max-width: 540px)
  .title_wrapper
    .title
      margin-left: 30px
      margin-bottom: 15px
      padding-left: 0
      font-size: 26px
      margin-top: 0
    .green_line_wrapper
      margin-left: 0
      .green_line
        width: 300px
    .arrow_1
      top: 169px
      left: 6%
    .arrow_2
      top: 147px
      left: 84%
  .slider_car#slider_car
    .body
      margin-left: 5px