.video_popup
  display: none 
  width: 100%
  height: 100%
  position: fixed
  left: 0
  top: 0 
  width: 100%
  height: 100%
  overflow: auto
  background-color: rgb(0,0,0)
  background-color: rgba(0,0,0,0.9)
  z-index: 3
  .close
    display: flex 
    #video_close
    
      font-size: 65px
      color: white 
      position: relative
      transform: rotate(45deg)
      font-weight: 100 
      // top: 10%
      // left: 91%  
      z-index: 5  
  .video_wrapper  
    height: 100%
    width: 100% 
    position: relative 
    display: flex
    justify-content: center
    align-items: center  
    .iframe 
      width: 500px
      height: 350px
      
      

@media(max-width: 1536px)
  .video_popup
    .close
      #video_close
        top: 6% 
    .video_wrapper
      .iframe
        top: 43%
        left: 31%


@media(max-width: 1366px)
  .video_popup
    .close
      #video_close
        top: 6%

    .video_wrapper
      justify-content: center
      align-items: center
      .iframe
        top: 0
        left: 0
        position: relative 
        
@media(max-width: 1350px)
  .video_popup
    .close
      #video_close
        top: 6% 
    .video_wrapper
      .iframe
        width: 47rem
        height: 24rem
        // top: 43%
        // left: 26%

@media(max-width: 1024px)
  .video_popup
    .close
      #video_close
        top: 6% 
    .video_wrapper
      .iframe
        width: 47rem
        height: 24rem
        // top: 43%
        // left: 19%

@media(max-width: 768px)
  .video_popup
    .close
      #video_close
        top: 6% 
    .video_wrapper
      .iframe
        width: 47rem
        height: 24rem
        // top: 43%
        // left: 2%
        
@media(max-width: 540px)
  .video_popup
    .close
      #video_close
        // top: 6% 
        // left: 86% 
         
    .video_wrapper
      display: flex
      justify-content: center
      align-items: center
      width: 100%
      height: 100%  
      .iframe
        width: 21rem
        height: 16rem
        top: 0
        left: 0
        position: relative 
        
