h3 запис на консультацію
table  
  tr
    h5 імя та призвище
    = @consultation[:klients_name] 
  tr
    h5 телефон клієнта
    = @consultation[:phone_number]
  tr
    h5 електронна пошта клієнта
    = @consultation[:mail] 
  tr
    h5 бажана година
    = @consultation[:select] 
  