.about_school
  .about_image
    .container-fluid
      / .shadow
      .img-bg style="background-image:url('#{@about_school.main_image}')"
        .row
          .col-12.col-md-12.col-xl-12
            .about-text =@about_school.main_describe
            .about-title=@about_school.main_title
  .paralax_wrapper_1
    .wrapper_all_about_content
      h1.about-head-title
        = @about_school.first_title
      .about-line
        .green-line
        .green-dot
      .about-head-describe
        p=@about_school.first_description
      .grey-circle
    .about_about_school
      .container
        .wrapper-top
          .row
            .col-12.col-md-6.col-xl-6
              .first-top-image
                .img-bg style="background-image:url('#{@about_school.first_image}')"
                .first_top_circle
              / .middle-grey-circle
            .col-12.col-md-6.col-xl-6
              h2.top.about-title
                = @about_school.second_title

              .top.about-describe
                p=@about_school.second_description
              h2.top.about-title_1
                = @about_school.third_title
              .top.about-describe_1
                p=@about_school.third_description
              h2.top.about-title_2
                = @about_school.fourth_title
              .top.about-describe_2
                p=@about_school.fourth_description
        .top-middle
          .row
            .col-12.col-md-6.col-xl-6
              .top.middle-title=@about_school.title_principes
              .top.middle_describe=@about_school.new_way_description
              h2.top.middle_base_title
                = @about_school.base_title
              .top.middle-list
                ol
                  li.middle-describe
                    p=@about_school.first_line_principes
                  li.middle-describe
                    p=@about_school.second_line_principes
                  li.middle-describe
                    p=@about_school.third_line_principes
                  li.middle-describe
                    p=@about_school.fourth_line_principes
                  / li.middle-describe
                    / p=@about_school.fifth_line_principes
            .col-12.col-md-6.col-xl-6
              .top.middle-image
                .img-bg style="background-image:url('#{@about_school.second_image}')"
                .top_svg
                  .small_top_circle
      .middle_circle_block
        .middle_svg
        .middle-middle-circle
      .middle-middle-title=@about_school.title_school
        / |Школа здоров’я «Живасвіт»
        / br
        / |реалізується в трьох напрямках:
      .container
        .row
          .block-info
            .info
              span.info_information=@about_school.information
              span.info_title=@about_school.practice_title
              .info_describe
                p=@about_school.information_description
            .practise
              span.practise_info=@about_school.practice
              span.practise_title=@about_school.vacation_title
              .practise_describe
                p=@about_school.practice_description
            .rest
              span.rest_info=@about_school.vacation
              span.rest_title=@about_school.vacation_title
              .rest_describe
                p=@about_school.vacation_description
  .paralax_wrapper_2
    .wrapper_shupailo
      .about_head_title=@about_school.shypailo_name

      .shupailo_line
        .orange_line
        .orange_dot
      .about-head-describe
        p=@about_school.shypailo_describe
    .ihor_shypailo
      .container
        .row
          .col-12.col-md-5.col-xl-5
            .describe-text
              .top-shup-title=@about_school.shypailo_first_title

              .top-shup-describe
                p=@about_school.shypailo_first_describe
              .shup_circle
              .shup_circle_1
          .col-md-1.col-xl-1
          .col-12.col-md-6.col-xl-6
            .first-shup-image
              .img-bg style="background-image:url('#{@about_school.shypailo_image}')"
              .shup_citcle
        .row
          .col-12.col-md-9.col-xl-9
            .wrapper_igor_way
              .way_info
                .way_text=@about_school.shypailo_way
              .wrapper_way_circle
                .way_circle
                .way_circle_1

      .way_circle_info
        button.next_arr
        .circle_arr

        .slider_info

          div
            .first_circle_info.size_circle
              .first_date.date
                |1982
              .first_text.text
                |Диплом Львівського Державного медичного інституту
                br
                |спеціальність лікувальна справа присвоєно кваліфікацію лікар
            .small_first_circle.small_circle
            / .first_photo_big
          div
            .second_circle_info.size_circle
              .second_date.date
                |1982
              .second_text.text
                |Інтернатура по анестезіології-реаніматології
            .small_second_circle.small_circle

          div
            .third_circle_info.size_circle
              .third_date.date
                |1983
              .third_text.text
                |Львівська обласна клінічна лікарня-
                br
                |лікар анестезіолог (анестезіологічно-реанімаційне відділення)

          div
            .fourth_circle_info.size_circle
              .fourth_date.date
                |1989
              .fourth_text.text
                |Лікар-анестезіолог реаніматолог в львівському міському пологовому будинку №2

          div
            .fifth_circle_info.size_circle
              .fifth_date.date
                |1992
              .first_text.text
                |Лікар-терапевт та зав відділенням в пансіонаті “Смерічка’’

          div
            .six_circle_info.size_circle
              .first_date.date
                |2007
              .first_text.text
                |Заснування системи
                br
                |“Живасвіт”
            .small_six_circle.small_circle
          div
            .seven_circle_info.size_circle
              .second_date.date
                |2009
              .second_text.text
                |Кваліфікація спеціаліста
                br
                | фізіотерапевта
            .small_seven_circle.small_circle

          div
            .ten_circle_info.size_circle
              .fifth_date.date
                |2018
              .first_text.text
                |Розвиток та модернізація школи "Живаствіт"
            .small_fifth_circle.small_circle
        .wrapper_hide
          .first_photo_big
          .second_photo_big
          .third_photo_big
          span.close
              | ×


  .paralax_wrapper_3
    .how_we_help
      .help_title
        .title_h=@about_school.help_title

        .circle_title
      .help_line
        .help_blue_line
        .help_blue_dot
      .help_describe
        p=@about_school.help_describe

    .steps
      .container
        .row
          .block_steps
            .col-12.col-md-5.col-xl-5
              .step_1_title
                .step_1_circle
                span.title_step=@about_school.step_one

                span.title_step_consultation=@about_school.step_one_title

                  .step_circle
              .step_describe
                p=@about_school.step_one_describe
              .register
                .r_line
                  .blue_dot
                  .blue_line
                .register_describe onclick="myFunction()"
                  |записатись на консультацію
            .col-0.col-md-1.col-xl-1
            .col-12.col-md-5.col-xl-5

              .step_2_title
                span.title_step=@about_school.step_two

                span.title_step_program=@about_school.step_two_title

              .program_describe
                p=@about_school.step_two_describe
              .details
                .d_line
                  .blue_dot
                  .blue_line
                .details_describe
                  a href=program_path детальніше про програму


        .wrapper_p_describe
          h2.program_describe_title
            = @about_school.main_methodology

          .program_svg
          .program_circle

        .program_block_1
          .block_dietology
            .block_d_head
              a.dieto_p href=dietology_path
                .block_d_image
                h3.block_d_title=@about_school.dietoterapy_title

            .block_d_describe
              p=@about_school.dietoterapy_describe
            .circle_d
            .details
              .green_dot
              .green_line
              .details_describe
                a href=dietology_path детальніше
          .block_kinezoterapy
            .block_k_head
              a.kinezo_p href=kinezoterapy_path
                .block_k_image
                h3.block_k_title=@about_school.kinezoterapy_title

            .block_k_describe

              p=@about_school.kinezoterapy_describe

            .details
              .green_dot
              .green_line
              .details_describe
                a href=kinezoterapy_path детальніше

        .program_block_2
          .block_manual
            .block_m_head
              a.manual_p href=manual_path
                .block_m_image
                h3.block_m_title=@about_school.manual_title

            .block_m_describe
              p=@about_school.manual_describe
            .details
              .green_dot
              .green_line
              .details_describe
                a href=manual_path детальніше
          .block_psychology
            .block_p_head
              a.psyho_p href=psychoterapy_path
                .block_p_image
                h3.block_p_title=@about_school.psyhoterapy_title

              .circle_p
            .block_p_describe
              p=@about_school.psyhoterapy_describe
            .details
              .green_dot
              .green_line
              .details_describe
                a href=psychoterapy_path детальніше

        .program_block_3
          .block_kosmetology
            .block_kosmetology_head
              a.kosmetology_p href=kosmetology_path
                .block_kosmetology_image
                h3.block_kosmetology_title
                  |Косметологія
            .block_kosmetology_describe
              |Шкіра обличчя підлягає підвищеному ризику впливів агресивних екологічних і психо-емоційних навантажень, що веде до виснаження адаптивних можливостей шкіри і передчасному старінню. Косметологія в форматі "Школа здоров'я", - використання інноваційних технологій, які базуються виключно на фізіологічних процесах, які відбуваються в шкірі з плином часу.
            .details
              .green_dot
              .green_line
              .details_describe
                a href=kosmetology_path детальніше
          .block_climat
            .block_climat_head
              a.klimat_p href=klimatoterapy_path
                .block_climat_image
                h3.block_climat_title
                  |Кліматотерапія
              .circle_climat
            .block_climat_describe
              |Людський організм це структура, яка є частиною цілого, тобто природи. І цілком закономірно, що існує функціональний, глибинний зв’язок між організмом і природним середовищем. Школа здоров'я "Живасвіт" сформувала відповідні програми, де в умовах гірського ландшафту можна поєднатися з природою (енергією) гір, ознайомитися з технікою взаємодії з природними стихіями, попрактикувати йогу та ци-гун.
            .details
              .green_dot
              .green_line
              .details_describe
                a href=klimatoterapy_path детальніше
    .bottom_ddd
      = render "bottom_image"
