/ h1
/   |asdafsdf

.article
  .about_image
    .container-fluid
      .img-bg style="background-image:url(#{@article.image})"
        .about-text
          |Стаття на тему
        h1.about-title =@article.title
  .paralax_wrapper_1
    .container
      .article_wrapper
        .row
          .col-10.col-md-10.col-xl-10
            h2.article_title =@article.title

          .col-12.col-md-12.col-xl-12
            .first_describe
              = raw @article.describe
        - if @article.video.present?
          .row
            .col-1.col-md-1.col-xl-1
            .col-10.col-md-10.col-xl-10
              .video_wrapper
                iframe class='iframe_video' src="#{@article.video}"
            .col-1.col-md-1.col-xl-1

      .title_wrapper
        h3.title
          |Вас може зацікавити:
        .green_line_wrapper
          .green_line
          .green_dot
          .arrow_1
          .arrow_2

      .slider_car#slider_car
        - @articles.each do |article|
          div.slick_slider
            a href=article.url
              img.img-bg.slider src=article.image
            .body
              h4.slider_program-title
                a href=article.url
                  = article.title
              .slider_program-date
                = article.formatted_date
              - if article.short_description.present?
                .slider_program-describe
                  = article.short_description

      / = render "slider_interesting"
  .paralax_wrapper_2
    = render "bottom_image"




.iframe
