.blog
  .wrapper_image
    .img-bg style="background-image:url(#{@blog.main_image})"
      .top-text
        = @blog.main_describe
      h1.title
        = @blog.main_title

  .wrapper_all_content
    .wrapper-top
      h2.top-title
        = @blog.first_title

      .blog_line
        .green-line
        .green-point
      .top-describe
        = @blog.first_describe

  .wrapper_articles
    .container
      .row
        .col-12.col-md-0.col-lg-0
          .block_mobile
            .box_header_mobile
              .header_title_mobile
                .photo_header_mobile
                  .img-bg style="background-image:url(#{asset_path('photo/igor.jpg')})"
                .title_header_mobile
                  |Ігор Шипайло
                  .author_mobile
                    |автор
              .describe_header_mobile
                |Засновник школи здоров'я. Дипломований спеціаліст, практикуючий натуропат, вчитель йоги, тайцзицюань, кендзюцу.
            .category_mobile
              .category_m_title
                |Категорії
              .category_icon
                .arrow
                .arrow1
            .dropdown_m
              .dropdown_categories
                button#all.all_category.category data-category="all"
                  |Всі категорії
                button.first_category.category data-category="здоровʼя"
                  = @blog.first_category
                button.second_category.category data-category="самозбереження"
                  = @blog.second_category
                button.third_category.category data-category="реалізація"
                  = @blog.third_category

                button.fourth_category.category data-category="комунікація"
                  = @blog.fourth_category
      .wrapper_1
        .row
          .col-0.col-md-3.col-lg-3
            .first_block
              .box_header
                .header_title
                  .photo_header
                    .img-bg style="background-image:url(#{asset_path('photo/igor.jpg')})"
                  .title_header
                    |Ігор Шипайло
                    .author
                      |автор
                .describe_header
                  |Дипломований спеціаліст.
                  br
                  |Практикуючий фізіотерапевт.
              .category_wrapper
                .category_title
                  |Категорії
                .green_line
                  .line
                  .dot
                .categories
                  button#all.all_category.category data-category="all"
                    |Всі категорії
                  button.first_category.category data-category="здоровʼя"
                    |людина і здоровʼя
                  button.second_category.category data-category="самозбереження"
                    |людина і самозбереження

                  button.third_category.category data-category="реалізація"
                    |людина і творча реалізація

                  button.fourth_category.category data-category="комунікація"
                    |людина і комунікація

              .subscribe_wrapper
                .subscribe_title
                  |Підпишіться!
                .green_line
                  .line
                  .dot
                .subscribe_describe
                  |Отримуйте нові статті першими. Тільки корисна інформація.
                .email_wrapper
                  =form_for @subscriber do |f|
                    =f.text_field :email
                    .button_w
                      = f.submit :value=>"Підписатись", :id=> "button_w"

                / form[action="create"]
                /   / |  Please enter your name.
                /   input[type="text" name="text1"]
                /   input[type="submit"]

              .media_wrapper
                .media_title
                  |Соц. мережі:
                .green_line
                  .line
                  .dot
                .media_icons
                  .facebook
                    a href=facebook_url rel="nofollow" target="_blank"
                      .face_svg = inline_svg "icons/fb.svg"
                  .insta
                    a href=instagram_url rel="nofollow" target="_blank"
                      .insta_svg = inline_svg "icons/instagram-logo.svg"



          .col-12.col-md-9.col-lg-9
            .all_articles_wrapper
              |Усі статті
            .green_line_art
            #parent.card_place.row
              - @articles.each do |article|
                .card.col-12.col-md-6.col-lg-4[class=article.category]
                  .link_wrapper
                    a href=article.url
                      img.card-img-top src=article.image
                        .read_title
                          |читати
                      h3.card-title
                        = article.title
                  .card-body
                    .card-date
                      =article.formatted_date
                    - if article.short_description.present?
                      p.card-text
                        = article.short_description
  .wrapper_bottom
    = render "bottom_image"
