.contacts
	.contacts_title_wrapper
		.contacts_title
			|Контакти
		.contacts_line
			.red_line
			.red_dot
		.contacts_describe
			|Ви можете зв'язатись з Ігором будь-яким зручним для Вас способом.
		.container
			.map_contacts_wrapper
				.row
					.col-12.col-md-6.col-xl-6
						.adress_wrapper
							.address
								.address_block
									#addreslogo.adress_logo
										.address_svg = inline_svg "icons/location.svg"
									.add_name
										.address_title
											|Адреса:
										.adress_adress
											|м. Львів, вул. Мечнікова 20
							.phone_wrapper
								.phone_block
									.phone_logo
										.phone_svg = inline_svg "icons/phone.svg"
									.phone_name
										.phone_number_first
                                          a.contact-link href=primary_phone_url rel="nofollow"
											= primary_phone
										.phone_number_second
                                          a.contact-link href=secondary_phone_url rel="nofollow"
											= secondary_phone
							.mail_wrapper
								.mail_block
                                  a.contact-link href=primary_email_url rel="nofollow"
									.mail_logo
										.mail_svg = inline_svg "icons/mail.svg"
									.mail_name
										= primary_email

                            .skype_wrapper
                              .mail_block
                                a.contact-link href=skype_url rel="nofollow"
                                  .mail_logo
                                    .mail_svg = inline_svg "svg/skype-logo.svg"
                                  .mail_name
                                    = skype

							.lookme_wrapper
								.lookme_name
									|Шукайте мене у
								.look_facebook
									.face_logo
                                      a href=facebook_url rel="nofollow" target="_blank"
										.face_svg = inline_svg "icons/fb.svg"
								.look_insta
                                  a href=instagram_url rel="nofollow" target="_blank"
									.insta_svg = inline_svg "icons/instagram-logo.svg"
					.col-md-6.col-xl-6
						.map_wrapper
							.iframe
								iframe  src=google_map_iframe_url width="600" height="600" frameborder="0" allowfullscreen=""
							.svg_frame
	.wrapper_2

		= render "bottom_image"
		/ .bottom-image

		/ 	.container-fluid
		/ 		.shadow_wrapper
		/ 		.img-bottom style="background-image:url(#{asset_path('photo/1.jpg')})"
		/ 			.bottom_text_1
		/ 				|Запрошуємо на консультацію
		/ 			.bottom_text_2
		/ 				|безкоштовно!
		/ 			.button
		/ 				button.name-btn type="submit" Запсисатись



