.dietology
	.wrapper_image
		.container-fluid
			.img-bg style="background-image:url(#{@dietology.main_image})"
				.top-text =@dietology.main_describe

				h1.top-title =@dietology.main_title

	.paralax_wrapper_1
		.wrapper_all_content
			.container
				.row
					.col-12.col-md-12.col-xl-12
						h2.middle-title =@dietology.first_title

				.row
					.col
						.middle-description
							p=@dietology.first_description
							p=@dietology.second_description
							p=@dietology.third_description

				.row
					.col-12.col-md-12.col-xl-12
						.first_list_name =@dietology.first_title_list

				.row
					.col-12.col-md-12.col-xl-12
						.first_list
							ol
								li
							    p=@dietology.first_line_description_first
								li
							    p=@dietology.second_line_description_first
								li
									p=@dietology.third_line_description_first
								li
									p=@dietology.fourth_line_description_first
								li
									p=@dietology.fifth_line_description_first
								li
									p=@dietology.six_line_description_first
				.row
					.col-12.col-md-12.col-xl-12
						.second_list_name =@dietology.second_title_list

				.row
					.col-12.col-md-12.col-xl-12
						.second_list
							ol
								li
							    p=@dietology.first_line_description_second
								li
							    p=@dietology.second_line_description_second
								li
									p=@dietology.third_line_description_second
								li
									p=@dietology.fourth_line_description_second
				.row
					.col-12.col-md-12.col-xl-12
						.circle_1
							.inside
						.row
							.col-12.col-md-8.col-xl-8
								.text_inside =@dietology.bottom_title
			.wrapper_slider
			= render "slider_interesting"

	.paralax_wrapper_2
		= render "bottom_image"
		/ .bottom-image
		/ 	.container-fluid
		/ 		.shadow_wrapper
		/ 		.img-bottom style="background-image:url(#{asset_path('photo/1.jpg')})"
		/ 			.bottom_text_1
		/ 				|Запрошуємо на консультацію
		/ 			.bottom_text_2
		/ 				|безкоштовно!
		/ 			.button
		/ 				button.name-btn type="submit" Запсисатись