.main
  .paralax_wrapper_1
    .container
      .row
        .col-12.col-md-12.col-lg-12
          .top_top
            svg[xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1664.62 1710.17"]
              defs
                style
                  | .c3b375e9-6bda-4496-b3d7-01a6a25cd98f{fill:#F5F5F5;stroke:#f5f5f5;stroke-miterlimit:10;stroke-width:8.5px;}
              g#a4c1cf05-dc08-49a2-a5b0-15a46924ccba[data-name="Layer 2"]
                g#b736afd7-fb73-4980-8442-6197b3962636[data-name="Layer 1"]
                  path.c3b375e9-6bda-4496-b3d7-01a6a25cd98f[d="M1243.87,4.25c-230,0-416.5,186.47-416.5,416.5a417,417,0,0,0,14.28,108.52A173.43,173.43,0,0,1,844.78,548c.81,3.44,2.22,22.65,2.22,34.33,0,266.42-204.35,485.13-464.86,507.93h-.06q-9.14.36-18.36.35c-6.7,0-27.77,1.05-36.22.92q-7.88-.4-15.86-.4c-169.77,0-307.39,137.62-307.39,307.39s137.62,307.39,307.39,307.39S619,1568.29,619,1398.53c0-14.15.43-28-1.42-41.61C606,1077.45,834.55,825.25,1114.28,825.25c7.46,0,35.56,2.41,54.87,5.31a418.94,418.94,0,0,0,74.72,6.69c230,0,416.5-186.47,416.5-416.5S1473.9,4.25,1243.87,4.25Z"]
      .row
        .col-12.col-md-6.col-lg-6
          .wrapper_top
            h1.school_title =@main_page.main_title

            .orange_line
          .list_top
            .list_top_title =@main_page.main_title_list
            .list_top_describe
              ol
                li
                  p=@main_page.first_line_list
                li
                  p=@main_page.second_line_list
                li
                  p=@main_page.third_line_list
            .list_top_details
              .green_dot
              .green_point
              .green_details
                a href=about_school_path детальніше
            .top_gray_circle
          .top_details
          / .top_big_circle

        .col-12.col-md-6.col-lg-6
          .top_wrapper_image
            .img-bg style="background-image:url(#{@main_page.first_image})"
            .top_blue_circle
            .top_small_circle
              .circle_11111


    .container
      .top_middle
        .row
          .col-12.col-md-6.col-lg-6
            .top_middle_title
              .top_orange_circle
              .ihor_photo
                .img-bg style="background-image:url(#{@main_page.second_image})"
                .bottom_info_name_1
                  .bottom_top_title=@main_page.about_author_title
                  .bottom_top_name=@main_page.authors_name
                  .bottom_top_describe
                    p=@main_page.authors_describe
              / .middle_half_circle
          .col-12.col-md-6.col-lg-6

            .about_autor_block
              h2.middle_top_title=@main_page.why_we_sick_title
              .middle_top_describe
                p=@main_page.why_we_sick_describe
              h3.middle_middle_text=@main_page.new_way_title

              .middle_middle_describe
                p=@main_page.new_way_describe
            .middle_details
              .green_dot
              .green_point
              .green_details
                a href=about_school_path детальніше
            .middle_gray_circle
        .row
          .col-12.col-md-6.col-lg-6
            .bottom_info_name
              .bottom_top_title=@main_page.about_author_title
              .bottom_top_name=@main_page.authors_name
              .bottom_top_describe
                p=@main_page.authors_describe
          .col-12.col-md-6.col-lg-6
            .wrapper_video
              button.video_box type="button"

              .video_describe
                p=@main_page.video_title
            =render "video_popup"
  .wrapper_paralax_2
    h2.middle_directions=@main_page.ways_title

    .middle_directions_line
      .dir_line
      .dir_point
    .middle_directions_describe
      p=@main_page.ways_describe
    .middle_middle
      .container
        .info_white_circle
        .info_info
          .svg_image
            svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1471.08 1970.07"
              defs
                style
                  | .b9b29391-fc2a-402e-913b-129ce45122a7{fill:#fff;}
              g#bef2e624-4e51-4572-b3bd-a5a058f80977[data-name="Layer 2"]
                g#e092c18a-2690-46a0-96f3-eff73f55ff58[data-name="Layer 1"]
                  path.b9b29391-fc2a-402e-913b-129ce45122a7[d="M395,663.88h0a340.16,340.16,0,0,0-57-4.81c-186.67,0-338,151.33-338,338s151.33,338,338,338c27.63,0,54.48-2.77,80.18-9h0a325.62,325.62,0,0,1,54.36-4.57c166.79,0,304.06,126.41,321.23,288.66h0q-.66,10.63-.68,21.42,0,13.27,1,26.3.31,4.25.75,8.47c0-.08,0-.18,0-.27v.16c13.29,174.51,160.23,303.85,338.14,303.85,186.67,0,338-151.33,338-338s-151.33-338-338-338a340.78,340.78,0,0,0-47.5,3.34c-1.1,0-1.39,0-1.54,0-10,1.08-8.16.77-18,2.28-6.81,1-13.5,2.53-20.32,4l.36-.11a323.3,323.3,0,0,1-46.5,3.81c-170.33,0-309.77-132.71-321.43-300.77q.14-4.29.17-8.61c0-.63,0-1.27,0-1.9,0-3.81-.06-7.59-.19-11.36q-.22-6.84-.73-13.59a320.53,320.53,0,0,1,17.81-94.89l.13-.37q.69-1.92,1.41-3.81l1-2.59q2-5.18,4.18-10.27,1.08-2.55,2.22-5.07l1.14-2.52c.61-1.34,1.23-2.67,1.87-4a.08.08,0,0,1,0,0c.6-1.29,1.23-2.58,1.86-3.86a1.37,1.37,0,0,0,.06-.13q1.94-3.95,4-7.81c.68-1.3,1.37-2.6,2.08-3.89s1.41-2.58,2.13-3.85l.12-.22c.68-1.2,1.36-2.4,2.06-3.59s1.47-2.53,2.23-3.79,1.5-2.5,2.28-3.75,1.38-2.23,2.08-3.34c.59-.94,1.19-1.87,1.79-2.79l1.29-2c.53-.79,1.05-1.59,1.59-2.38.17-.26.34-.52.53-.78.54-.82,1.1-1.64,1.67-2.45q3.18-4.65,6.55-9.16c.57-.78,1.15-1.55,1.73-2.32,1.52-2,3.06-4,4.63-6,.64-.82,1.29-1.63,2-2.44a2.37,2.37,0,0,1,.21-.26c.73-.91,1.48-1.83,2.23-2.73q5-6,10.25-11.79c.87-.95,1.74-1.89,2.62-2.83s1.77-1.88,2.66-2.81,1.79-1.86,2.69-2.78,1.81-1.83,2.72-2.74l2.61-2.57q5.61-5.47,11.48-10.65c.83-.74,1.66-1.46,2.5-2.19l.53-.46c.94-.81,1.88-1.61,2.83-2.4.76-.65,1.53-1.29,2.31-1.93q1.47-1.23,2.94-2.4c.6-.5,1.2-1,1.81-1.45q8.69-6.91,17.83-13.22c.83-.57,1.66-1.14,2.49-1.69.23-.17.47-.32.7-.48l2.24-1.49c.64-.43,1.29-.85,1.94-1.27,1-.67,2.06-1.33,3.1-2l1.9-1.21q5.48-3.41,11.1-6.61c1.07-.62,2.15-1.22,3.23-1.82q2.3-1.27,4.62-2.5c1-.53,2-1,2.94-1.55l1-.5c1.11-.58,2.22-1.14,3.34-1.7l.11-.06c1.31-.65,2.62-1.3,3.93-1.93s2.48-1.19,3.72-1.77c1.43-.67,2.86-1.32,4.29-2s2.69-1.2,4.05-1.79q4.06-1.77,8.18-3.41c1.38-.56,2.76-1.1,4.14-1.63l1.64-.64q1.26-.48,2.52-.93a326.77,326.77,0,0,1,111.25-19.27,336.63,336.63,0,0,1,52.88,3.79l12.59,1.41,0,0a339.27,339.27,0,0,0,69.33,7.15c186.67,0,338-151.33,338-338S1319.75,0,1133.08,0s-338,151.33-338,338c0,2.29,0,4.57.09,6.85l0-.06c0,3.45-.23,1.83-.12,5.25.05,1.95-.09,3.06,0,5-1.12,176-147.65,317.51-326.38,317.51-17.65,0-34-3.7-50.88-6.37l.21.07a49.56,49.56,0,0,0-5.85-.79c-11.23-1.29-5.65-.27-17.06-1.58h0M676,984.75h0Zm.23,13.43c0-1.08-.06-2.16-.1-3.24,0,1.08.06,2.16.1,3.24Zm118.64,662.15s0,.07,0,.11A.61.61,0,0,1,794.84,1660.33Z"]
                circle.b9b29391-fc2a-402e-913b-129ce45122a7[cx="395.05" cy="664.05" transform="translate(-73.51 49.66) rotate(-6.58)"]
                path.b9b29391-fc2a-402e-913b-129ce45122a7[d="M415.26,1326.73q-7.89,1.39-15.65,3.2C404.85,1329,410.08,1327.92,415.26,1326.73Z"]
          .row
            .middle_middle_wrapper
              .col-12.col-md-6.col-lg-6
                .middle_info_block
                  h3.middle_info_title.title_h3=@main_page.info_title

                  .middle_info_describe
                    p=@main_page.info_describe

              .col-12.col-md-6.col-lg-6
                .middle_info_photo
                  .img-bg style="background-image:url(#{@main_page.info_image})"
        .row
          .col-12.col-md-6.col-lg-6
            .practice_circle
            .middle_practise_photo
              .img-bg style="background-image:url(#{@main_page.practise_image})"

          .col-12.col-md-6.col-lg-6
            .practise_gray_circle
            .practise_practise
              h3.middle_practise_title.title_h3=@main_page.practise_title

              .middle_practise_describe
                p=@main_page.practise_describe
              .middle_practise_circle
            .practise_white_square

        .row
          .help_wrapper
            .col-6
              .help_white_circle
              .help_help
                .middle_help_title.title_h3=@main_page.help_title

                .middle_help_describe
                    p=@main_page.help_desciribe
            .col-6
              .middle_help_photo
                .help_circle
                .img-bg style="background-image:url(#{@main_page.help_image})"
  .feeling_wrapper
    .feeling_title=@main_page.feeling_title
    .feeling_line_wrapper
      .feeling_line
      .feeling_dot
    .container
      .row
        .col-12.col-md-12.col-lg-12
          .diagnos_wrapper
            .first_line_wrapper
              .headach_wrapper
                .headach_title.hower_efect=@main_page.headach_title
                .pain_wrapper=@main_page.pain_title
                .headach_line_wrapper
                  .headach_line
                  .headach_dot
            .insomnia_wrapper
              .insomnia_title=@main_page.insomina_title

              .insomnia_circle
            .memory_wrapper=@main_page.memory_title
              / |Погіршення концентрації, пам’яті

            .fatigue_wrapper
              .fatigue_title=@main_page.fatigue_title

              .fatigue_circle
            .second_line_wrapper
              .irritab_wrapper=@main_page.irritable_title

            .third_line_wrapper

              .pressure=@main_page.pressure_title



            .fifth_line_wrapper
              .depresion=@main_page.depresion_title

              .weight=@main_page.weight_title
      .row
        .col-12.col-md-12.col-lg-12
          .chronic_wrapper
            .circle_chronic
            .chronic_title=@main_page.chronic_title
            .chronic_describe_first
              p=@main_page.chronic_describe

            .chronic_describe_second
              |Тому лікування і профілактика синдрому хронічної втоми є ефективним способом відновлення здоров’я і запобігання передчасного старіння.
      h2.how_to_work_wrapper=@main_page.how_to_work_title

      .describe_wrapper
        .konsultation
          .konsultation_circle
          .flex-wrapper
            .single-chart
              svg.circular-chart.white[viewbox="0 0 36 38"]
                path.circle-bg[d="M18 2.0845
                  a 15.9155 15.9155 0 0 1 0 31.831
                  a 15.9155 15.9155 0 0 1 0 -31.831"]
                path.circle[stroke-dasharray="20, 100" d="M18 2.0845
                  a 15.9155 15.9155 0 0 1 0 31.831
                  a 15.9155 15.9155 0 0 1 0 -31.831"]
                text.percentage[x="18" y="20.35"]
                  | 1
              h3.white_title.circle_title=@main_page.konsultation_title

                p
              .white_description.circle_description
                p=@main_page.konsultation_describe
            .single-chart
              svg.circular-chart.blue[viewbox="0 0 36 38"]
                path.circle-bg[d="M18 2.0845
                  a 15.9155 15.9155 0 0 1 0 31.831
                  a 15.9155 15.9155 0 0 1 0 -31.831"]
                path.circle[stroke-dasharray="40, 100" d="M18 2.0845
                  a 15.9155 15.9155 0 0 1 0 31.831
                  a 15.9155 15.9155 0 0 1 0 -31.831"]
                text.percentage[x="18" y="20.35"]
                  | 2
              h3.blue_title.circle_title=@main_page.detoks_title

                p
              .blue_description.circle_description
                p=@main_page.detoks_describe
            .single-chart
              svg.circular-chart.green[viewbox="0 0 36 38"]
                path.circle-bg[d="M18 2.0845
                  a 15.9155 15.9155 0 0 1 0 31.831
                  a 15.9155 15.9155 0 0 1 0 -31.831"]
                path.circle[stroke-dasharray="60, 100" d="M18 2.0845
                  a 15.9155 15.9155 0 0 1 0 31.831
                  a 15.9155 15.9155 0 0 1 0 -31.831"]
                text.percentage[x="18" y="20.35"]
                  | 3
              h3.green_title.circle_title=@main_page.koretion_title

                p
              .green_description.circle_description
                p=@main_page.koretion_describe
            .single-chart
              svg.circular-chart.orange[viewbox="0 0 36 38"]
                path.circle-bg[d="M18 2.0845
                  a 15.9155 15.9155 0 0 1 0 31.831
                  a 15.9155 15.9155 0 0 1 0 -31.831"]
                path.circle[stroke-dasharray="80, 100" d="M18 2.0845
                  a 15.9155 15.9155 0 0 1 0 31.831
                  a 15.9155 15.9155 0 0 1 0 -31.831"]
                text.percentage[x="18" y="20.35"]
                  | 4
              h3.orange_title.circle_title=@main_page.restore_title

                p
              .orange_description.circle_description
                p=@main_page.restore_describe
            .single-chart
              svg.circular-chart.red[viewbox="0 0 36 38"]
                path.circle-bg[d="M18 2.0845
                  a 15.9155 15.9155 0 0 1 0 31.831
                  a 15.9155 15.9155 0 0 1 0 -31.831"]
                path.circle[stroke-dasharray="100, 100" d="M18 2.0845
                  a 15.9155 15.9155 0 0 1 0 31.831
                  a 15.9155 15.9155 0 0 1 0 -31.831"]
                text.percentage[x="18" y="20.35"]
                  | 5
              h3.red_title.circle_title=@main_page.helping_title

                p
              .red_description.circle_description
                p=@main_page.helping_describe
      .konsultation_wrapper
        .title_kosultation
          |Безкоштовна консультація
        .describe_konsultation
          |Ми допоможемо вирішити Вашу проблему та підібрати програму саме для Вас!
        .button_kons
          button.name-btn onclick="myFunction()"
            |Записатися
      .green_circl


  .feedback_wrapper
  =render "problem"
  = render "slider_interesting"

  .contacts
    .contacts_title_wrapper
      .contacts_title
        |Контакти
      .contacts_line
        .red_line
        .red_dot
      .contacts_describe
        |Ви можете зв'язатись з Ігором будь-яким зручним для Вас способом.
    .container
      .map_contacts_wrapper
        .row
          .col-12.col-md-6.col-xl-6
            .adress_wrapper
              .address
                .address_block
                  #addreslogo.adress_logo
                    .address_svg = inline_svg "icons/location.svg"
                  .add_name
                    .address_title
                      |Адреса:
                    .adress_adress
                      |м. Львів, вул. Мечнікова 20
              .phone_wrapper
                .phone_block
                  .phone_logo
                    .phone_svg = inline_svg "icons/phone.svg"
                  .phone_name
                    .phone_number_first
                      a.contact-link href=primary_phone_url rel="nofollow"
                        = primary_phone
                    .phone_number_second
                      a.contact-link href=secondary_phone_url rel="nofollow"
                        = secondary_phone
              .mail_wrapper
                .mail_block
                  a.contact-link href=primary_email_url rel="nofollow"
                    .mail_logo
                      .mail_svg = inline_svg "icons/mail.svg"
                    .mail_name
                      = primary_email
              .skype_wrapper
                .mail_block
                  a.contact-link href=skype_url rel="nofollow"
                    .mail_logo
                      .mail_svg = inline_svg "svg/skype-logo.svg"
                    .mail_name
                      = skype
              .lookme_wrapper
                .lookme_name
                  |Шукайте мене у
                .look_facebook
                  .face_logo
                    a href=facebook_url rel="nofollow" target="_blank"
                      .face_svg = inline_svg "icons/fb.svg"
                .look_insta
                  a href=instagram_url rel="nofollow" target="_blank"
                    .insta_svg = inline_svg "icons/instagram-logo.svg"
          .col-md-6.col-xl-6
            .map_wrapper
              .iframe
                iframe src=google_map_iframe_url width="600" height="600" frameborder="0" allowfullscreen=""
              .circle_iframe
              .small_circle
                .circle_iframe_1
                .circle_1_svg

























