.kinezoterapy
	.about_image
		.container-fluid
			.img-bg style="background-image:url(#{@kinezoterapy.main_image})"
				.about-text =@kinezoterapy.main_describe

				h1.about-title =@kinezoterapy.main_title

	.paralax_wrapper_1
		.wrapper_all
			.container
				.kinezo_wrapper
					.row
						.col-12.col-md-11.col-xl-11
							h2.title_top =@kinezoterapy.first_title

							.describe_top
								p=@kinezoterapy.first_description
					.row
						.col-12.col-md-11.col-xl-11
							.title_technicks = @kinezoterapy.title_technicks

						.col-md-1.col-xl-1
								.circle_technicks
					.first_1
						.row
							.col-12.col-md-6.col-xl-6
								.block_11
									.title_first
										span.title_number_first
											|1.
										h2.title_name_first = @kinezoterapy.first_technick_title

									.describe_first
										p=@kinezoterapy.first_technick_describe
									.circle_middle
									.title_middle_first =@kinezoterapy.first_list_title

									.middle_first_list
										ol
											li.middle_list
												p=@kinezoterapy.first_line_first
											li.middle_list
												p=@kinezoterapy.first_line_second
											li.middle_list
												p=@kinezoterapy.first_line_third
									.individual_first =@kinezoterapy.first_describe_end


							.col-12.col-md-6.col-xl-6
								.top_first_image
									.img-bg style="background-image:url(#{@kinezoterapy.first_image})"
								.top_first_circle
					.middle_wrapper
						.row
							.col-12.col-md-6.col-xl-6
								.middle_image
									.img-bg style="background-image:url(#{@kinezoterapy.second_image})"
								.middle_image_circle
							.col-12.col-md-6.col-xl-6
								.title_second
									span.title_number_second
										|2.
									h2.title_name_second =@kinezoterapy.second_title

									.describe_second
										p=@kinezoterapy.second_description
								.circle_second
					.row
						.col-12.col-md-6.col-xl-6
							.title_third
								.third_circle
								span.title_number_third
									|3.
								h2.title_name_third =@kinezoterapy.third_title


								.describe_third
									p=@kinezoterapy.third_description
							.title_middle_third
								|А саме:
							.middle_third_list
								ol
									li.third_list
										|збалансовує крово-лімфообіг організму
									li.third_list
										|збільшує енергозатрати організму
									li.third_list
										|корекція функцій внутрішніх органів
						.col-12.col-md-6.col-xl-6
							.third_image
								.img-bg style="background-image:url(#{@kinezoterapy.third_image})"
							.third_image_circle
			.slider_wrapper
			= render "slider_interesting"

	.paralax_wrapper_2
		= render "bottom_image"