.klimatoterapy
	.about_image
		.container-fluid
			.img-bg style="background-image:url(#{@klimatoterapy.main_image})"
				.about-text =@klimatoterapy.main_describe
				h1.about-title =@klimatoterapy.main_title
	.paralax_wrapper_1
		.container
			.klima_wrapper
				.row
					.col-10.col-md-10.col-xl-10
						h2.klimatoterapy_title =@klimatoterapy.first_title

					.col-12.col-md-12.col-xl-12
						.first_describe
							p =@klimatoterapy.first_description
						.second_describe
							p =@klimatoterapy.second_description
						.third_describe
							p =@klimatoterapy.third_description
						.fourth_describe
							p =@klimatoterapy.fourth_description
		= render "slider_interesting"
	.paralax_wrapper_2
		= render "bottom_image"



//= render"popup_consultation"