.kosmetology
  .about_image
    .container-fluid
      .img-bg style="background-image:url(#{@kosmetology.main_image})"
        .about-text =@kosmetology.main_describe

        h1.about-title =@kosmetology.main_title

  .paralax_wrapper_1
    .container
      .kosmo_wrapper
        .row
          .col-10.col-md-10.col-xl-10
            h2.kosmetology_title =@kosmetology.first_title

          .col-12.col-md-12.col-xl-12
            .first_describe
              p =@kosmetology.first_description
            .second_describe
              p =@kosmetology.second_description
            .third_describe
              p =@kosmetology.third_description
        .row
          .first_block
            .col-12.col-md-6.col-xl-6
              .fizio_wrapper
                span.fizio_number =@kosmetology.first_number

                h2.fizio_title =@kosmetology.fiziology_title

                .fizio_describe
                  p =@kosmetology.fiziology_describe
              .list_top_details
                .green_dot
                .green_point
                .green_details
                  a href=Article.find(8).url
                    |детальніше

            .col-0.col-md-1.col-xl-1
            .col-12.col-md-5.col-xl-5
              .fizio_image
                .img-bg style="background-image:url(#{@kosmetology.fiziology_image})"
        .row
          .second_block
            .col-12.col-md-5.col-xl-5
              .rekon_image
                .img-bg style="background-image:url(#{@kosmetology.rekonstruktive_image})"
            .col-0.col-md-1.col-xl-1
            .col-12.col-md-6.col-xl-6
              .rekon_wrapper
                span.rekon_number =@kosmetology.second_number

                h2.rekon_title =@kosmetology.rekonstruktive_title

                .rekon_describe
                  p =@kosmetology.rekonstruktive_describe
                .botolin_title =@kosmetology.botolino_title
              .list_top_details
                .green_dot
                .green_point
                .green_details
                  a href=Article.find(6).url
                    |детальніше
        .row
          .third_block
            .col-12.col-md-6.col-xl-6
              .third_wrapper
                span.third_number =@kosmetology.third_number

                h2.third_title =@kosmetology.third_title

                .third_describe =@kosmetology.third_describe


              .list_top_details
                .green_dot
                .green_point
                .green_details
                  a href=Article.find(7).url
                    |детальніше

            .col-0.col-md-1.col-xl-1
            .col-12.col-md-5.col-xl-5
              .third_image
                .img-bg style="background-image:url(#{@kosmetology.third_image})"


      / = render "slider_interesting"
  .paralax_wrapper_2
    = render "bottom_image"

