.manual
	.about_image
		.img-bg style="background-image:url(#{@manual.main_image})"
			.top-text =@manual.main_describe

			h1.title-top =@manual.main_title

	.paralax_wrapper_1
		.container
			.row
				.col-12.col-md-12.col-xl-12
					h2.middle-title =@manual.first_title

			.row
				.col-12.col-md-12.col-xl-12
					.middle-description
						p =@manual.first_description
			.row
				.col-12.col-md-12.col-xl-12
					.title-technics =@manual.title_technicks

			.row
				.col-12.col-md-5.col-xl-5
					.first_title_block
						span.first-number
							|1.
						h2.first-technics =@manual.first_title_technicks

					p.first-describe
						p =@manual.first_describe_technicks
					p.first-describe-title =@manual.french_technick_title

					.cirlce-1
					.first-technics-describe
						p =@manual.french_technick_first_line
						p =@manual.french_technick_second_line
						p =@manual.french_technick_third_line
				.col-0.col-md-1.col-xl-1
				.col-12.col-md-6.col-xl-6
					.first-image
						.img-bg style="background-image:url(#{@manual.first_image})"
			.row
				.col-12.col-md-6.col-xl-6
					.second-image
						.img-bg style="background-image:url(#{@manual.second_image})"
				.col-0.col-md-1.col-xl-1
				.col-12.col-md-5.col-xl-5
					.second-block
						.second_title_block
							span.second-number
								| 2.
							h2.second-technics =@manual.second_title

						.second-describe
							p =@manual.second_description
			.row
				.col-12.col-md-5.col-xl-5
					.third_title
						.third_title_block
							span.third-number
								|3.
							h2.third-technics =@manual.third_title

						.third-describe
							p =@manual.third_description
				.col-0.col-md-1.col-xl-1
				.col-12.col-md-6.col-xl-6
					.third-image
						.img-bg style="background-image:url(#{@manual.third_image})"
		.wrapper_slider
		= render "slider_interesting"

	.paralax_wrapper_2
		= render "bottom_image"


