.methodology
  .wrapper_image
    .container-fluid
      .img-bg style="background-image:url(#{@methodology.main_image})"
        .top-text =@methodology.main_describe

        h1.title-top =@methodology.main_title

  .paralax_wrapper_1
    .wrapper_all_content
      .container
        .middle
          h2.title-mid =@methodology.first_title

          .blue-line
            .line
            .small-line
          .row
            .col-12.col-md-7.col-xl-7

              .title-describe
                p =@methodology.first_description

              .describe
                p =@methodology.second_list_description

              h3.title1 =@methodology.task_title

              .describe1
                p =@methodology.task_description
            .col-12.col-md-5.col-xl-5
              .image-mid
                .middle-image style="background-image:url(#{@methodology.first_image})"
      .bottom
        .container
          .row
            .col-12.col-md-8.col-xl-8
              .describe2 =@methodology.second_title

              .circle1
                .svg_1
                .crcl_1
        .container
          .row
            .col-12.col-md-5.col-xl-5
          .program_block_1
            .block_dietology
              .block_d_head
                a href=dietology_path class="dieto_p"
                  .block_d_image
                  h3.block_d_title=@methodology.dieto_title

              .block_d_describe
                p=@methodology.dieto_description
              .circle_d
              .details
                .green_dot
                .green_line
                .details_describe
                  a href=dietology_path детальніше
            .block_kinezoterapy
              .block_k_head
                a href=kinezoterapy_path class="kinezo_p"
                  .block_k_image
                  h3.block_k_title=@methodology.kinezo_title

              .block_k_describe

                p=@methodology.kinezo_description

              .details
                .green_dot
                .green_line
                .details_describe
                  a href=kinezoterapy_path детальніше

          .program_block_2
            .block_manual
              .block_m_head
                a href=manual_path class="manual_p"
                  .block_m_image
                  h3.block_m_title=@methodology.manual_title

              .block_m_describe
                p=@methodology.manual_description
              .details
                .green_dot
                .green_line
                .details_describe
                  a href=manual_path детальніше
            .block_psychology
              .block_p_head
                a href=psychoterapy_path class="psyho_p"
                  .block_p_image
                  h3.block_p_title=@methodology.psyho_title

                .circle_p
              .block_p_describe
                p=@methodology.psyho_description
              .details
                .green_dot
                .green_line
                .details_describe
                  a href=psychoterapy_path детальніше

          .program_block_3
            .block_kosmetology
              .block_kosmetology_head
                a href=kosmetology_path class="kosmetology_p"
                  .block_kosmetology_image
                  h3.block_kosmetology_title =@methodology.kosmetology_title

              .block_kosmetology_describe
                p =@methodology.kosmetology_description
              .details
                .green_dot
                .green_line
                .details_describe
                  a href=kosmetology_path детальніше
            .block_climat
              .block_climat_head
                a href=klimatoterapy_path class="klimat_p"
                  .block_climat_image
                  h3.block_climat_title
                    |Кліматотерапія
                .circle_climat
              .block_climat_describe
                |Людський організм це структура, яка є частиною цілого, тобто природи. І цілком закономірно, що існує функціональний, глибинний зв’язок між організмом і природним середовищем. Школа здоров'я "Живасвіт" сформувала відповідні програми, де в умовах гірського ландшафту можна поєднатися з природою (енергією) гір, ознайомитися з технікою взаємодії з природними стихіями, попрактикувати йогу та ци-гун.
              .details
                .green_dot
                .green_line
                .details_describe
                  a href=klimatoterapy_path детальніше
          /     .dieta_wrapper
          /       a href=dietology_path class="dieto_p"
          /         .dieta_svg
          /         .title-dieta =@methodology.dieto_title

          /     .dieta
          /       p =@methodology.dieto_description
          /     .details
          /       a href= dietology_path детальніше
          /     .dieta_circle
          /   .col-0.col-md-1.col-xl-1
          /   .col-12.col-md-5.col-xl-5
          /     .kinezo_wrapper
          /       a href=kinezoterapy_path class="kinezo_p"
          /         .kinezo_svg
          /         .title-kinezoterapia =@methodology.kinezo_title

          /     .kinezoterapia
          /       p =@methodology.kinezo_description
          /     .details
          /       a href= kinezoterapy_path детальніше

          / .row
          /   .col-12.col-md-5.col-xl-5
          /     .manual_wrapper
          /       a href=manual_path class="manual_p"
          /         .manual_svg
          /         .title-manual =@methodology.manual_title

          /     .manual
          /       p =@methodology.manual_description
          /     .details
          /       a href= manual_path детальніше
          /   .col-0.col-md-1.col-xl-1
          /   .col-12.col-md-5.col-xl-5
          /     .psyho_wrapper
          /       a href=psychoterapy_path class="psyho_p"
          /         .psyho_svg
          /         .title-psyhoterapia =@methodology.psyho_title
          /       .psyho_circle
          /     .psyhoterapia
          /       p =@methodology.psyho_description
          /     .details
          /       a href= psychoterapy_path детальніше

          / .row
          /   .col-12.col-md-5.col-xl-5
          /     .kosmetology_wrapper
          /       a href=kosmetology_path class="kosmetology_p"
          /         .kosmetology_svg
          /         .title-kosmetology =@methodology.kosmetology_title

          /     .kosmetology
          /       p =@methodology.kosmetology_description
          /     .details
          /       a href= kosmetology_path детальніше
          /   .col-0.col-md-1.col-xl-1
          /   .col-12.col-md-5.col-xl-5
          /     .klimatology_wrapper
          /       a href=klimatoterapy_path class="klimat_p"
          /         .klimatology_svg
          /         .title-klimatology =@methodology.klimatology_title
          /       .klimato_circle
          /     .klimatology
          /       p =@methodology.klimatology_description
          /     .details
          /       a href= klimatoterapy_path детальніше
  .wrapper_bottom
    = render "bottom_image"
    / .bottom-image
    /   .container-fluid
    /     .shadow_wrapper
    /     .img-bottom style="background-image:url(#{asset_path('photo/1.jpg')})"
    /       .bottom_text_1
    /         |Запрошуємо на консультацію
    /       .bottom_text_2
    /         |безкоштовно!
    /       .button
    /         button.name-btn type="submit" Запсисатись






