.program
	.wrapper_image
		.img-bg style="background-image:url(#{@program.main_image})"
			h1
              span.top-text =@program.main_describe
              span.title-top =@program.main_title

			.header_low
				/ .logo_days
				/ .title-days

				/ .logo_stage
				/ .title-stage

				.arrow
	.paralax_wrapper_1
		.wrapper_all_content
			.top-wrapper
				.container-fluid
					h2.top-title =@program.first_title

					.blue-line
						.line
						.small-line
					.top-describe=@program.first_title_description

			.syndrom
				.container
					.row
						.col-12.col-md-6.col-xl-6
							.top.top-describe
								p=@program.first_description
							.a540
								.img-bg style="background-image:url(#{asset_path('photo/school.jpg')})"
							h3.top.top-title =@program.second_title

							.top.middle-describe
								p=@program.second_description
							h3.top.middle-title =@program.first_title_list

						.col-12.col-md-6.col-xl-6
							.first-image
								.img-bg style="background-image:url(#{@program.first_image})"
					.row
						.col-12.col-md-6.col-xl-6
							.top.bottom-list
								ol
									li
										p=@program.first_line_list
									li
										p=@program.second_line_list
									li
										p=@program.third_line_list
									li
										p=@program.fourth_line_list
									li
										p=@program.fifth_line_list
									li
										p=@program.six_line_list
									li
										p=@program.seventh_line_list
									li
										p=@program.eight_line_list
									li
										p=@program.nine_line_list
									li
										p=@program.ten_line_list
									li
										p=@program.eleven_line_list
									li
										p=@program.twelve_line_list
									li
										p=@program.third_title_right

						.col-12.col-md-6.col-xl-
							.text.circle
								.inside
							.text.description
								|Школа здоров’я «Живасвіт»
								br
									| створила концепцію і сформувала свою технологію вирішення цієї проблеми.
					.row
						.col-12.col-md-8.col-xl-8
							.top.bottom-tittle
								p=@program.button_describe
	.paralax_wrapper_2
		.about_program_wrapper
			.about_program
				h2.about_program.title
                  = @program.about_program_title

				.about_program_line
					.about_program.orange_line
					.about_program.orange_dot
				.about_program.description=@program.a_p_description

			.container
				.row
					.col-12.col-md-5.col-xl-5
						.image-mid
							.svg_mid
							.img-bg style="background-image:url(#{@program.a_p_image})"
					.col-12.col-md-7.col-xl-7
						.about_program_block
							h3.about_program.first_title =@program.a_p_first_title

							.about_program.first_description
								p=@program.a_p_first_descrpiton
							h3.about_program.second_title =@program.a_p_second_title
							.about_program.second_description
								p=@program.a_p_second_descrpiton
							h3.about_program.third_title =@program.a_p_third_title
							.about_program.third_description
								p=@program.a_p_third_descrpiton

				.row
					.col-12.col-md-10.col-xl-10

						h2.program_how_head =@program.a_p_fourth_title

				.row
					.col-12.col-md-6.col-xl-6
						h3
                          span.program_how_step =@program.step_one
                          span.program_how_step_first =@program.step_one_title

						.program_how_description_first
							p=@program.step_one_describe
					.col-12.col-md-6.col-xl-6
                        h3
                          span.program_how_second =@program.step_two
                          span.program_how_title_second =@program.step_two_title

						.program_how_description_second
							p=@program.step_two_describe
	.paralax_wrapper_3
		.program_stages
			.program_stages_wrapper
				h2.program_stages.title =@program.stages_title

				.program_line
					.program_stages.program_green_line
					.program_stages.program_green_point
				.program_stages.description
					p=@program.stages_describe
			.container
				.row
					.col-12.col-md-7.col-xl-7
						.stage_1
							h3
                              span.stage_first_name =@program.stage_1
                              span.stage_first_title =@program.stage_1_title
							.e1_circle

							.stage_first_list
								ol
									li
										p=@program.stage_1_first_line
									li
										p=@program.stage_1_second_line
									li
										p=@program.stage_1_third_line
					.col-12.col-md-5.col-xl-5
						.stage_first_image
							.img-bg style="background-image:url(#{@program.stage_1_image})"
							.white_circle
				.row
					.col-12.col-md-6.col-xl-6
						.stage_two
							.img-bg style="background-image:url(#{@program.stage_2_image})"
							.circle_white
					.col-12.col-md-6.col-xl-6
						.stage_2
                            h3
                              span.stage_two_name =@program.stage_2
                              span.stage_two_title =@program.stage_2_title

							.stage_two_description
								p=@program.stage_2_describe
							.e2_circle
				.row
					.col-12.col-md-7.col-xl-7
						.stage_3
                            h3
                              span.stage_three_name =@program.stage_3
                              span.stage_three_title =@program.stage_3_title
							.e3_circle

							.stage_third_list
								ol
									li
										p=@program.stage_3_first_line
								ol
									li
										p=@program.stage_3_second_line
								ol
									li
										p=@program.stage_3_third_line
							.stage_three_description
								p=@program.stage_3_describe
							.stage_three_looking
								.green_dot
								.green_point
								.stage_details
									a href= methodology_path переглянути методики
					.col-12.col-md-5.col-xl-5
						.stage_three_img
							.img-bg style="background-image:url(#{@program.stage_3_image})"
				.row
					.col-12.col-md-6.col-xl-6
						.stage_4
							.img-bg style="background-image:url(#{@program.stage_4_image})"
							.circle_white
					.col-12.col-md-6.col-xl-6
						.stage_4_name
                            h3
                              span.stage_name_4 =@program.stage_4
                              span.stage_4_title =@program.stage_4_title
							.e4_circle

							.stage_4_description
								p=@program.stage_4_describe
	.paralax_wrapper_4
		.bottom_wrapper
			= render "slider_interesting"
			= render "bottom_image"

			/ .bottom-image
			/ 	.shadow_wrapper
			/ 	.img-bottom style="background-image:url(#{asset_path('photo/1.jpg')})"
			/ 		.bottom_text_1
			/ 			|Запрошуємо на консультацію
			/ 		.bottom_text_2
			/ 			|безкоштовно!
			/ 		.button
			/ 			button.name-btn type="submit" Запсисатись