.psychoterapy
	.about_image
		.container-fluid
			.img-bg style="background-image:url(#{@psychoterapy.main_image})"
				.about-text =@psychoterapy.main_describe
				h1.about-title =@psychoterapy.main_title
	.paralax_wrapper_1
		.container
			.psycho_wrapper
				.row
					.col-12.col-md-12.col-xl-12
						h2.title_top =@psychoterapy.first_title
						.describe_top
							p=@psychoterapy.first_description
				.row
					.col-12.col-md-12.col-xl-12
						.middle_title =@psychoterapy.list_title
						.middle_list
							ol
								li.middle_list_describe
									p=@psychoterapy.first_list_description
								li.middle_list_describe
									p=@psychoterapy.second_list_description
								li.middle_list_describe
									p=@psychoterapy.third_list_description
								li.middle_list_describe
									p=@psychoterapy.fourth_list_description
		.wrapper_slider
		= render "slider_interesting"

	.paralax_wrapper_2
		= render "bottom_image"



