.about_school
  .container
    max-width: 1250px
  .about_image
    position: relative
    height: 96vh
    width: 100%
    // transition: 2s
    // transform: translateY(-2 0%)
    z-index: 2
    .img-bg
      -webkit-box-shadow: 0px 0px 99px
      border-bottom-left-radius: 80%
      border-bottom-right-radius: 80%
      // border-radius: 0% 0% 150% 150%/0% 0% 80% 80%
      display: flex
      justify-content: center
      align-items:  center
      flex-direction:  column

      .about-text
        font-size: 3rem
        font-family: Comfortaa
        font-weight: bold
        color: white
        text-align: center
      .about-title
        +comfora_5(1)
        color: white
  .paralax_wrapper_1
    margin-top: 6rem
    .wrapper_all_about_content
      .about-head-title
        +comfora_5(1)
        padding-left: 60px
      .about-line
        display: flex
        .green-line
          background: $green
          width: 50rem
          height: 10px
          border-bottom-right-radius: 5px
          border-top-right-radius: 5px
          margin-right: 3rem
          transform: translateX(-100%)
          transition: 1s ease-in-out
        .green-dot
          background: $green
          width: 10px
          height: 10px
          border-radius: 50%
          transform: translateX(-100rem)
          transition: 1s ease-in-out
      .about-head-describe
        padding-top: 20px
        padding-bottom: 3rem
        font-size: 1.5rem
        padding-left: 60px
        height: 2rem
        p
          font-family: Caveat
      .grey-circle
          width: 10rem
          height: 10rem
          border-radius: 50%
          background: #F5F5F5
          margin: auto
          position: relative

    .container
      .wrapper-top
        margin-top: -117px
        .first-top-image
          .img-bg
            position: relative
            height: 450px
            width: 450px
            border-radius: 50%
            padding: 30px
          .first_top_circle
            width: 46rem
            height: 46rem
            background-size: 31rem 31rem
            background-image: url(#{asset_path('svg/6_1.svg')})
            background-repeat: no-repeat
            margin-top: -475px
            margin-left: -21px
        .top.about-title, .top.about-title_1, .top.about-title_2
          padding-top: 30px
          padding-bottom: 10px
          font-family: Comfortaa
          font-size: 20px
          font-weight: bold

        .top.about-describe, .top.about-describe_1, .top.about-describe_2
          font-family: Montserrat
          font-size: 0.8rem


      .top-middle
        margin-top: -5rem
        .top.middle-title
          font-family: Comfortaa
          font-size: 28px
          font-weight: bold
          margin-bottom: 1rem
          margin-top: -2rem
        .top.middle_describe
          font-family: Montserrat
          font-size: 14px
        .top.middle_base_title
          font-family: Comfortaa
          font-weight: 700
          font-size: 20px
          margin-top: 25px
        .top.middle-list
          font-size: 14px
          font-family: Montserrat,Regular
          ol
          margin-left: 40px
          li:before
            content: " "
            position: absolute
            margin-left: -40px
            margin-top: 7px
            background: $green
            color: $green
            width: 15px
            height: 4px
            border-radius: 3px
          .middle-describe
            margin-top: 1.5rem
            font-family: Montserrat,Regular
            font-size: 0.8rem
      .top.middle-image
        padding-left: 5rem
        position: relative
        .img-bg
          position: relative
          height: 450px
          width: 450px
          border-radius: 50%
          padding: 30px
          background-position-x: right
        .top_svg
          background-image: url(#{asset_path('svg/2.svg')})
          width: 11rem
          height: 11rem
          background-repeat: no-repeat
          display: flex
          align-items: center
          justify-content: center
          background-size: 11rem 11rem
          position: absolute
          left: 77%
          top: 82%
          .small_top_circle
            width: 8rem
            height: 8rem
            background-color: #F5F5F5
            border-radius: 50%

    .middle_circle_block
      margin-left: 14rem
      margin-top: 3rem
      position: relative
      .middle_svg
        background-image: url(#{asset_path('svg/2.svg')})
        width: 11rem
        height: 11rem
        background-repeat: no-repeat
        display: flex
        align-items: center
        justify-content: center
        background-size: 11rem 11rem
        position: absolute
        left: 56px
        top: -19%
        transform: rotate(117deg)
      .middle-middle-circle
        width: 8rem
        height: 8rem
        border-radius: 50%
        background: #F5F5F5
        margin: auto
        position: relative
        margin-bottom: -124px
        margin-left: 5rem

    .middle-middle-title
      font-size: 2rem
      font-family: Comfortaa,bold
      font-weight: bold
      padding-left: 60px
      margin-bottom: 3rem
      position: relative
      margin-left: 18rem
      width: 40%
    .block-info
      display: flex
      justify-content: space-around
      margin-top: 4rem
      .info
        width: 30%
        .info_information
          +comfora_11(1)
          color: $blue
        .info_title
          +comfora_11(1)
        .info_describe
          font-family: Montserrat,Regular
          font-size: 0.8rem
          margin-top: 5px
      .practise
        width: 30%
        .practise_info
          +comfora_11(1)
          color: $orange
        .practise_title
          +comfora_11(1)
        .practise_describe
          font-family: Montserrat,Regular
          font-size: 0.8rem
          margin-top: 5px
      .rest
        width: 30%
        .rest_info
          +comfora_11(1)
          color: $green
        .rest_title
          +comfora_11(1)
        .rest_describe
          font-family: Montserrat,Regular
          font-size: 0.8rem
          margin-top: 5px
  .paralax_wrapper_2
    margin-top: 8rem
    .wrapper_shupailo
      background: #F3F3F3
      .about_head_title
        font-size: 4rem
        font-family: Comfortaa,bold
        font-weight: bold
        padding-left: 7rem
        padding-top: 100px
      .shupailo_line
        display: flex
        .orange_line
          background: $orange
          width: 40rem
          height: 10px
          border-bottom-right-radius: 5px
          border-top-right-radius: 5px
          margin-right: 2rem
          transform: translateX(-100%)
          transition: 1s ease-in-out
        .orange_dot
          background: $orange
          width: 10px
          height: 10px
          border-radius: 50%
          transform: translateX(-100rem)
          transition: 1s ease-in-out
      .about-head-describe
        padding-left: 7rem
        margin-top: 1rem
        font-size: 24px
        font-family: Caveat
        height: 2rem
        p
          font-family: Caveat
    .ihor_shypailo
      background: #F5F5F5
      // border-bottom-left-radius: 80%
      // border-bottom-right-radius: 80%
      height: 74rem
      .describe-text
        padding-top: 9rem
        // width: 24rem
        .top-shup-title
          font-size: 20px
          font-family: Comfortaa,bold
          font-weight: bold
          margin-bottom: 1rem

        .top-shup-describe
          font-family: Montserrat,Regular
          font-size: 0.8rem
        .shup_circle
          height: 7rem
          width: 7rem
          border-radius: 50%
          background-color: white
          margin-top: -12rem
          margin-left: -3rem
        .shup_circle_1
          height: 4rem
          width: 4rem
          border-radius: 50%
          background-color: white
          margin-top: 3rem
          margin-left: 28rem
      .first-shup-image
        .img-bg
          position: relative
          height: 450px
          width: 450px
          border-radius: 50%
          margin-left: 2rem
        .shup_citcle
          width: 20rem
          height: 40rem
          background-size: 34rem 47rem
          background-image: url(#{asset_path('svg/3.svg')})
          background-repeat: no-repeat
          margin-top: -597px
          margin-left: -31px
      .wrapper_igor_way
        margin-top: -5rem
        .way_info
          .way_text
            +comfora_2(1)
            position: relative
            margin-top: 8rem
        .wrapper_way_circle


          .way_circle
            display: flex
            -webkit-justify-content: center
            justify-content: center
            -webkit-align-items: center
            align-items: center
            margin-left: -160px
            margin-top: -198px
            width: 20rem
            height: 21rem
            background-size: 22rem 21rem
            // background-image: url(#{asset_path('svg/5.svg')})
            background-repeat: no-repeat
            // animation: spin 1.5s linear infinite
            @keyframes spin
              0%
                -webkit-transform: rotate(0deg)
                transform: rotate(0deg)
              100%
                -webkit-transform: rotate(360deg)
                transform: rotate(360deg)
          .way_circle_1
            width: 12rem
            height: 12rem
            border-radius: 50%
            background: #FFFFFF
            margin-top: -263px
            margin-left: -87px



      .way_circle_info
        position: relative
        .next_arr
          background-image: url(#{asset_path('svg/364.svg')})
          width: 3rem
          height: 3rem
          background-repeat: no-repeat
          background-size: 2rem 2rem
          position: absolute
          top: 10rem
          left: 1%
          font-size: 40px
          font-weight: 900
          color: #848D93
          z-index: 3
          &:hover
            color: $orange

        .circle_arr
          width: 13rem
          height: 13rem
          border-radius: 50%
          background: #FFFFFF
          position: absolute
          left: -7%
          top: 20%
          opacity: 0.7
          &:hover
            color: $orange


        .slider_info
          margin-left: 6rem
          .first_circle_info, .six_circle_info
            width: 20rem
            height: 20rem
            border-radius: 50%
            background: #FFFFFF
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            text-align: center

            .first_date
              +comfora_3(1)
              color: $green
              padding-bottom: 15px

            .first_text
              font-family: Montserrat,Regular
              font-size: 15px
          .small_first_circle
            height: 5rem
            width: 5rem
            border-radius: 50%
            background-image: url(#{asset_path('photo/Dyplom_L.jpg')})
            position: relative
            margin-top: -60px
            margin-left: 205px
            background-size: 14rem
            background-position-x: -9px
          .second_circle_info, .seven_circle_info
            width: 20rem
            height: 20rem
            border-radius: 50%
            background: #FFFFFF
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            text-align: center
            .second_date
              +comfora_3(1)
              padding-bottom: 1rem
            .second_text
              font-family: Montserrat,Regular
              font-size: 15px
          .small_second_circle
            height: 5rem
            width: 5rem
            border-radius: 50%
            background-image: url(#{asset_path('photo/Posvidchenna_44_L.jpg')})
            position: relative
            margin-top: -60px
            margin-left: 205px
            background-position-x: right
            background-size: cover
            cursor: pointer

          .third_circle_info, .eight_circle_info
            width: 20rem
            height: 20rem
            border-radius: 50%
            background: #FFFFFF
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            text-align: center
            .third_date
              +comfora_3(1)
              padding-bottom: 1rem
            .third_text
              font-family: Montserrat,Regular
              font-size: 15px
          .small_third_circle
            height: 5rem
            width: 5rem
            border-radius: 50%
            background: $orange
            position: relative
            margin-top: -60px
            margin-left: 205px
          .fourth_circle_info
            width: 20rem
            height: 20rem
            border-radius: 50%
            background: #FFFFFF
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            text-align: center
            .fourth_date
              +comfora_3(1)
              color: #FC4D1C
              padding-bottom: 1rem
            .fourth_text
              font-family: Montserrat,Regular
              font-size: 15px
          .small_fourth_circle
            height: 5rem
            width: 5rem
            border-radius: 50%
            background: green
            position: relative
            margin-top: -60px
            margin-left: 205px
          .fifth_circle_info, .ten_circle_info
            width: 20rem
            width: 20rem
            height: 20rem
            border-radius: 50%
            background: #FFFFFF
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            text-align: center
            .fifth_date
              +comfora_3(1)
              color: #FC4D1C
              padding-bottom: 1rem
            .first_text
              font-family: Montserrat,Regular
              font-size: 15px
          .small_fifth_circle
            height: 5rem
            width: 5rem
            border-radius: 50%
            background: green
            position: relative
            margin-top: -60px
            margin-left: 205px
          .small_six_circle
            height: 5rem
            width: 5rem
            border-radius: 50%
            background-image: url(#{asset_path('photo/logo1.png')})
            position: relative
            margin-top: -60px
            margin-left: 205px
            background-size: 14rem
            background-position-x: -9px
            background-repeat: no-repeat
          .small_seven_circle
            height: 5rem
            width: 5rem
            border-radius: 50%
            background-image: url(#{asset_path('photo/Posv_kvalif.jpg')})
            position: relative
            margin-top: -60px
            margin-left: 205px
            background-position-x: right
            background-size: cover
          .small_eight_circle
            height: 5rem
            width: 5rem
            border-radius: 50%
            background-image: url(#{asset_path('photo/Sertyfikat_1.jpg')})
            position: relative
            margin-top: -60px
            margin-left: 205px
            background-size: 20rem
            background-position-y: -17rem
        .wrapper_hide
          display: none
          position: fixed
          left: 0
          top: 0
          width: 100%
          height: 100%
          overflow: auto
          background-color: rgb(0,0,0)
          background-color: rgba(0,0,0,0.9)
          z-index: 4
          .first_photo_big
            height: 25rem
            width: 70rem
            background-repeat: no-repeat
            display: none
            background-image: url(#{asset_path('photo/Dyplom_L.jpg')})
            position: fixed
            top: 27%
            left: 20%
            animation: zoom
            animation-duration: 0.3s
          .second_photo_big
            height: 25rem
            width: 70rem
            background-repeat: no-repeat
            display: none
            background-image: url(#{asset_path('photo/Posvidchenna_44_L.jpg')})
            position: fixed
            top: 27%
            left: 20%
            animation: zoom
            animation-duration: 0.3s
          .third_photo_big
            height: 25rem
            width: 70rem
            background-repeat: no-repeat
            display: none
            background-image: url(#{asset_path('photo/Posv_kvalif.jpg')})
            position: fixed
            top: 27%
            left: 20%
            animation: zoom
            animation-duration: 0.3s
            @keyframes zoom
              0%
                transform: scale(0)
              100%
                transform: scale(1)
          .close
            position: absolute
            top: 100px
            right: 200px
            color: #f1f1f1
            font-size: 40px
            font-weight: bold
            transition: 0.3s
  .paralax_wrapper_3
    margin-top: 8rem
    .how_we_help
      margin-top: 5rem
      .help_title
        display: flex
        // justify-content: space-around
        .title_h
          +comfora_3(1)
          padding-left: 7rem
        .circle_title
          width: 7rem
          height: 7rem
          border-radius: 50%
          background: #F5F5F5
          margin-bottom: -4rem
          margin-left: 36rem
      .help_line
        display: flex
        .help_blue_line
          background: $blue
          width: 40rem
          height: 10px
          border-bottom-right-radius: 5px
          border-top-right-radius: 5px
          margin-right: 2rem
          transform: translateX(-100%)
          transition: 1s ease-in-out
        .help_blue_dot
          background: $blue
          width: 10px
          height: 10px
          border-radius: 50%
          transform: translateX(-100rem)
          transition: 1s ease-in-out
      .help_describe
        p
          font-size: 24px
          font-family: Caveat
          padding-left: 7rem

    .steps
      .container
        .block_steps
          display: flex
          margin-top: 6rem
          margin-bottom: 7rem
          margin-left: -2rem
          .step_1_title

            position: relative
            z-index: 3
            .step_1_circle
              position: absolute
              width: 105px
              height: 105px
              border-radius: 50%
              background-color: #F5F5F5
            .title_step
              +comfora_22(1)
              color: $blue
              position: relative
              z-index: 3
            .title_step_consultation
              +comfora_22(1)
              position: relative
              z-index: 3
              .step_circle
                width: 5rem
                height: 5rem
                border-radius: 50%
                background: #F5F5F5
                margin-top: -5rem
                margin-left: -3rem

          .step_describe
            font-family: Montserrat,Regular
            font-size: 1rem
            margin-top: 1rem
            margin-bottom: 3rem
            position: relative
            z-index: 3
          .register
            display: flex
            align-items: center
            justify-content: flex-end
            .r_line
              display: flex
              .blue_dot
                height: 1px
                width: 5px
                background: $blue
                margin-right: 5px
              .blue_line
                height: 1px
                width: 25px
                background: $blue
                margin-right: 10px
            .register_describe
              color: $blue
              font-family: Caveat
              font-size: 20px

          .step_2_title
            .title_step
              +comfora_22(1)
              color: $blue
            .title_step_program
              +comfora_22(1)
          .program_describe
            font-family: Montserrat,Regular
            font-size: 1rem
            margin-top: 1rem
            margin-bottom: 2rem
          .details
            display: flex
            align-items: center
            justify-content: flex-end
            .d_line
              display: flex
              .blue_dot
                height: 1px
                width: 5px
                background: $blue
                margin-right: 5px
              .blue_line
                height: 1px
                width: 25px
                background: $blue
                margin-right: 10px
            .details_describe
              font-family: Caveat
              font-size: 20px
              color: $blue

      .wrapper_p_describe
        position: relative
        .program_describe_title
          font-size: 2rem
          font-family: Comfortaa,bold
          font-weight: 900
          width: 62%
          margin-top: 8rem
          position: relative
          z-index: 2
        .program_svg
          background-image: url(#{asset_path('svg/2.svg')})
          width: 11rem
          height: 11rem
          background-repeat: no-repeat
          display: flex
          justify-content: center
          align-items: center
          transform: rotate(119deg)
          position: absolute
          top: -38%
          left: -6%
        .program_circle
          width: 9rem
          height: 9rem
          border-radius: 50%
          background: #F5F5F5
          position: absolute
          top: -17%
          left: -4%



      .program_block_1
        display: flex
        margin-top: 5rem
        .block_dietology
          .block_d_head

            .dieto_p
              display: flex
              text-decoration: none
              &:hover
                color: black
              .block_d_image
                background-image: url(#{asset_path('svg/diet.svg')})
                background-repeat: no-repeat
                height: 6rem
                width: 6rem
              .block_d_title
                font-size: 1.5rem
                font-family: Comfortaa,bold
                font-weight: 900
                margin-top: 3.5rem
                margin-left: 1rem
                color: black
                &:hover
                  color: $orange
          .block_d_describe
            font-family: Montserrat,Regular
            font-size: 0.9rem
          .circle_d
            width: 100%
          .details
            display: flex
            align-items: center
            justify-content: flex-end
            .green_dot
              height: 1px
              width: 5px
              background: $green
              margin-right: 5px
            .green_line
              height: 1px
              width: 25px
              background: $green
              margin-right: 10px
            .details_describe
              font-family: Comfortaa,bold
              font-size: 0.8rem
              a
                color: $green
                font-family: Caveat
                font-size: 20px
        .block_kinezoterapy
          padding-left: 3rem
          .block_k_head

            .kinezo_p
              display: flex
              text-decoration: none
              &:hover
                color: black
              .block_k_image
                background-image: url(#{asset_path('svg/climbing.svg')})
                background-repeat: no-repeat
                height: 6rem
                width: 6rem
              .block_k_title
                font-size: 1.5rem
                font-family: Comfortaa,bold
                font-weight: 900
                margin-top: 3.5rem
                margin-left: 1rem
                color: black
                &:hover
                  color: $orange
          .block_k_describe
            font-family: Montserrat,Regular
            font-size: 0.9rem
          .details
            display: flex
            align-items: center
            justify-content: flex-end
            .green_dot
              height: 1px
              width: 5px
              background: $green
              margin-right: 5px
            .green_line
              height: 1px
              width: 25px
              background: $green
              margin-right: 10px
            .details_describe
              font-family: Comfortaa,bold
              font-size: 0.8rem
              a
                color: $green
                font-family: Caveat
                font-size: 20px
      .program_block_2
        display: flex
        margin-top: 5rem
        .block_manual
          .block_m_head
            .manual_p
              display: flex
              text-decoration: none
              &:hover
                color: black
              .block_m_image
                background-image: url(#{asset_path('svg/massage.svg')})
                background-repeat: no-repeat
                height: 5rem
                width: 6rem
              .block_m_title
                font-size: 1.5rem
                font-family: Comfortaa,bold
                font-weight: 900
                margin-top: 3.5rem
                margin-left: 1rem
                color: black
                &:hover
                  color: $orange
          .block_m_describe
            font-family: Montserrat,Regular
            font-size: 0.9rem
          .details
            display: flex
            align-items: center
            justify-content: flex-end
            .green_dot
              height: 1px
              width: 5px
              background: $green
              margin-right: 5px
            .green_line
              height: 1px
              width: 25px
              background: $green
              margin-right: 10px
            .details_describe
              font-family: Comfortaa,bold
              font-size: 0.8rem
              a
                color: $green
                font-family: Caveat
                font-size: 20px
        .block_psychology
          padding-left: 3rem
          .block_p_head
            .psyho_p
              display: flex
              text-decoration: none
              &:hover
                color: black
              .block_p_image
                background-image: url(#{asset_path('svg/brain.svg')})
                background-repeat: no-repeat
                height: 6rem
                width: 6rem
              .block_p_title
                font-size: 1.5rem
                font-family: Comfortaa,bold
                font-weight: 900
                margin-top: 3.5rem
                margin-left: 1rem
                color: black
                &:hover
                  color: $orange
            .circle_p
          .block_p_describe
            font-family: Montserrat,Regular
            font-size: 0.9rem
          .details
            display: flex
            align-items: center
            justify-content: flex-end
            .green_dot
              height: 1px
              width: 5px
              background: $green
              margin-right: 5px
            .green_line
              height: 1px
              width: 25px
              background: $green
              margin-right: 10px
            .details_describe
              font-family: Comfortaa,bold
              font-size: 0.8rem
              a
                color: $green
                font-family: Caveat
                font-size: 20px
      .program_block_3
        display: flex
        margin-top: 5rem
        .block_kosmetology
          .block_kosmetology_head
            .kosmetology_p
              display: flex
              text-decoration: none
              &:hover
                color: black


              .block_kosmetology_image
                background-image: url(#{asset_path('svg/cosmetology.svg')})
                background-repeat: no-repeat
                height: 6rem
                width: 6rem
              .block_kosmetology_title
                font-size: 1.5rem
                font-family: Comfortaa,bold
                font-weight: 900
                margin-top: 3.5rem
                margin-left: 1rem
                color: black
                &:hover
                  color: $orange
          .block_kosmetology_describe
            font-family: Montserrat,Regular
            font-size: 0.9rem
          .details
            display: flex
            align-items: center
            justify-content: flex-end
            .green_dot
              height: 1px
              width: 5px
              background: $green
              margin-right: 5px
            .green_line
              height: 1px
              width: 25px
              background: $green
              margin-right: 10px
            .details_describe

              font-size: 0.8rem
              a
                color: $green
                font-family: Caveat
                font-size: 20px
        .block_climat
          padding-left: 3rem
          .block_climat_head
            .klimat_p
              display: flex
              &:hover
                color: black
            a:link
              text-decoration: none
            .block_climat_image
              background-image: url(#{asset_path('svg/sunset.svg')})
              background-repeat: no-repeat
              height: 5rem
              width: 6rem
              margin-top: 1rem
            .block_climat_title
              font-size: 1.5rem
              font-family: Comfortaa,bold
              font-weight: 900
              margin-top: 3.5rem
              margin-left: 1rem
              color: black
              &:hover
                color: $orange

            .circle_climat
          .block_climat_describe
            font-family: Montserrat,Regular
            font-size: 0.9rem
          .details
            display: flex
            align-items: center
            justify-content: flex-end
            .green_dot
              height: 1px
              width: 5px
              background: $green
              margin-right: 5px
            .green_line
              height: 1px
              width: 25px
              background: $green
              margin-right: 10px
            .details_describe
              font-family: Comfortaa,bold
              font-size: 0.8rem
              a
                color: $green
                font-family: Caveat
                font-size: 20px



.parallax__group
  position: relative
  // height: 100vh
  transform-style: preserve-3d
.parallax__layer
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
.back_theme
  -webkit-transform: translateZ(-300px) scale(2)
  transform: translateZ(-300px) scale(2)
  z-index: 1
.base_theme
  -webkit-transform: translateZ(0)
  transform: translateZ(0)
  z-index: 4
.deep_theme
  -webkit-transform: translateZ(-600px) scale(3)
  transform: translateZ(-600px) scale(3)
  z-index: 1


@mixin comfora_5
  font-size: 5rem
  font-family: Comfortaa
  font-weight: bold
















@media(max-width: 1536px)
  .about_school
    .about_image
    .paralax_wrapper_1
      margin-top: 5rem
      .about_about_school
        .block-info
          margin-top: 5rem
        .middle-middle-title
          font-size: 27px
    .paralax_wrapper_2
      .wrapper_shupailo
      .ihor_shypailo
        height: 83rem
        .way_circle_info
          margin-top: 8rem
          .next_arr
            margin-top: -2rem
          .circle_arr
            left: -9%
            top: 10%
          .wrapper_hide
            .first_photo_big, .second_photo_big, .third_photo_big
              background-size: 56rem 21rem

            .close
              top: 120px


@media(max-width: 1366px)
  .about_school
    .paralax_wrapper_1
      .wrapper_all_about_content
        .about-head-title
          font-size: 50px
    .paralax_wrapper_2
      .wrapper_shupailo
        .about_head_title
          font-size: 50px
      .ihor_shypailo
        .way_circle_info
          margin-top: 8rem
          .next_arr
            margin-top: -3rem
          .circle_arr
            left: -11%
            top: 10%
          .slider_info
            .size_circle
              width: 15rem
              height: 15rem
              .date
                padding-bottom: 0
                font-size: 28px
              .text
                font-size: 12px
            .small_circle
              margin-top: -75px
              margin-left: 180px
          .wrapper_hide
            .first_photo_big, .second_photo_big, .third_photo_big
              background-size: 56rem 21rem


            .close
    .paralax_wrapper_3
      .how_we_help
        .help_title
          .title_h
            font-size: 50px

@media(max-width: 1357px)
  .about_school
    .about_image
      .img-bg
        .about-text
          font-size: 2rem
        .about-title
          font-size: 4rem
    .paralax_wrapper_1
      .about_about_school
        .middle_circle_block
          .middle-middle-circle
            margin-bottom: -133px
        .middle-middle-title
          font-size: 27px
    .paralax_wrapper_2
      .ihor_shypailo
        .wrapper_igor_way
          .way_info
            .way_text
              font-size: 24px
              margin-top: 8rem
              margin-left: 4rem
          .wrapper_way_circle

            .way_circle_1
              margin-left: -12px
        .way_circle_info
          margin-top: 8rem
          .next_arr
            margin-top: -2rem
          .circle_arr
            left: -13%
            top: 13%
          .slider_info
            .size_circle
              width: 15rem
              height: 15rem
              .date
                padding-bottom: 0
                font-size: 28px
              .text
                font-size: 12px
            .small_circle
              margin-top: -75px
              margin-left: 180px
    .paralax_wrapper_3
      .how_we_help
        .help_title
          .title_h
            font-size: 30px
      .steps
        .container
          .block_steps
            margin-left: 0
            .step_1_title, .step_2_title
              .title_step, .title_step_consultationб, .title_step_program
                font-size: 26px

          .program_describe_title
            margin-top: 4rem
            margin-left: 4rem
          .program_circle
            border-right: none


@media(max-width: 1242px)
  .about_school
    .paralax_wrapper_3
      .steps
        .container
          .wrapper_p_describe
            .program_svg
              left: -1%
            .program_circle
              left: 1%


@media(max-width: 1024px)
  .about_school
    .about_image
      .img-bg
        .about-text
          font-size: 20px
        .about-title
          font-size: 40px

    .paralax_wrapper_1
      margin-top: 40rem
      .wrapper_all_about_content
        .about-head-title
          font-size: 40px
        .about-head-describe
          font-size: 20px
      .about_about_school
        .wrapper-top
          .first-top-image
            .img-bg
              height: 280px
              width: 280px
            .first_top_circle
              background-size: 20rem 20rem
              margin-top: -301px
        .top-middle
          .top.middle-image
            .img-bg
              height: 280px
              width: 280px
            .top_svg
              display: none


        .middle_circle_block
          margin-left: 0
        .middle-middle-title
          margin-left: 5rem
        .block-info
          margin-top: 5rem
    .paralax_wrapper_2
      .wrapper_shupailo
      .ihor_shypailo
        height: 64rem
        .first-shup-image
          .img-bg
            height: 280px
            width: 280px
          .shup_citcle
            width: 22rem
            background-size: 24rem 22rem
            margin-top: -313px
        .wrapper_igor_way
          .way_info
            .way_text
              font-size: 30px
              width: 580px
              margin-top: -11rem
        .way_circle_info
          .circle_arr
            left: -14%
            top: 17%
            width: 10rem
            height: 10rem
          .slider_info
            .size_circle
              width: 200px
              height: 200px
              .date
                font-size: 24px
              .text
                font-size: 14px
            .small_circle
              height: 50px
              width: 50px
              margin-top: -47px
              margin-left: 136px
    .paralax_wrapper_3
      .how_we_help
        .help_title
          .title_h
            font-size: 40px
          .circle_title
            display: none


@media(max-width: 768px)
  .about_school
    .about_image
      .img-bg


    .paralax_wrapper_1

      .wrapper_all_about_content

      .about_about_school
        .wrapper-top
        .top-middle
          .top.middle-image
            .img-bg

            .top_svg
              display: none
        .middle-middle-title
          margin-left: 5rem
          font-size: 20px
          width: 22rem
    .paralax_wrapper_2
      .wrapper_shupailo
      .ihor_shypailo
        .way_circle_info
          .next_arr
            margin-top: -4rem




@media(max-width: 540px)
  .about_school
    .about_image
      .img-bg
        border-radius: 0% 0% 80% 80%/0% 0% 20% 20%
        height: 88vh
        .about-text
          font-size: 16px
        .about-title
          font-size: 30px
          text-align: center
    .paralax_wrapper_1
      margin-top: 0rem
      height: 180rem
      .wrapper_all_about_content
        .about-head-title
          font-size: 30px
          margin-left: 30px
          padding-left: 0
        .about-line
          .green-line
            width: 16rem
            height: 5px
            margin-right: 1rem
          .green-dot
            width: 5px
            height: 5px
        .about-head-describe
          margin-left: 30px
          padding-left: 0
          width: 89%
          p
            font-size: 20px
            font-family: Caveat

        .grey-circle
          display: none
      .about_about_school
        height: 158rem
        .wrapper-top
          .first-top-image
            display: flex
            justify-content: center
            .img-bg
              width: 18rem
              height: 18rem
              margin-top: 13rem
            .first_top_circle
              display: none
        .top-middle
          .top.middle-title
            font-size: 20px
            margin-top: 7rem
          .top.middle-image
            margin-left: 0rem
            padding-left: 0
            display: flex
            justify-content: center
            .img-bg
              margin-top: 2rem
              margin-bottom: 2rem
            // display: none
            .top_svg
              display: none
              .small_top_circle
        .middle_circle_block
          margin-left: -50px
          .middle_svg
            width: 12rem
            height: 12rem
            background-size: 12rem 12rem
            left: 58px
            top: -12%
          .middle-middle-circle
            margin-bottom: -114px
            width: 10rem
            height: 10rem



        .middle-middle-title
          font-size: 20px
          margin-top: -129px
          position: relative
          margin-left: 1rem
          width: 91%
        .block-info
          display: grid
          margin-top: 2rem
          margin-left: 15px
          .info, .practise, .rest
            width: 100%
            .info_describe, .practise_describe, .rest_describe
              font-size: 14px
              margin-bottom: 2rem
    .paralax_wrapper_2
      margin-top: 18rem
      .wrapper_shupailo
        .about_head_title
          font-size: 30px
          padding-left: 2rem
        .shupailo_line
          .orange_line
            width: 18rem
            height: 5px
          .orange_dot
            width: 5px
            height: 5px
        .about-head-describe
          font-size: 20px
          padding-left: 2rem
      .ihor_shypailo

        height: 76rem
        .describe-text
          margin-top: 17rem
          .shup_circle
            margin-left: -1rem
          .shup_circle_1
            margin-left: 0
            display: none
        .first-shup-image
          display: flex
          justify-content: center
          flex-direction: column
          .img-bg
            width: 19rem
            height: 19rem
            margin-top: -29rem
            margin-left: 8px
          .shup_citcle
            width: 23rem
            background-size: 25rem 24rem
            margin-top: -343px
            margin-left: -48px
        .wrapper_igor_way
          margin-top: -7rem
          margin-left: -3rem
          .way_info
            .way_text
              font-size: 20px
              width: 94%
              margin-top: 8rem
              margin-left: 3rem
          .wrapper_way_circle
            .way_circle_1
              width: 10rem
              height: 10rem
              border-radius: 50%
              background: #FFFFFF
              margin-top: -263px
              margin-left: -14px
        .way_circle_info
          margin-top: 4rem
          .next_arr
            margin-top: -5rem
          .circle_arr
            left: -28%
            top: 8%

          .slider_info
            .size_circle
              width: 220px
              height: 220px
              .text
                width: 79%
                font-size: 12px
            .small_circle
              margin-left: 166px
          .wrapper_hide
            .first_photo_big, .second_photo_big, .third_photo_big
              background-size: 24rem 9rem
              left: 4%
              width: 92%
              top: 50%
            .close
              top: 25%
              right: 9%
    .paralax_wrapper_3
      margin-top: 5rem
      .how_we_help
        .help_title
          .title_h
            font-size: 30px
            padding-left: 30px
        .help_line
          padding: 10px 0
          .help_blue_line
            height: 5px
            width: 18rem
          .help_blue_dot
            width: 5px
            height: 5px
        .help_describe
          width: 95%
          p
            font-size: 20px
            padding-left: 30px
      .steps
        .container
          .block_steps
            margin-left: 0
            display: block
            margin-top: 3rem
            .step_1_title
              .title_step, .title_step_consultation
                font-size: 20px
            .step_describe
              p
                font-size: 14px
                width: 320px

            .step_2_title
              margin-top: 4rem
              .title_step, .title_step_program
                font-size: 20px
            .program_describe
              p
                font-size: 14px
                width: 320px
          .wrapper_p_describe
            .program_describe_title
              font-size: 20px
              width: 85%
            .program_svg
              left: 2%
              top: -47%
            .program_circle
              left: 8%
              top: -26%
          .program_block_1, .program_block_2, .program_block_3
            display: block
            margin-top: 0
            margin-left: 15px
            margin-right: 10px
            .block_dietology
              // margin-top: 15px
              margin-top: 5rem
            .block_manual
              margin-top: 15px
              .block_m_head
                .block_m_image
                  margin-top: 2rem

            .block_kinezoterapy, .block_psychology, .block_climat, .block_kosmetology
              padding-left: 0
              margin-top: 15px
              .details
                margin-top: 20px

@media(max-width: 320px)
  .about_school
    .paralax_wrapper_1
      height: 206rem
      .about_about_school
        .wrapper-top
          .first-top-image
            .img-bg
              width: 280px
              height: 280px
    .paralax_wrapper_2
      .ihor_shypailo
        .first-shup-image

          .img-bg
            width: 280px
            height: 280px
            margin-top: -31rem
            margin-left: -7px
          .shup_citcle
            background-size: 22rem 22rem
            margin-top: -311px
            margin-left: -53px
            width: 21rem
    .paralax_wrapper_3
      .steps
        .container
          .block_steps
            .step_describe
              p
                width: 280px
            .program_describe
              p
                width: 280px
          .wrapper_p_describe
            .program_describe_title
              font-size: 18px
            .program_svg
              top: -57%
            .program_circle
              left: 10%
              top: -29%