.wrapper-login
  padding: 200px 0
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  width: 95% 
  height: 78vh
  h2
    font-family: Comfortaa 
  .field
    label
      font-family: Comfortaa 
      margin-bottom: 0
      margin-top: 10px
      margin-left: 20px
      font-size: 14px
    input
      border-radius: 27px 27px 27px 27px
      padding: 10px
      width: 250px
      border: 4px solid $orange
  .remember
    margin-bottom: 0
    margin-top: 10px
    margin-left: 20px
    label
      font-family: Comfortaa
      font-size: 14px

  .actions    
    font-family: Comfortaa 
    color: $orange
    input
      border-radius: 27px 27px 27px 27px
      width: 250px
      border: 4px solid $orange
      height: 55px 
      background-color: white 
      &:hover              
        color: white
        background-color: $orange
