.article

  .about_image
    position: relative
    height: 96vh
    width: 100%
    .img-bg
      -webkit-box-shadow: 0px 0px 99px
      border-bottom-left-radius: 80%
      border-bottom-right-radius: 80%
      display: flex
      justify-content: center
      align-items:  center
      flex-direction:  column
      .about-text
        font-size: 50px
        font-family: Comfortaa
        font-weight: bold
        color: white
      .about-title
        font-size: 75px
        font-family: Comfortaa
        font-weight: bold
        color: white
  .paralax_wrapper_1
    .article_wrapper
      .article_title
        font-size: 75px
        font-family: Comfortaa
        font-weight: bold
        color: black
        margin-top: 5rem
      .first_describe
        font-size: 18px
        font-family: Comfortaa
      .video_wrapper
        .iframe_video
          width: 100%
          height: 420px
          border-bottom-right-radius: 1rem
          border-top-right-radius: 1rem
          border-bottom-left-radius: 1rem
          border-top-left-radius: 1rem
          display: none

    .title_wrapper

      .title
        margin-left: 0
      .green_line_wrapper
        margin-left: 0
        position: relative
        .arrow_1
          background-image: url(#{asset_path('svg/364.svg')})
          background-repeat: no-repeat
          width: 3rem
          height: 3rem
          position: absolute
          top: 156px
          left: -3%
          cursor: pointer
        .arrow_2
          background-image: url(#{asset_path('svg/364.svg')})
          background-repeat: no-repeat
          width: 3rem
          height: 3rem
          position: absolute
          transform: rotate(180deg)
          top: 130px
          left: 119%
          cursor: pointer

    .slider_car#slider_car

      .slick_slider
        .body
          margin-left: 50px
          .slider_program-title
            font-size: 20px
            font-family: Comfortaa
            font-weight: bold
            color: black
            width: 350px

            a
              font: inherit
              color: inherit


          .slider_program-date

            font-family: Montserrat
            font-size: 12px
            opacity: 0.5


          .slider_program-describe

            font-family: Montserrat
            font-size: 14px
            width: 350px
            line-height: 24px
            height: 67px



  .paralax_wrapper_2

@media(max-width: 1536px)
  .article
    .paralax_wrapper_1
      .article_wrapper
      .title_wrapper
        margin-left: 40px
        .green_line_wrapper
          .arrow_1
            left: -5%
          .arrow_2
            left: 97%
      .slider_car#slider_car
        .slick_slider
          .body
            margin-left: 30px
            .slider_program-title
              width: 300px

            .slider_program-describe
              width: 300px


@media(max-width: 1366px)
  .article
    .paralax_wrapper_1
      .article_wrapper
      .title_wrapper
        margin-left: 100px
        .green_line_wrapper
          .arrow_2
            left: 91%
      .slider_car#slider_car
        .slick_slider
          .body
            margin-left: 22px
            width: 300px
            .slider_program-title
              width: 300px
              font-size: 16px
            .slider_program-describe
              width: 300px

@media(max-width: 1350px)
  .article
    .paralax_wrapper_1
      .article_wrapper
      .title_wrapper
        margin-left: 100px
        .green_line_wrapper
          .arrow_1
            left: -8%
          .arrow_2
            left: 91%
      .slider_car#slider_car
        .slick_slider
          .body
            margin-left: 3px
            width: 300px
            .slider_program-title
              width: 270px
              font-size: 16px
            .slider_program-describe
              width: 270px


@media(max-width: 540px)
  .article
    .about_image
      .img-bg
        border-radius: 0% 0% 150% 150%/0% 0% 80% 80%
        .about-text
          font-size: 16px
        .about-title
          font-size: 30px
    .paralax_wrapper_1
      .article_wrapper
        .article_title
          font-size: 30px
      .title_wrapper
        margin-left: 30px
        .green_line_wrapper
          .arrow_1
            left: -10%
          .arrow_2
            left: 81%
      .slider_car#slider_car
        .slick_slider
          .body
            margin-left: 3px
            width: 300px
            .slider_program-title
              width: 270px
              font-size: 16px
            .slider_program-describe
              width: 270px

