.blog
  padding-bottom: 50px   
  font-size: 16px 
  .container
    max-width: 1260px
  .wrapper_image
    position: relative 
    height: 96vh
    width: 100%
    // transition: 2s
    // transform: translateY(-20%)    
    z-index: 2 
    .img-bg
      -webkit-box-shadow: 0px 0px 99px
      border-bottom-left-radius: 80%  
      border-bottom-right-radius: 80%
      display: flex     
      justify-content: center
      align-items:  center
      flex-direction:  column
      background-position-y: bottom
      background-size: 200rem
      background-position-x: inherit
      .top-text
        font-size: 2rem 
        font-family: Comfortaa
        font-weight: bold
        color: white 
        margin-top: -20px
      .title
        font-size: 4rem
        font-family: Comfortaa
        font-weight: bold  
        color: white 
        text-align: center
        line-height: 68px
  .wrapper_all_content
    .wrapper-top
      .top-title
        font-size: 50px
        font-family: Comfortaa  
        margin-left: 10%
        margin-top: 5rem
      .blog_line
        display: flex   
        // transform: translateX(-100%)
        transition: 3s ease-in-out  
        .green-line
          background: $green
          width: 35%
          height: 10px 
          border-bottom-right-radius: 5px
          border-top-right-radius: 5px
          margin-right: 1rem
        .green-point
          // display: none    
          background: $green
          width: 10px  
          height: 10px 
          border-radius: 50%
      .top-describe
        font-family: Caveat
        font-size: 24px
        margin-left: 10%
  .wrapper_articles   
    margin-top: 5rem
    
    .block_mobile
      display: none 
    .wrapper_1
      display: flex
      flex-direction: row
      justify-content: space-between 
      .first_block  
        height: 1175px
        width: 280px        
        border-radius: 15px 
        background-color: #F5F5F5
        padding: 0.5rem  
        margin-left: -1rem
        display: flex   
        flex-direction: column  
        align-items: center
        justify-content: space-around
        .box_header
          display: flex   
          flex-direction: column    
          height: 255px
          width: 240px
          background-color: #FFFFFF
          border-radius: 10px 
          // margin-top: 12px
          .header_title     
            display: flex       
            margin-top: 1rem                      
            .photo_header
              
              .img-bg
                width: 5rem
                height: 5rem
                position: relative 
                border-radius: 50% 
                margin-left: 1rem
            .title_header
              font-family: Comfortaa
              font-weight: 700
              font-size: 20px  
              padding-left: 1rem
              .author
                font-size: 10px
                color: $green 
          .describe_header  
            margin-left: 1rem
            font-size: 14px 
            font-family: Montserrat 
            margin-top: 1rem
        .category_wrapper
          width: 240px
          height: 365px  
          background-color: #FFFFFF
          border-radius: 10px
          // margin-top: 20px
          .category_title
            font-size: 30px
            font-family: Comfortaa
            font-weight: 700
            margin-left: 1rem
            margin-top: 1rem
          .green_line
            display: flex 
            .line
              background-color: $green 
              height: 3px
              width: 170px
              margin-left: 1rem
            .dot
              background-color: $green 
              height: 3px
              width: 3px
              margin-left: 15px 
          .categories
            display: flex 
            flex-direction: column
            .category
              font-family: Montserrat
              font-size: 16px 
              line-height: 26px
              margin-bottom: 1rem
              text-align: left
              margin-left: 1rem
              width: 80%
              &:hover
                color: $green
            .all_category
              margin-top: 1rem  
        .subscribe_wrapper
          width: 240px
          height: 300px  
          background-color: #FFFFFF
          border-radius: 10px
          // margin-top: 2px
          .subscribe_title
            font-size: 25px
            font-family: Comfortaa
            font-weight: 700
            margin-left: 1rem
            margin-top: 1rem
          .subscribe_describe
          .email_wrapper
            
            margin-left: 1rem
            margin-top: 1rem
            #subscriber_email
              border: 2px solid $green
              border-top: none
              border-right: none
              border-left: none
            #button_w
              color: $green
               
              margin: auto
              margin-top: 2rem
              width: 200px
              height: 59px
              border: 2px solid $green
              border-radius: 27px 27px 27px 27px
              background-color: transparent
          .green_line
            display: flex 
            .line
              background-color: $green 
              height: 3px
              width: 170px
              margin-left: 1rem
            .dot
              background-color: $green 
              height: 3px
              width: 3px
              margin-left: 15px 
          .subscribe_describe
            font-size: 14px
            font-family: Montserrat   
            margin-left: 1rem
            width: 90% 
        .media_wrapper
          width: 240px
          height: 150px  
          background-color: #FFFFFF
          border-radius: 10px
          // margin-top: 20px

          .media_title
            font-family: Comfortaa
            font-weight: 700
            font-size: 25px
            margin-left: 1rem
            margin-top: 1rem
          .green_line
            display: flex 
          .line
            background-color: $green 
            height: 3px
            width: 170px
            margin-left: 1rem
          .dot
            background-color: $green 
            height: 3px
            width: 3px
            margin-left: 15px 
          .media_icons
            display: flex 
            .facebook, .insta
              width: 2rem
              height: 2rem
              border-radius: 50%
              background-color: #F5F5F5
              display: flex 
              -webkit-justify-content: center              
              justify-content: center
              -webkit-align-items: center 
              align-items: center 
              margin-top: 2rem
              margin-left: 1rem
            
      

      .all_articles_wrapper
        font-family: Comfortaa
        font-size: 30px
        font-weight: 700 
        margin-left: 4rem 
      .green_line_art
        background-color: $green
        width: 92%
        height: 2px
        margin-bottom: 3rem
        margin-left: 4rem
      #parent.card_place
        display: flex 
        flex-wrap: wrap
        margin-left: 3rem
        // height: 100vh 
        width: 51rem 
        .card
          height: 40vh 
          width: 15rem 
          border: none
          .link_wrapper
            a
              color: black
            .card-img-top
              height: 150px 
              width: 300px
              border-bottom-right-radius: 1rem
              border-top-right-radius: 1rem
              border-bottom-left-radius: 1rem
              border-top-left-radius: 1rem
              display: flex           
              justify-content: center           
              align-items: center 
              position: relative
              z-index: 1
            .read_title             
              color: white            
              margin-top: -5rem           
              border: 2px solid white
              border-radius: 25px 25px 25px 25px            
              font-size: 20px 
              font-family: Comfortaa
              font-weight: bold 
              padding: 3px 25px 3px 25px
              position: relative
              z-index: 2
              width: fit-content
              margin-left: 3rem
              opacity: 0 
            .card-title
              margin-top: 4rem
              height: 50px 
              font-family: Comfortaa
              font-size: 16px
          .card-body
            height: 8vh 
            padding: 0 
            .card-date
              font-family: Montserrat
              font-size: 12px
              opacity: 0.5 
            .card-text
              font-family: Montserrat,Montserrat
              font-size: 0.9rem
              overflow: hidden
              height: -webkit-fill-available 
      .easyPaginateNav
        width: 45%!important
        
        height: 50px 
        text-align: center
        margin: auto 
        .first
          font-size: 14px
          font-family: Montserrat
          color: black
          margin-right: 2rem
        .last
          font-size: 14px
          font-family: Montserrat
          color: black
          margin-left: 2rem
        .page
          font-family: Montserrat
          font-size: 14px
          margin: 0 5px 0 5px
          height: 30px
          width: 30px
          background-color: #dfdfdf
          border-radius: 50%
          display: inline-block 
          color: black 
          padding-top: 4px
          font-weight: 600 
          &:hover
            background-color: $orange
            color: white

@media (max-width: 1536px)
  .blog
    .wrapper_articles
      .wrapper_1
        #parent.card_place.row
          .card          
            height: 60vh 
            .link_wrapper
            .card-body
              height: 12vh 

@media (max-width: 1366px)
  .blog
    .wrapper_articles
      .wrapper_1
        #parent.card_place.row
          .card
            height: 60vh
            .link_wrapper
            .card-body
              margin-top: -24px  
@media (max-width: 768px)
  .blog
    .wrapper_articles
      .wrapper_1
        #parent.card_place.row
          width: 27rem 
          margin-left: 6rem
          .card          
            height: 35vh 
            .link_wrapper
              .card-title
                font-size: 17px
                font-family: Comfortaa 

            .card-body
              height: 8vh 
        .easyPaginateNav
          width: 68%!important
          margin-left: 8rem 

@media (max-width: 540px)
  .blog
    .wrapper_image
      .img-bg
        border-radius: 0% 0% 80% 80%/0% 0% 20% 20%
        background-size: 85rem  
        .top-text
          font-size: 20px
          width: 60%
          text-align: center
        .title
          font-size: 30px
          line-height: inherit 
    .wrapper_all_content
      .wrapper-top
        .top-title 
          font-size: 26px
          font-weight: 700 
        .blog_line
          padding: 10px 0 
          .green-line
            height: 5px
          .green-point 
            height: 5px
            width: 5px
    .wrapper_articles      
      .block_mobile
        display: block 
        .box_header_mobile
          display: flex
          flex-direction: column 
          border: 1px solid #dbd6d6
          border-radius: 8px
          padding-top: 1rem
          position: relative 
          margin-top: -2rem
          .header_title_mobile
            display: flex
            justify-content: space-around
            margin-left: 1rem
            .photo_header_mobile
              .img-bg
                width: 70px
                height: 70px
                border-radius: 50%
                position: absolute
                left: 5%
                top: 5%
            .title_header_mobile
              font-family: Comfortaa
              font-weight: 700
              font-size: 20px 
              margin-left: -50px
              .author_mobile
                font-family: Montserrat
                font-weight: 700
                font-size: 10px 
                color: $green 
          .describe_header_mobile 
            font-family: Montserrat
            font-size: 12px
            margin: 2rem 1rem 1rem 1rem
        .category_mobile
          height: 60px
          background-color: #F5F5F5
          display: flex 
          align-items: center
          margin-top: 1rem
          border-radius: 8px
          justify-content: space-between
          .category_m_title
            font-family: Comfortaa
            font-size: 20px
            font-weight: 700 
            margin-left: 1rem
          .category_icon
            margin-right: 10px
            .arrow
              background-image: url(#{asset_path('svg/arrow.svg')})
              height: 30px
              width: 30px
              background-size: 30px 30px
              display: block 
            .arrow1
              background-image: url(#{asset_path('svg/arrow.svg')})
              height: 30px
              width: 30px
              background-size: 30px 30px
              transform: rotate(180deg)
              display: none 
        .dropdown_m 
          display: none 
          background-color: #F5F5F5
          border-radius: 8px
          .dropdown_categories
            flex-direction: column
            align-items: baseline
            .category
              font-family: Comfortaa
              font-size: 16px
              margin-top: 1rem
              margin-left: 24px
            .fourth_category
              padding-bottom: 20px 
      .wrapper_1

        .first_block
          display: none
          .box_header
          .category_wrapper          
            display: none 
          .subscribe_wrapper
            display: none
          .media_wrapper
            display: none
        #parent.card_place.row
          width: 21rem
          margin-left: 0
          .card
            height: 35vh
            .card-body
              display: none 
        .easyPaginateNav
          width: 100%!important
          margin-top: 3rem
          margin-left: -1rem
          .first
            margin-right: 0
          .last
            margin-left: 0
        .all_articles_wrapper
          margin-top: 3rem
          margin-left: 1rem
          font-size: 22px
        .green_line_art
          margin-left: 1rem
        #parent.card_place.row
          .card
            height: 57vh
            margin-top: 2rem
            .link_wrapper
              a
                .card-img-top
                  height: 190px
            .card-body
              display: block
              .card-date
                padding: 10px 0 
              .card-text
                height: 4rem

