.contacts

  .contacts_title_wrapper
    .contacts_title
      font-family: Comfortaa
      font-size: 5rem
      font-weight: 700
      margin-left: 9rem
      margin-top: 7rem
    .contacts_line
      display: flex
      .red_line
        background: #FC4D1C
        width: 48rem
        height: 7px
        border-bottom-right-radius: 5px
        border-top-right-radius: 5px
        margin-right: 1.5rem
      .red_dot
        background: #FC4D1C
        width: 9px
        height: 9px
        border-radius: 50%
    .contacts_describe
      font-size: 2rem
      margin-left: 9rem
      width: 38rem
      font-family: Caveat
    .map_contacts_wrapper
      margin-top: -6rem
      .adress_wrapper
        margin-top: 16rem
        .address
          margin-bottom: 2rem
          .address_block
            display: flex
            .adress_logo
              width: 2rem
              height: 2rem
              border-radius: 50%
              background-color: #F5F5F5
              display: flex
              -webkit-justify-content: center
              justify-content: center
              -webkit-align-items: center
              align-items: center

            .add_name
              display: flex
              flex-direction: column
              .address_title
                +comfora_1(1)
                &:hover + #addreslogo
                  background: #E4E4E4
              .adress_adress
                font-family: Montserrat
                font-size: 1rem
        .phone_wrapper
          margin-bottom: 2rem
          .phone_block
            display: flex
            .phone_logo
              width: 2rem
              height: 2rem
              border-radius: 50%
              background-color: #F5F5F5
              display: flex
              -webkit-justify-content: center
              justify-content: center
              -webkit-align-items: center
              align-items: center
            .phone_name
              display: flex
              flex-direction: column
              .phone_number_first, .phone_number_second
                +comfora_1(1)

        .mail_wrapper, .skype_wrapper
          .mail_block
            display: flex
            .mail_logo
              width: 2rem
              height: 2rem
              border-radius: 50%
              background-color: #F5F5F5
              display: flex
              -webkit-justify-content: center
              justify-content: center
              -webkit-align-items: center
              align-items: center
            .mail_name
              +comfora_1(1)
        .skype_wrapper
          margin-bottom: 3rem
        .lookme_wrapper
          display: flex
          .lookme_name
            +comfora_1(1)
          .look_facebook, .look_insta
            width: 2rem
            height: 2rem
            border-radius: 50%
            background-color: #F5F5F5
            display: flex
            -webkit-justify-content: center
            justify-content: center
            -webkit-align-items: center
            align-items: center
            margin-left: 2rem


      .map_wrapper
        .iframe
          border-radius: 50%
          overflow: hidden
          position: relative
          width: 600px
          height: 600px
        .svg_frame
          width: 46rem
          height: 46rem
          background-size: 44rem 44rem
          background-image: url(#{asset_path('svg/contacts.svg')})
          margin-top: -33rem
          margin-left: 4rem
  .wrapper_2
    // .bottom-image
    //  .shadow_wrapper
    //    height: 100vh
    //    background-image: linear-gradient(180deg, rgba(255,255,255,1) 6%, rgba(241,241,247,0) 53%, rgba(255,255,255,1) 94%)
    //    margin-top: 3rem
    //    position: relative
    //    margin-left: -1rem
    //    width: 101vw
    //  .img-bottom
    //    height: 100vh
    //    background-size: cover
    //    display: flex
    //    justify-content: center
    //    align-items:  center
    //    flex-direction:  column
    //    margin-top: -63rem
    //    margin-left: -1rem
    //    width: 101vw
    //    .bottom_text_1
    //      font-size: 30px
    //      font-family: Comfortaa
    //      font-weight: bold
    //      color: white

    //    .bottom_text_2
    //      font-size: 30px
    //      font-family: Comfortaa
    //      font-weight: bold
    //      color: #FFA400
    //    .button
    //      border: 2px solid $orange
    //      border-radius: 25px 25px 25px 25px
    //      top: 5%
    //      right: 5%
    //      color: $orange
    //      font-size: 20px
    //      font-family: Comfortaa
    //      font-weight: bold
    //      padding: 10px 20px 10px 20px

@media(max-width: 1366px)
  .contacts
    .contacts_title_wrapper
      .map_contacts_wrapper
        .map_wrapper
          .iframe
            width: 450px
            height: 450px
            margin-top: 7rem
            margin-left: 2rem
          .svg_frame
            width: 36rem
            height: 36rem
            background-size: 34rem 34rem
            margin-top: -26rem
            margin-left: 4rem
            background-repeat: no-repeat

@media(max-width: 1024px)
  .contacts
    .contacts_title_wrapper
      .map_contacts_wrapper
        .map_wrapper
          .iframe
            width: 350px
            height: 350px
            margin-top: 15rem
            margin-left: 2rem
          .svg_frame
            width: 36rem
            height: 36rem
            background-size: 26rem 26rem
            margin-top: -20rem
            margin-left: 4rem
            background-repeat: no-repeat

@media(max-width: 540px)
  .contacts
    .contacts_title_wrapper
      .contacts_title
        font-size: 30px
        margin-left: 2rem
      .contacts_line
        margin-top: 10px
        margin-bottom: 10px
        .red_line
          width: 280px
      .contacts_describe
        margin-left: 2rem
        font-size: 20px
        width: 280px
      .map_contacts_wrapper
        .map_wrapper
          display: none
          .iframe