.dietology
  .container
    max-width: 1250px
  .wrapper_image
    position: relative 
    height: 96vh
    width: 100%
    // transition: 2s
    // transform: translateY(-20%)    
    z-index: 2 
    margin-top: -6rem
    .img-bg
      -webkit-box-shadow: 0px 0px 99px
      border-bottom-left-radius: 80%  
      border-bottom-right-radius: 80%
      display: flex     
      justify-content: center
      align-items:  center
      flex-direction:  column
      .top-text
        font-size: 2rem   
        font-family: Comfortaa
        font-weight: bold
        color: white 
        margin-top: 2rem
      .top-title
        font-size: 5rem 
        font-family: Comfortaa
        font-weight: bold  
        color: white 
  .paralax_wrapper_1
    margin-top: 34rem
    .wrapper_all_content
      margin-top: -550px
      // transition: 2s     
      .middle-title      
        font-size: 70px
        font-weight: bold 
        font-family: Comfortaa 
        margin-top: 5rem
      .middle-description
        font-family: Montserrat
        font-size: 16px 

      .first_list_name
        font-size: 20px 
        font-weight: 700
        margin-top: 50px  
        margin-bottom: 20px  
        font-family: Comfortaa 
      .first_list
        font-size: 16px 
        ol
          margin-left: 40px     
        li:before
          content: " "
          position: absolute
          margin-left: -40px        
          margin-top: 10px
          background: $green 
          color: $green       
          width: 15px
          height: 5px 
          -webkit-border-radius: 3px 
          border-radius: 3px 
      .second_list_name
        font-size: 20px 
        font-weight: 700 
        margin-top: 50px  
        margin-bottom: 20px
        font-family: Comfortaa
      .second_list
        font-size: 16px 
        ol
          margin-left: 40px             
        li:before
          content: " "
          position: absolute
          margin-left: -40px      
          margin-top: 10px
          background: $green 
          color: $green       
          width: 15px
          height: 5px  
          -webkit-border-radius: 3px 
          border-radius: 3px
      .circle_1  
        background-image: url(#{asset_path('svg/2.svg')})
        width: 12rem
        height: 12rem  
        transform: rotate(118deg)        
        background-repeat: no-repeat
        background-size: 12rem 12rem
        display: flex     
        justify-content: center     
        align-items: center 
        margin-left: -1rem
        // -webkit-animation: spin_1 10s linear infinite
        // -moz-animation: spin_1 10s linear infinite
        // animation: spin_1 10s linear infinite

        @keyframes spin_1
          0%
            -webkit-transform: rotate(0deg)
            transform: rotate(0deg)
          50%
            -webkit-transform: rotate(90deg)
            transform: rotate(90deg)
          100%
            -webkit-transform: rotate(0deg)
            transform: rotate(0deg)   
        .inside
          border-radius: 50%       
          width: 160px
          height: 160px     
          background-color: #F5F5F5
          margin-left: -1px
          margin-top: -15px
      .text_inside
        font-size: 30px 
        margin-top: -160px
        margin-left: 100px 
        font-family: Caveat 
  .paralax_wrapper_2        
    margin-top: 5rem
    




@media(max-width: 1536px)
  .dietology    
    .paralax_wrapper_1
      margin-top: 35rem 
      .wrapper_all_content
        .middle-title
          font-size: 30px
        .middle-description
        .first_list_name
    .paralax_wrapper_2
      margin-top: 5rem

@media(max-width: 1024px)
  .dietology
    .wrapper_image
      .img-bg
        border-radius: 0% 0% 80% 80%/0% 0% 20% 20%  
      
@media(max-width: 768px)
  .dietology
    .wrapper_image
      .img-bg
        border-radius: 0% 0% 80% 80%/0% 0% 20% 20%  
    .paralax_wrapper_1
      margin-top: 35rem


@media(max-width: 540px)
  .dietology
    .wrapper_image
      .img-bg
        border-radius: 0% 0% 80% 80%/0% 0% 20% 20%  
        .top-text
          font-size: 16px
        .top-title
          font-size: 27px
    .paralax_wrapper_1
      margin-top: 35rem
      .wrapper_all_content
        .middle-title
          margin-bottom: 1rem
        .middle-description
        .text_inside
          font-size: 22px
          margin-left: 30px
          margin-top: -143px

        .wrapper_slider
          margin-top: 3rem
    .paralax_wrapper_2
      margin-top: 5rem
