@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i')
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext')
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700|Montserrat:300,400,500,600,700&subset=cyrillic')
@import url('https://fonts.googleapis.com/css?family=Caveat:400,700&display=swap&subset=cyrillic')

@font-face
	font-family: AD
	src: font_url('AADuke-Fill.ttf')
	font-weight: normal
	font-style: normal


@font-face
	font-family: Birch
	src: font_url('birch_ctt.ttf')
	font-weight: normal
	font-style: normal 
