.main
  .container
    max-width: 1250px
  .paralax_wrapper_1
    background: #FEFEFE
    // border-radius: 0% 0% 150% 150%/0% 0% 40% 40%
    height: 122rem
    box-shadow: 0px 0px 50px #DCDCDC

    .top_top
      // background-image: url(#{asset_path('svg/2round_line.svg')})
      position: absolute
      top: 11rem
      height: 145rem
      width: 86rem
        // display: none
    .wrapper_top
      .school_title
        font-family: Comfortaa,Bold
        font-weight: 900
        font-size: 60px
        margin-top: 20rem
        margin-left: -14rem
      .orange_line
        background-image: url(#{asset_path('photo/Path.svg')})
        background-repeat: no-repeat
        height: 9rem
        max-width: 58rem
        margin-left: -27rem
        margin-top: -2rem
    .list_top
      margin-left: -3rem
      position: relative
      .list_top_title
        font-family: Comfortaa,Bold
        font-weight: 900
        font-size: 1.7rem
        margin-bottom: 20px


      .list_top_describe
        font-family: Montserrat
        font-size: 0.9rem
        line-height: 1.7rem
        position: relative
        z-index: 2
        ol
          margin-left: 40px
        li:before
          content: " "
          position: absolute
          margin-left: -40px
          margin-top: 10px
          background: $green
          color: $green
          width: 15px
          height: 4px
          -webkit-border-radius: 3px
          border-radius: 3px
      .list_top_details
        display: flex
        align-items: center
        justify-content: flex-end
        margin-top: 2rem
        margin-right: 10rem
        .green_dot
          height: 1px
          width: 5px
          background: $green
          margin-right: 5px
        .green_point
          height: 1px
          width: 25px
          background: $green
          margin-right: 10px
        .green_details
          font-family: Caveat,bold
          font-size: 20px
          a
            color: $green
      .top_gray_circle
        background: #F5F5F5
        height: 210px
        width: 210px
        border-radius: 50%
        position: absolute
        top: 46%
        left: -10%

    .top_big_circle

      height: 20rem
      width: 20rem
      background: #F5F5F5
      margin-left: 26rem
      margin-top: -42rem
      transform: rotate(130deg)
      z-index: 1
    .circle_small_left
      opacity: 0
      background: #877A6B
      height: 2rem
      width: 2rem
      -webkit-border-radius: 50%
      border-radius: 50%
    .circle_small_right




    .top_wrapper_image
      width: 670px
      height: 800px
      display: flex
      -webkit-align-content: center
      align-content: center
      -webkit-justify-content: center
      justify-content: center

      .img-bg
        height: 40rem
        width: 40rem
        border-radius: 50%
        margin-top: 205px
        margin-left: 7rem
      .top_blue_circle
        width: 46rem
        height: 46rem
        background-size: 50rem 46rem
        background-image: url(#{asset_path('svg/6_1.svg')})
        background-repeat: no-repeat
        margin-top: 154px
        margin-left: 101px
        transform: rotate(177deg)
        position: absolute
      .top_small_circle
        position: relative
        .circle_11111
          position: absolute
          width: 70px
          height: 70px
          border-radius: 50%
          background-color: $green
          top: 20%
          right: -438px
    .top_middle
      margin-top: 0rem
      .top_middle_title
        .top_orange_circle
          // border-radius: 50%
          height: 41rem
          width: 41rem
          background-size: 40rem 40rem
          margin-left: -4.5rem
          margin-top: 215px
          background-image: url(#{asset_path('svg/group.svg')})
          background-repeat: no-repeat
          transform: rotate(-2deg)
        .ihor_photo

          .img-bg
            height: 28rem
            width: 28rem
            border-radius: 50%

            margin-left: 43px
            margin-top: 311px
          .bottom_info_name_1
            display: none

        .middle_half_circle
          width: 30rem
          height: 30rem
          border-radius: 50%
          background: red
          z-index: 3
      .middle_big_circle
        height: 40rem
        width: 40rem
        border-radius: 50%
        background: red
        margin-top: -12rem
        margin-left: -8rem
      .about_autor_block
        margin-left: 1.5rem
        margin-top: 20rem
        .middle_top_title
          // margin-top: -19rem
          font-family: Comfortaa,Bold
          font-weight: 900
          font-size: 2.5rem
        .middle_top_describe
          font-family: Montserrat
          font-size: 0.9rem
          margin-bottom: -8rem
          line-height: 24px
        .middle_middle_text
          font-family: Comfortaa,Bold
          font-weight: 900
          font-size: 1.5rem
          margin-top: 10rem
        .middle_middle_describe
          font-family: Montserrat
          font-size: 0.9rem
          line-height: 24px
      .middle_details
        display: flex
        align-items: center
        justify-content: flex-end
        margin-top: 2rem
        .green_dot
          height: 1px
          width: 5px
          background: $green
          margin-right: 5px
        .green_point
          height: 1px
          width: 25px
          background: $green
          margin-right: 10px
        .green_details
          font-family: Caveat,bold
          font-size: 20px
          a
            color: $green
      .middle_gray_circle
        height: 10rem
        width: 10rem
        border-radius: 50%
        background: #F5F5F5
        margin-left: 30rem
      .bottom_info_name
        margin-top: -8rem
        margin-left: 3rem
        .bottom_top_title
          font-size: 1.5rem
          font-family: Caveat
        .bottom_top_name
          font-family: Comfortaa,Bold
          font-weight: 900
          font-size: 2rem
          color: $orange
        .bottom_top_describe
          font-family: Montserrat
          font-size: 0.8rem
          margin-top: 10px
          width: 24rem
      .wrapper_video
        display: flex
        margin-left: 1.5rem
        margin-top: -6rem
        .video_box
          background-image: url(#{asset_path('photo/Group238.png')})
          height: 8rem
          width: 10rem
          border-radius: 50%
          /* background-color: #FCA425; */
          background-position: center
          margin-top: -1rem

        .video_describe
          margin-left: 1rem
          p
            font-family: Caveat
            font-size: 1.5rem
  .wrapper_paralax_2
    margin-top: 0rem

    background-color: #F5F5F5
    height: 174rem
    padding-top: 14rem
    width: 100%
    .middle_directions
      font-family: Comfortaa,Bold
      font-weight: 900
      font-size: 60px
      margin-left: 9rem
      margin-bottom: 1rem
    .middle_directions_line
      display: flex
      .dir_line
        background: $blue
        width: 53rem
        height: 7px
        border-bottom-right-radius: 5px
        border-top-right-radius: 5px
        margin-right: 1.5rem
        transform: translateX(-100%)
        transition: 1s ease-in-out
      .dir_point
        background: $blue
        width: 9px
        height: 9px
        border-radius: 50%
        transform: translateX(-100rem)
        transition: 1s ease-in-out
    .middle_directions_describe
      font-size: 1.5rem
      margin-left: 9rem
      margin-top: 1rem
      p
        font-family: Caveat
    .info_white_circle
      background: white
      width: 10rem
      height: 10rem
      border-radius: 50%
      margin-top: 7rem
      margin-left: -5rem
    .info_info
      margin-top: -6rem
      width: 30rem
      .svg_image
        height: 27rem
        width: 248%
        margin-top: -7rem
        margin-left: -4rem
    .middle_middle_wrapper
      .middle_info_block
        margin-top: -15rem
        height: 15rem

        .middle_info_title
          font-family: Comfortaa,Bold
          font-weight: 900
          font-size: 3rem
        .middle_info_describe
          font-family: Montserrat
          font-size: 0.9rem
          margin-top: 10px
      .info_gray_circle
        height: 27rem
        width: 27rem
        border-radius: 50%
        border: 2px solid white
        margin-top: -7rem
        margin-left: 11rem
      .middle_info_photo
        .img-bg
          position: relative
          height: 31rem
          width: 31rem
          border-radius: 50%
          padding: 30px
          border-width: 10px
          margin-top: -411px
          margin-left: 588px
          z-index: 2
    .practice_circle
      height: 35rem
      width: 35rem
      background-size: 35rem 35rem
      margin-left: -80px
      margin-top: 1rem
      background-image: url(#{asset_path('svg/6_1.svg')})
      background-repeat: no-repeat
      transform: rotate(268deg)
    .middle_practise_photo
      .img-bg
        position: relative
        height: 31rem
        width: 31rem
        border-radius: 50%
        // padding: 30px
        // border-width: 35px
        // border-style: solid
        margin-left: -50px
        margin-top: -33rem

        z-index: 2

    .practise_gray_circle
      height: 29rem
      width: 29rem
      border-radius: 50%
      // border: 2px solid white
      margin-top: -7rem
      margin-left: -3rem
      position: relative
      z-index: 3
    .practise_practise
      margin-top: -10rem
      width: 28rem
      height: 15rem
      position: relative

      .title_h3
        font-family: Comfortaa,Bold
        font-weight: 900
        font-size: 3rem
      .middle_practise_describe
        font-family: Montserrat
        font-size: 0.9rem
        margin-top: 10px
      .middle_practise_circle
        position: absolute
        width: 118px
        height: 118px
        border-radius: 50%
        background-color: #FFF
        left: 65%
    .practise_white_square
      height: 10rem
      width: 21rem
      // background: white
      transform: rotate(130deg)
      position: relative
      margin-top: -22rem
      margin-left: -10rem
      z-index: 1
    .help_wrapper
      .help_white_circle
      .help_help
        margin-top: 15rem
        width: 30rem
        .middle_help_title
          font-family: Comfortaa,Bold
          font-weight: 900
          font-size: 3rem
        .middle_help_describe
          font-family: Montserrat
          font-size: 0.9rem
          margin-top: 10px
      .middle_help_photo
        .help_circle
          height: 49rem
          width: 36rem
          background-size: 44rem 44rem
          margin-left: 31rem
          margin-top: -31rem
          background-image: url(#{asset_path('svg/7_1.svg')})
          background-repeat: no-repeat
          // transform: rotate(296deg)
        .img-bg
          position: relative
          height: 31rem
          width: 31rem
          border-radius: 50%
          padding: 30px
          margin-left: 37rem
          margin-top: -653px

  .feeling_wrapper
    margin-top: -25rem
    background-image: url(#{asset_path('photo/dark_bg.jpg')})
    background-position-y: bottom
    height: 151rem
    .feeling_title
      font-family: Comfortaa,Bold
      font-size: 2.5rem
      color: white
      padding-top: 14rem
      margin-bottom: 1rem
      font-weight: 700
      margin-left: 9rem
    .feedback_orange_line
    .feedback_orange_dot
    .feeling_line_wrapper
      display: flex
      .feeling_line
        background: $green
        width: 48rem
        height: 7px
        border-bottom-right-radius: 5px
        border-top-right-radius: 5px
        margin-right: 1.5rem
        transform: translateX(-100%)
        transition: 1s ease-in-out
      .feeling_dot
        background: $green
        width: 9px
        height: 9px
        border-radius: 50%
        transform: translateX(-100rem)
        transition: 1s ease-in-out
    .diagnos_wrapper
      height: 24rem
      .first_line_wrapper
        display: flex
        -webkit-justify-content: space-around
        justify-content: space-around
        margin-top: 8rem
        .headach_wrapper
          .headach_title
            font-family: Montserrat, Medium
            color: white
            font-size: 2rem
            height: 3rem
            animation: resize_2 6s infinite
            animation-delay: 2.8s
            margin-left: -30rem
            margin-top: 1rem
            &:hover
              font-size: 2rem
              animation: paused
              -webkit-transition: 0.5s
              -moz-transition: 0.5s
              -ms-transition: 0.5s
              -o-transition: 0.5s
              transition: 1s
          .pain_wrapper
            font-family: Montserrat,Regular
            font-size: 1rem
            color: #677178
            margin-left: 9rem
            animation: resize 6s infinite
            animation-delay: 0.5s


          .headach_line_wrapper
            display: flex


      .insomnia_wrapper
        display: flex
        justify-content: flex-end
        height: 7rem
        .insomnia_title

          position: relative
          font-family: Montserrat,Regular
          font-size: 1rem
          color: #677178
          &:hover
            font-size: 1.5rem
            color: red

          animation: resize 6s infinite
          animation-delay: 2s



        .insomnia_circle
          background: #3D4951
          height: 8rem
          width: 8rem
          border-radius: 50%
          margin-left: -3rem
          margin-top: -2.5rem
          animation : resize_1 5s infinite
          margin-right: 10%

      .memory_wrapper
        font-family: Montserrat,Regular
        font-size: 1rem
        color: #677178
        margin: auto
        text-align: center
        animation: resize 8s infinite
        margin-bottom: 4rem
        margin-right: 48rem

      .fatigue_wrapper
        display: flex
        margin-left: 64rem
        margin-bottom: 4rem
        margin-top: -2rem
        .fatigue_title
          font-family: Montserrat,Regular
          font-size: 1rem
          color: #677178
          position: relative
      .second_line_wrapper
        display: flex
        justify-content: center
        height: 2rem
        .irritab_wrapper
          font-family: Montserrat,Regular
          font-size: 1rem
          color: #677178
          animation: resize 6s infinite
          animation-delay: 3.5s
          margin-top: -3rem
          margin-right: 1rem

      .third_line_wrapper
        display: flex
        justify-content: space-around
        margin-bottom: 3rem

        .pressure
          margin-left: -50rem
          font-family: Montserrat,Regular
          font-size: 2rem
          color: white
          height: 2.5rem
          animation: resize_2 6s infinite
          animation-delay: 2.5s
          z-index: 3

        .fatigue_circle
          background: #29363F
          height: 4rem
          width: 4rem
          border-radius: 50%
          margin-left: -2rem
          margin-top: -1.5rem

      .fifth_line_wrapper
        display: flex
        justify-content: space-around
        .depresion
          margin-left: 6rem
          font-family: Montserrat,Regular
          font-size: 1.5rem
          color: white
          animation: resize_small 12s infinite
          position: relative
          z-index: 3
          @keyframes resize_small
            0%
              margin-left: 6rem
              font-family: Montserrat,Regular
              font-size: 1.5rem
              color: white
            50%
              margin-left: 6rem
              font-family: Montserrat,Regular
              font-size: 1.2rem
              color: #677178
            100%
              margin-left: 6rem
              font-family: Montserrat,Regular
              font-size: 1.5rem
              color: white
        .weight
          font-family: Montserrat,Regular
          font-size: 1rem
          color: #677178
          animation: resize 10s infinite
    .chronic_wrapper
      display: column
      justify-content: center
      margin: auto
      width: 40rem
      .circle_chronic
        background: #29363F
        height: 9rem
        width: 9rem
        border-radius: 50%
        margin-left: -6rem
        position: relative
        z-index: 1
      .chronic_title
        font-family: Comfortaa,Bold
        font-size: 2rem
        color: white
        font-weight: 500
        margin-top: 15rem
        margin-left: -2rem
        height: 3rem

      .chronic_describe_first
        margin-top: 3rem
        font-family: Montserrat,Regular
        font-size: 0.8rem
        color: white
        margin-left: -2rem
      .chronic_describe_second
        font-family: Montserrat,Regular
        font-size: 0.8rem
        color: white
        margin-left: -2rem
    .how_to_work_wrapper
      font-size: 3rem
      font-family: Comfortaa
      font-weight: 700
      text-align: center
      color: #FAFBFB
      margin-top: 7rem
      margin-bottom: 3rem
    .describe_wrapper
      .konsultation
        .konsultation_circle
        .flex-wrapper
          display: flex
          flex-flow: row nowrap

          .single-chart
            width: 15%
            justify-content: space-around
            text-align: center
            margin-left: 3rem
            .circular-chart
              display: block
              margin: 10px auto
              max-width: 80%
              max-height: 250px
              // margin-left: 6rem
              .circle-bg
                fill: none
                stroke: #455862
                stroke-width: 3.8
            .circle
              fill: #7B888D
              stroke-width: 2.8
              stroke-linecap: round

          @keyframes progress
            0%
              stroke-dasharray: 0 100


          .circular-chart
            margin-left: 88px
            &.white .circle
              stroke: #FFFFFF
              margin-left: 50px
              &:hover
                animation: progress 3s ease-out forwards
            &.blue .circle
              stroke: $blue
              &:hover
                animation: progress 3s ease-out forwards

            &.green .circle
              stroke: $green
              margin-left: 88px
              &:hover
                animation: progress 3s ease-out forwards

            &.orange .circle
              stroke: $orange
              &:hover
                animation: progress 3s ease-out forwards

            &.red .circle
              stroke: #FC4D1C
              &:hover
                animation: progress 3s ease-out forwards
          @keyframes progress
            0%
              stroke-dasharray: 0 100

          .percentage
            fill: #FAFBFB
            font-family: Comfortaa
            font-size: 0.5em
            text-anchor: middle
        .circle_title
          color: #FAFBFB
          font-family: Comfortaa
          font-size: 1.5rem
          margin-top: 10px
        .circle_description
          color: #FAFBFB
          font-family: Montserrat
          font-size: 0.8rem
    .konsultation_wrapper
      height: 27rem
      width: 27rem
      background: white
      border-radius: 50%
      margin: auto
      margin-top: 14rem
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      box-shadow: 0px 10px 50px #00000040

      .title_kosultation
        font-size: 2rem
        font-family: Comfortaa
        font-weight: 700
        text-align: center
        margin-top: 2rem
        line-height: normal
      .describe_konsultation
        text-align: center
        font-family: Montserrat
        font-size: 1rem
        margin-top: 1rem
        margin-bottom: 2rem
        width: 250px
      .button_kons
        border: 2px solid $green
        border-radius: 25px 25px 25px 25px
        top: 5%
        right: 5%
        color: $green
        font-size: 15px
        font-family: Comfortaa
        font-weight: bold
        padding: 10px 20px 10px 20px
        &:hover
          background-color: $green
          color: white
    .green_circl
      background-image: url(#{asset_path('svg/8_1.svg')})
      height: 26rem
      background-repeat: no-repeat
      background-size: 30rem 32rem
      margin-top: -29rem
      margin-left: 21rem
  .feedback_wrapper
    margin-top: 19rem
    .feedback_title
      font-family: Comfortaa
      font-size: 4rem
      font-weight: 700
      margin-top: 5rem
      margin-left: 5rem
    .feedback_line
      display: flex
      .feedback_orange_line
        background: $orange
        width: 53rem
        height: 7px
        border-bottom-right-radius: 5px
        border-top-right-radius: 5px
        margin-right: 1.5rem
        margin-left: -3rem
        transform: translateX(-100%)
        transition: 1s ease-in-out
      .feedback_orange_dot
        background: $orange
        width: 9px
        height: 9px
        border-radius: 50%
        transform: translateX(-100rem)
        transition: 1s ease-in-out
    .feedback_slider
      width: 97%
      margin-top: 2rem
      margin-bottom: 10rem

      .slider_wrapper
        margin-left: 7rem
        margin-top: 7rem


        .feedback_header
          display: flex
          .img-bg_feedback
            position: relative
            height: 5rem
            width: 5rem
            border-radius: 50%
            background-size: contain
        .feedback_header_name
          display: flex
          flex-direction: column
          margin-left: 1rem
          .feedback_name
            font-size: 24px
            color: $orange
            font-family: Caveat
          .feedback_age
            font-size: 15px
            font-weight: 700
          .feedback_proff
            opacity: 0.5
            font-size: 12px
            font-weight: 500
            font-family: Montserrat
        .feedback_program_title
          margin-top: 2rem
          font-family: Comfortaa
          font-weight: 700
          font-size: 1.5rem
        .feedback_program_describe
          font-family: Montserrat
          font-size: 1rem
        .circle_hover
          height: 28rem
          width: 28rem
          border-radius: 50%
          background-color: purple
          margin-top: -23rem
          margin-left: -5rem
          display: none
          &:hover
            display: block


  .contacts
    height: 75vh
    margin-top: 15rem
    margin-bottom: -3rem
    .contacts_title_wrapper
      .contacts_title
        font-family: Comfortaa
        font-size: 5rem
        font-weight: 700
        margin-left: 9rem
        margin-top: 7rem
      .contacts_line
        display: flex
        .red_line
          background: #FC4D1C
          width: 48rem
          height: 7px
          border-bottom-right-radius: 5px
          border-top-right-radius: 5px
          margin-right: 1.5rem
          transform: translateX(-100%)
          transition: 1s ease-in-out
        .red_dot
          background: #FC4D1C
          width: 9px
          height: 9px
          border-radius: 50%
          transform: translateX(-100%)
          transition: 1s ease-in-out
      .contacts_describe
        font-size: 1.5rem
        margin-left: 9rem
        width: 38rem
        font-family: Caveat
        margin-top: 1rem
    .map_contacts_wrapper
      margin-top: -12rem
      .adress_wrapper
        margin-top: 18rem
        .address
          margin-bottom: 2rem
          .address_block
            display: flex
            .adress_logo
              width: 2rem
              height: 2rem
              border-radius: 50%
              background-color: #F5F5F5
              display: flex
              -webkit-justify-content: center
              justify-content: center
              -webkit-align-items: center
              align-items: center
              margin-right: 1rem

            .add_name
              display: flex
              flex-direction: column
              .address_title
                +comfora_1(1)
                &:hover + #addreslogo
                  background: #E4E4E4
              .adress_adress
                font-family: Montserrat
                font-size: 1rem
        .phone_wrapper
          margin-bottom: 2rem
          .phone_block
            display: flex
            .phone_logo
              width: 2rem
              height: 2rem
              border-radius: 50%
              background-color: #F5F5F5
              display: flex
              -webkit-justify-content: center
              justify-content: center
              -webkit-align-items: center
              align-items: center
              margin-right: 1rem
            .phone_name
              display: flex
              flex-direction: column
              .phone_number_first, .phone_number_second
                +comfora_1(1)

        .mail_wrapper, .skype_wrapper
          .mail_block
            display: flex
            .mail_logo
              width: 2rem
              height: 2rem
              border-radius: 50%
              background-color: #F5F5F5
              display: flex
              -webkit-justify-content: center
              justify-content: center
              -webkit-align-items: center
              align-items: center
              margin-right: 1rem
            .mail_name
              +comfora_1(1)
        .skype_wrapper
          margin-bottom: 3rem
        .lookme_wrapper
          display: flex
          .lookme_name
            +comfora_1(1)
          .look_facebook, .look_insta
            width: 2rem
            height: 2rem
            border-radius: 50%
            background-color: #F5F5F5
            display: flex
            -webkit-justify-content: center
            justify-content: center
            -webkit-align-items: center
            align-items: center
            margin-left: 1rem


      .map_wrapper
        .iframe
          border-radius: 50%
          overflow: hidden
          position: relative
          width: 600px
          height: 600px
        .circle_iframe
          width: 39rem
          height: 39rem
          background-size: 39rem 39rem
          background-image: url(#{asset_path('svg/11_1.svg')})
          background-repeat: no-repeat
          margin-top: -37rem
          margin-left: -27px
          transform: rotate(24deg)
          position: absolute
        .small_circle
          position: relative
          .circle_iframe_1
            width: 125px
            height: 125px
            border-radius: 50%
            background-color: #e4e4e4
            position: absolute
            top: -88px
            left: 96%
          .circle_1_svg
            width: 10rem
            height: 10rem
            background-size: 10rem 10rem
            background-image: url(#{asset_path('svg/12_1.svg')})
            background-repeat: no-repeat
            margin-top: -7rem
            margin-left: 546px
            transform: rotate(24deg)
            position: absolute








.row
  max-width: 100%
  margin-right: 0
  margin-left: 0





  @keyframes resize
    0%
      font-family: Montserrat,Regular
      font-size: 1rem
      color: #677178

    50%
      font-family: Montserrat,Regular
      color: white
      font-size: 1.5rem


    100%
      font-family: Montserrat,Regular
      font-size: 1rem
      color: #677178
      text-shadow: none


  @keyframes resize_2
    0%
      font-family: Montserrat,Regular
      font-size: 2rem
      color: white

    50%
      font-family: Montserrat,Regular
      color: #677178
      font-size: 1rem


    100%
      font-family: Montserrat,Regular
      font-size: 2rem
      color: white
      text-shadow: none


@media (max-width: 1707px)
  .main
    .paralax_wrapper_1
      height: 123rem

      .top_top
        height: 166%
        top: 11rem
        width: 112%
      .wrapper_top
        .school_title
          margin-left: -7rem
          font-size: 47px
      .top_middle
        .top_middle_title

          .ihor_photo
            .img-bg
              margin-top: 273px
@media (max-width: 1536px)
  .main
    .paralax_wrapper_1
      height: 121rem
      .top_top
        position: absolute
        top: 122px
        height: 145rem
        width: 77rem
        left: 91px
      .wrapper_top
        .school_title
          margin-left: -5rem
        .orange_line
          margin-left: -14rem
      .list_top
        margin-left: 6rem
      // .circle_small_right
      //  height: 96rem
      //  width: 201%
      //  margin-left: -39rem
      //  margin-top: 6rem
      .top_wrapper_image
        .img-bg
          height: 36rem
          width: 36rem
          border-radius: 50%
          margin-top: 9rem
          margin-left: 7rem
        .top_blue_circle
          background-size: 41rem 40rem
          margin-left: 5px
          margin-top: 1rem
        .top_small_circle
          .circle_11111
            top: 14%
            right: -338px
      .top_middle
        .top_middle_title

          .top_orange_circle
            height: 41rem
            width: 41rem
            background-size: 36rem 35rem
            margin-left: 24px
            margin-top: 59px
            background-image: url(#{asset_path('svg/group.svg')})
            background-repeat: no-repeat
            transform: rotate(-2deg)
          .ihor_photo
            .img-bg
              height: 26rem
              width: 26rem
              border-radius: 50%
              margin-left: 113px
              margin-top: 133px
        .about_autor_block
          margin-top: 7rem
        .bottom_info_name
          margin-top: -6rem

    .wrapper_paralax_2
      height: 170rem
      .middle_middle
        .help_wrapper
          .middle_help_photo
            .help_circle
              margin-top: -32rem
            .img-bg
              margin-top: -636px
    .feeling_wrapper
      height: 160rem
      .konsultation_wrapper
        margin-top: 23rem
    .contacts
      height: 95vh
      margin-bottom: 0
      .contacts_title_wrapper
        margin-top: -7rem
      .map_contacts_wrapper
        .map_wrapper
          .iframe
            width: 500px
            height: 500px
            margin-top: 8rem

@media (max-width: 1440px)
  .main
    .paralax_wrapper_1


      .top_top
        height: 181%
        left: 7rem
        width: 87%
        top: 8rem
      .wrapper_top
        .school_title
          font-size: 52px
          margin-left: 1rem
        .orange_line
          margin-left: -13rem
      .top_wrapper_image

        .img-bg
          height: 30rem
          width: 30rem
          margin-top: 10rem
          margin-left: 3rem
        .top_blue_circle
          display: none
      .top_middle

        .top_middle_title
          .top_orange_circle
            margin-left: 50px
            margin-top: -57px
            background-size: 30rem 34rem
          .ihor_photo
            .img-bg
              height: 23rem
              width: 23rem
              border-radius: 50%
              margin-left: 126px
              margin-top: 34px
    .wrapper_paralax_2
      .middle_directions
        font-size: 52px
        margin-left: 7rem
      height: 168rem
    .feeling_wrapper
      height: 160rem
    .contacts
      height: 95vh
      margin-bottom: 0
      .map_contacts_wrapper
        .map_wrapper

          .circle_iframe
            background-repeat: no-repeat
            margin-top: -34rem
            margin-left: -26px
            width: 37rem
            height: 37rem
            background-size: 35rem 37rem
          .small_circle
            .circle_iframe_1
              left: 82%
              top: -88px
            .circle_1_svg
              margin-top: -7rem
              margin-left: 466px
              width: 11rem
              height: 8rem
              background-size: 11rem 10rem

@media (max-width: 1366px)
  .main
    .paralax_wrapper_1
      height: 110rem

      .top_top
        background-size: 78rem 78rem
        top: 7rem
        left: 6rem
        width: 92%
      .top_wrapper_image
        width: 660px
        .img-bg
          height: 33rem
          width: 33rem
          border-radius: 50%
          margin-top: 8rem
          margin-left: 59px
        .top_blue_circle
          background-size: 38rem 40rem
          margin-left: -98px
          margin-top: -19px
        .top_small_circle
          .circle_11111
            top: 16%
            right: -305px
      .top_middle
        .top_middle_title

          .top_orange_circle

            height: 32rem
            width: 32rem
            background-size: 32rem 32rem
            margin-left: 22px
            margin-top: 7px

            background-image: url(#{asset_path('svg/group.svg')})
            background-repeat: no-repeat
            transform: rotate(-2deg)
          .ihor_photo
            .img-bg
              height: 24rem
              width: 24rem
              border-radius: 50%
              margin-left: 115px
              margin-top: 62px
        .about_autor_block
          margin-top: -3rem
        .wrapper_video
          margin-top: 0
        .middle_gray_circle
          display: none
        .bottom_info_name
          margin-top: -1rem
    .wrapper_paralax_2
      .middle_middle
        .info_white_circle
          margin-left: -2rem
    .feeling_wrapper
      height: 150rem
      .diagnos_wrapper
        .first_line_wrapper
          .headach_wrapper
            .headach_title
              margin-left: -19rem
        .third_line_wrapper
          .pressure
            margin-left: -39rem
      .konsultation_wrapper
        margin-top: 10rem

@media (max-width: 1357px)
  .main
    .paralax_wrapper_1
      .top_wrapper_image

        .img-bg
          height: 33rem
          width: 33rem

          margin-top: 8rem
          margin-left: 60px
      .top_middle
        .top_middle_title
          .top_orange_circle
            margin-left: 88px
            margin-top: -112px
          .ihor_photo
            .img-bg
              margin-left: 154px
              margin-top: 31px
    .wrapper_paralax_2
      .middle_middle
        .info_white_circle
          opacity: 0
    .feeling_wrapper
      height: 150rem
      .diagnos_wrapper
        .first_line_wrapper
          .headach_wrapper
            .headach_title
              margin-left: -19rem
        .third_line_wrapper
          .pressure
            margin-left: -29rem

@media (max-width: 1350px)
  .main
    .paralax_wrapper_1
      height: 102rem

      .top_top
        background-size: 78rem 78rem
        top: 10rem
        left: 8rem
        width: 85%
      .wrapper_top

      .list_top
        .top_gray_circle
          width: 180px
          height: 180px
      .top_wrapper_image
        width: 540px
        .img-bg
          height: 28rem
          width: 28rem
          border-radius: 50%
          margin-top: 11rem
          margin-left: 52px
        .top_blue_circle
          -webkit-background-size: 40rem 40rem
          -o-background-size: 40rem 40rem
          background-size: 40rem 40rem
          margin-left: 4px
          margin-top: 73px
      .top_middle
        .top_middle_title

          .top_orange_circle
            height: 41rem
            width: 41rem
            background-size: 27rem 29rem
            margin-left: 97px
            margin-top: -130px
            background-image: url(#{asset_path('svg/group.svg')})
            background-repeat: no-repeat
            transform: rotate(-2deg)
          .ihor_photo
            .img-bg
              height: 20rem
              width: 20rem
              border-radius: 50%
              margin-left: 146px
              margin-top: -7px
        .about_autor_block
          margin-top: -3rem

        .bottom_info_name
          margin-top: -8rem
        .wrapper_video
          margin-top: 0
        .middle_gray_circle
          display: none

    .wrapper_paralax_2
      .middle_directions
        font-size: 3.5rem
      .middle_middle
        .info_white_circle
          opacity: 0
        .info_info
          .svg_image
            width: 230%
            margin-top: -7rem
            margin-left: 0
          .middle_middle_wrapper
            .middle_info_photo
              .img-bg
                height: 29rem
                width: 29rem
                margin-left: 602px
        .practice_circle
          background-size: 34rem 35rem
          margin-left: -41px
          margin-top: -2rem
        .help_wrapper
          .middle_help_photo
            .help_circle
              margin-top: -518px
              margin-left: 490px
            .img-bg
              // margin-left: 38px
              margin-top: -636px
              height: 29rem
              width: 29rem
              margin-left: 600px
        .middle_practise_photo
          .img-bg
            height: 29rem
            width: 29rem
            margin-left: 9px
            margin-top: -31rem
    .feeling_wrapper
      height: 150rem
      .diagnos_wrapper
        .memory_wrapper
          animation: none
      .chronic_wrapper
        .circle_chronic
          display: none
      .konsultation_wrapper
        margin-top: 20rem
    .contacts
      height: 115vh
      margin-bottom: 0
      .map_contacts_wrapper
        .map_wrapper
          .iframe
            width: 400px
            height: 400px
            margin-top: 12rem
          .circle_iframe
            background-repeat: no-repeat
            margin-top: -36rem
            margin-left: -1px
            width: 27rem
            height: 39rem
            background-size: 29rem 46rem
          .small_circle
            display: none
            .circle_iframe_1
              width: 75px
              height: 75px
              left: 75%
              top: 90%
            .circle_1_svg
              margin-top: -5rem
              margin-left: 384px
              width: 7rem
              height: 8rem
              background-size: 7rem 7rem

@media (max-width: 1280px)
  .main
    .paralax_wrapper_1
      .list_top

      .top_wrapper_image
        width: 540px
        .img-bg
          width: 486px
          height: 486px
      .top_middle
        .top_middle_title

          .top_orange_circle
            margin-top: 0
            margin-left: 78px
          .ihor_photo
            .img-bg
              height: 350px
              width: 350px
              margin-top: 57px
              margin-left: 146px

@media (max-width: 1250px)
  .main
    .paralax_wrapper_1
      height: 102rem

      .top_top
        background-size: 78rem 78rem
        top: 10rem
        left: 8rem
        width: 85%
      .wrapper_top

      .list_top
        .top_gray_circle
          width: 180px
          height: 180px
      .top_wrapper_image
        width: 540px
        .img-bg
          height: 28rem
          width: 28rem
          border-radius: 50%
          margin-top: 11rem
          margin-left: 52px
        .top_small_circle
          .circle_11111
            right: -270px
      .top_middle
        .top_middle_title

          .top_orange_circle
            height: 29rem
            width: 29rem
            background-size: 27rem 27rem
            margin-left: 66px
            margin-top: -65px
            background-image: url(#{asset_path('svg/group.svg')})
            background-repeat: no-repeat
            transform: rotate(-2deg)
          .ihor_photo
            .img-bg
              height: 20rem
              width: 20rem
              border-radius: 50%
              margin-left: 146px
              margin-top: -6px
        .bottom_info_name
          margin-top: -1rem





@media (max-width: 1024px)
  .main
    .paralax_wrapper_1
      height: 109rem

      .top_top
        display: none
      .wrapper_top
        .school_title
          font-size: 40px
      .list_top
        .list_top_title
          margin-right: 0
      .top_wrapper_image
        width: 260px
        .img-bg
          height: 27rem
          width: 27rem
          border-radius: 50%
          margin-top: 9rem
          margin-left: 5rem
        .top_blue_circle
          background-size: 32rem 32rem
          margin-left: -8px
          margin-top: 73px
      .top_middle
        .middle_gray_circle
          display: none
    .wrapper_paralax_2
      .middle_middle
        .info_info
          .svg_image
            display: none
          .middle_middle_wrapper
            margin-top: 300px
            .middle_info_photo
              .img-bg
                height: 28rem
                width: 28rem
                margin-left: 518px
        .middle_practise_photo
          .img-bg
            height: 28rem
            width: 28rem
        .help_wrapper
          .middle_help_photo
            .help_circle
              margin-top: -36rem
              margin-left: 25rem
            .img-bg
              height: 28rem
              width: 28rem
              margin-left: 32.5rem
              margin-top: -593px
    .feeling_wrapper
      .diagnos_wrapper
        .first_line_wrapper
          .headach_wrapper
            .headach_title
              margin-left: -14rem
        .third_line_wrapper
          .pressure
            margin-left: -21rem
        .fatigue_wrapper
          margin-left: 52rem
      .green_circl
        margin-left: 17rem

    .contacts
      height: 51vh
      .map_contacts_wrapper

        .map_wrapper
          .iframe
            margin-top: 16rem
            margin-left: -6rem
          .circle_iframe
            display: none
          .small_circle


@media (max-width: 768px)
  .main
    .paralax_wrapper_1
      height: 118rem

      .top_top
        display: none
      .wrapper_top
        .school_title
          font-size: 40px
      .list_top
        .list_top_title
          margin-right: 0
      .top_wrapper_image
        width: 260px
        margin-left: 4rem
        .img-bg
          height: 350px
          width: 350px
          border-radius: 50%
          margin-top: 17rem
          margin-left: 1rem
        .top_blue_circle
          background-size: 32rem 32rem
          margin-left: -8px
          margin-top: 73px
      .top_middle
        .top_middle_title
          .top_orange_circle
            height: 41rem
            width: 31rem
            background-size: 27rem 27rem
            margin-left: 18px
            margin-top: -102px
          .ihor_photo
            .img-bg
              margin-left: 51px
        .middle_gray_circle
          display: none
        .bottom_info_name
          margin-top: -22rem
          .bottom_top_describe
            width: 20rem
        .wrapper_video
          .video_box
            height: 7rem
            width: 17rem
            margin-top: 0
    .wrapper_paralax_2
      .middle_middle
        .info_info
          .svg_image
            display: none
          .middle_middle_wrapper
            margin-top: 300px
            .middle_info_photo
              .img-bg
                height: 350px
                width: 350px
                margin-left: 380px
        .practice_circle
          display: none

        .middle_practise_photo
          .img-bg
            height: 350px
            width: 350px
            margin-top: 6rem
        .practise_gray_circle
          width: 20rem
        .practise_practise
          width: 23rem
        .help_wrapper
          .help_help
            width: 24rem
          .middle_help_photo
            .help_circle
              display: none
            .img-bg
              height: 350px
              width: 350px
              margin-left: 23.5rem
              margin-top: -286px
    .feeling_wrapper
      height: 169rem
      .diagnos_wrapper
        .first_line_wrapper
          .headach_wrapper
            .headach_title
              margin-left: -4rem
        .insomnia_wrapper
          margin-top: 4rem
        .memory_wrapper
          margin-right: 9rem
        .third_line_wrapper
          .pressure
            margin-left: -4rem
        .fatigue_wrapper
          margin-left: 38rem
      .chronic_wrapper
        margin-top: 20rem
      .green_circl
        margin-left: 17rem
      .describe_wrapper
        .konsultation

          .flex-wrapper
            -webkit-flex-wrap: wrap
            -ms-flex-wrap: wrap
            flex-wrap: wrap
            justify-content: center
            .single-chart
              width: 20%
      .konsultation_wrapper
        margin-top: 15rem
        position: relative
        z-index: 2
      .green_circl
        display: none
    .feedback_wrapper
      margin-top: -10rem
    .contacts
      height: 69vh
      .map_contacts_wrapper

        .map_wrapper
          .iframe
            margin-top: 16rem
            margin-left: -6rem
          .circle_iframe
            display: none
          .small_circle


@media (max-width: 540px)
  .main
    .paralax_wrapper_1
      height: 138rem

      .top_top
        display: none
      .wrapper_top
        .school_title
          font-size: 30px
          margin-top: 30rem
          margin-left: 0
        .orange_line
          margin-top: -1rem
      .list_top
        margin-left: 0px
        margin-top: -6rem
        .list_top_title
          font-size: 20px
          margin-right: 0
          margin-bottom: 15px
          margin-top: 20px
        .list_top_describe
          line-height: 1rem
        .list_top_details
          margin-right: 0rem
        .top_gray_circle
          height: 150px
          width: 150px
          border-radius: 50%
          position: absolute
          top: 33%
          left: -4%
      .top_wrapper_image
        width: 90%
        display: flex
        justify-content: center
        .img-bg
          height: 300px
          width: 300px
          margin-top: -43rem
          margin-left: 40px
        .top_small_circle
          .circle_11111
            display: none
        .top_blue_circle
          display: none
      .top_middle
        margin-top: -50rem
        .top_middle_title
          // display: flex
          .top_orange_circle
            height: 20rem
            width: 20rem
            background-size: 20rem 20rem
            margin-left: 0px
            margin-top: 17px
          .ihor_photo
            display: flex
            justify-content: center
            .img-bg
              height: 250px
              width: 250px
              margin-top: 50px
              margin-left: 58px
            .bottom_info_name_1
              display: block
              // margin-top: 28rem
              .bottom_top_title
                font-size: 1.5rem
                font-family: Caveat
              .bottom_top_name
                font-size: 20px
                color: $orange
                font-family: Comfortaa,Bold
              .bottom_top_describe
                width: 100%





        .about_autor_block
          margin-left: 0
          .middle_top_title
            margin-top: 4rem
            font-size: 30px
        .middle_gray_circle
          display: none


          .img-bg
            margin-top: -47rem
        .bottom_info_name
          display: none
          // margin-top: -50rem
          // margin-left: 1rem
          .bottom_top_name
            font-size: 20px
          .bottom_top_describe
            width: 100%
        .wrapper_video
          margin-top: 78px
          margin-left: 0
          display: flex
          align-items: center
          .video_describe
            line-height: 28px
            margin-top: 5px

    .wrapper_paralax_2
      padding-top: 5rem
      height: 127rem
      width: 100%
      .middle_directions
        font-size: 2rem
        margin-left: 1rem
      .middle_directions_line
        .dir_line
          width: 18rem
          height: 5px
          margin-right: 2rem
        .dir_point
          width: 5px
          height: 5px
      .middle_directions_describe
        margin-left: 1rem
      .middle_middle
        .info_white_circle
          display: none
        .info_info
          margin-top: 22rem
          width: 320px
          .svg_image
            display: none
          .middle_middle_wrapper
            margin-top: 0
            .middle_info_block
              margin-left: 0
              .middle_info_title
                font-size: 20px
                margin-top: 17rem
            .middle_info_photo
              display: flex
              justify-content: center
              .img-bg
                height: 20rem
                width: 20rem
                margin-left: 0px
                margin-top: -585px

        .info_gray_circle
          display: none
        .middle_info_photo
          .img-bg
            height: 20rem
            width: 20rem
            margin-top: -29rem
        .practice_circle
          display: none

        .middle_practise_photo
          display: flex
          justify-content: center
          flex-direction: column
          .img-bg
            height: 20rem
            width: 20rem
            margin-left: 0px
            margin-top: 0rem
        .practise_practise
          margin-top: 0
          width: 320px
          .middle_practise_title
            font-size: 20px
            margin-top: 2rem
          .middle_practise_describe
            width: 95%
            position: relative
            z-index: 2
          .middle_practise_circle
            top: 23%
            left: 54%
        .practise_gray_circle
          display: none

        .help_wrapper
          display: flex
          flex-direction: column-reverse
          .help_white_circle
            display: none
          .help_help
            margin-top: 10rem
            margin-left: 0px
            width: 320px
            .middle_help_title
              font-size: 20px
              margin-top: 2rem
            .middle_help_describe
              width: 99%
          .middle_help_photo
            .help_circle
              display: none
            .img-bg
              height: 20rem
              width: 20rem
              margin-top: 13rem
              margin-left: 0rem


    .feeling_wrapper
      margin-top: 0
      height: 139rem

      .feeling_title
        padding-top: 6rem
        font-size: 30px
        margin-left: 1rem
        animation: resize_add 6s infinite
      .feeling_line_wrapper
        .feeling_line
          width: 19rem
          animation: resize_add 6s infinite
      .diagnos_wrapper
        .first_line_wrapper
          margin-left: -14rem
          animation: resize_add 6s infinite
          .headach_wrapper
            .headach_title
              margin-left: 10rem
              font-size: 11px
              animation: resize_add 6s infinite
            .pain_wrapper
              margin-left: 5rem
              font-size: 11px
              animation: resize_add 6s infinite
        .insomnia_wrapper
          .insomnia_title
            margin-top: -4rem
            font-size: 10px
            animation: resize 6s infinite
          .insomnia_circle
            display: none
        .memory_wrapper
          margin-right: 0
          margin-top: -3rem
          font-size: 12px
          animation: resize_add 6s infinite

        .fatigue_wrapper
          margin-left: 0
          display: none
          .fatigue_title
            display: none
        .second_line_wrapper
          .irritab_wrapper
            margin-top: -10rem
        .third_line_wrapper

          .pressure
            margin-left: 30px
            margin-top: -24rem
            font-size: 15px
            animation: resize_5 4s infinite
        .fifth_line_wrapper
          display: none
          .depresion
            animation: resize 6s infinite
            margin-left: -3rem
          .weight
            animation: resize 6s infinite
            margin-top: -3rem
            margin-left: -15rem
      .chronic_wrapper
        width: 320px

        .circle_chronic
          display: none
        .chronic_title
          font-size: 27px
          margin-left: 0
          margin-top: -21rem
          width: 99%
        .chronic_describe_first
          margin-left: 0
          width: 94%
        .chronic_describe_second
          margin-left: 0
      .how_to_work_wrapper
        font-size: 30px
      .describe_wrapper
        .konsultation

          .flex-wrapper
            flex-wrap: wrap
            justify-content: space-around
            .single-chart
              margin-top: 45px
              width: 33%
              margin-left: 3px
              .circle_title
                margin-left: -11px
                font-size: 20px

              .circle_description
                p
                  display: none
      .konsultation_wrapper
        height: 22rem
        width: 22rem
        margin-top: 8rem

        .describe_konsultation
          margin-top: 15px
          margin-bottom: 0
        .button_kons
          margin-top: 1rem
    .feedback_wrapper
      .feedback_title
        font-size: 30px
        margin-left: 0
    .contacts
      height: 39rem
      .contacts_title_wrapper
        .contacts_title
          font-size: 30px
          margin-left: 2rem
          margin-bottom: 10px
        .contacts_line
          .red_line
            width: 300px
            height: 5px
          .red_dot
            width: 5px
            height: 5px
        .contacts_describe
          width: 320px
          font-size: 20px
          margin-left: 2rem
      .map_contacts_wrapper

        .map_wrapper
          .iframe
            display: none


@media (max-width: 360px)
  .main
    .paralax_wrapper_1
      height: 150rem
      .wrapper_top
        .orange_line
          margin-left: -2rem
      .top_wrapper_image
        width: 90%
        display: flex
        justify-content: center
        .img-bg
          height: 300px
          width: 300px
          margin-top: -43rem
          margin-left: 18px
      .top_middle
        .top_middle_title
          .top_orange_circle
            margin-left: -21px
          .ihor_photo
            .img-bg
              margin-left: 35px
    .wrapper_paralax_2
      .middle_middle
        .info_info
          .middle_middle_wrapper
            .middle_info_photo
              .img-bg
                height: 300px
                width: 300px
        .middle_practise_photo
          .img-bg
            height: 300px
            width: 300px
        .help_wrapper
          .help_help
            width: 305px
          .middle_help_photo
            .img-bg
              height: 300px
              width: 300px
    .feeling_wrapper
      .konsultation_wrapper
        height: 20rem
        width: 20rem
        margin-top: 14rem

@media (max-width: 320px)
  .main
    .paralax_wrapper_1
      height: 152rem
      .wrapper_top
        .orange_line
          margin-left: -2rem
      .top_wrapper_image
        width: 87%
        display: flex
        justify-content: center
        .img-bg
          height: 280px
          width: 280px
          margin-top: -43rem
          margin-left: 8px
      .top_middle
        .top_middle_title
          .top_orange_circle
            margin-left: -21px
            width: 19rem
          .ihor_photo
            .img-bg
              margin-left: 35px
        .wrapper_video
          .video_describe
            p
              font-size: 20px
    .wrapper_paralax_2
      .middle_directions
        font-size: 29px
      .middle_middle
        .info_info
          width: 300px
          .middle_middle_wrapper
            .middle_info_photo
              .img-bg
                height: 280px
                width: 280px
        .middle_practise_photo
          .img-bg
            height: 280px
            width: 280px
        .practise_practise
          margin-top: 0
          width: 280px
        .help_wrapper
          .help_help
            width: 280px
          .middle_help_photo
            .img-bg
              height: 280px
              width: 280px
    .feeling_wrapper
      .chronic_wrapper
        width: 280px
      .describe_wrapper
        .konsultation

          .flex-wrapper
            .single-chart
              .circle_title
                margin-left: -11px
                font-size: 18px
      .konsultation_wrapper
        height: 20rem
        width: 20rem
        margin-top: 14rem
        margin-left: -13px

    .contacts
      .contacts_title_wrapper
        .contacts_describe
          width: 280px


  @keyframes resize
    0%
      font-family: Montserrat,Regular
      font-size: 10px
      color: #677178

    50%
      font-family: Montserrat,Regular
      color: white
      font-size: 15px


    100%
      font-family: Montserrat,Regular
      font-size: 10px
      color: #677178
      text-shadow: none

  @keyframes resize_2
    0%
      font-family: Montserrat,Regular
      font-size: 20px
      color: white

    50%
      font-family: Montserrat,Regular
      color: #677178
      font-size: 10px


    100%
      font-family: Montserrat,Regular
      font-size: 20px
      color: white
      text-shadow: none
  @keyframes resize_small
    0%
      margin-left: 6rem
      font-family: Montserrat,Regular
      font-size: 15px
      color: white
    50%
      margin-left: 6rem
      font-family: Montserrat,Regular
      font-size: 10px
      color: #677178
    100%
      margin-left: 6rem
      font-family: Montserrat,Regular
      font-size: 15px
      color: white

  @keyframes resize_add
    0%
      font-family: Montserrat,Regular
      font-size: 10px
      color: #677178

    50%
      font-family: Montserrat,Regular
      color: white
      font-size: 14px


    100%
      font-family: Montserrat,Regular
      font-size: 10px
      color: #677178

