.kinezoterapy
  .about_image
    position: relative
    height: 96vh
    width: 100%
    // transition: 2s
    // transform: translateY(-2 0%)
    z-index: 2
    .img-bg
      -webkit-box-shadow: 0px 0px 99px
      border-bottom-left-radius: 80%
      border-bottom-right-radius: 80%
      display: flex
      justify-content: center
      align-items:  center
      flex-direction:  column
      .about-text
        font-size: 2rem
        font-family: Comfortaa
        color: white
      .about-title
        font-size: 5rem
        font-family: Comfortaa
        font-weight: bold
        color: white
  .paralax_wrapper_1
    margin-top: 5rem
    .wrapper_all
      .kinezo_wrapper
        .title_top
          font-family: Comfortaa,Bold
          font-weight: 900
          font-size: 4rem
        .describe_top
          font-family: Montserrat,Regular
          font-size: 0.9rem
        .title_technicks
          font-family: Comfortaa,Bold
          font-weight: 900
          font-size: 2.3rem
          margin-top: 3rem
          margin-bottom: 3rem
        .circle_technicks
          width: 3rem
          height: 3rem
          border-radius: 50%
          background: $graylasttext
          margin-top: 3rem
        .first_1
          .block_11
            .title_first
            .title_number_first
              font-size: 1.5rem
              font-family: Comfortaa,Bold
              font-weight: bold
              color: $green
            .title_name_first
              display: inline
              font-size: 1.5rem
              font-family: Comfortaa,Bold
              font-weight: bold
            .describe_first
              font-family: Montserrat,Regular
              font-size: 1rem
            .circle_middle
              width: 6rem
              height: 6rem
              border-radius: 50%
              background: $graylasttext
            .title_middle_first
              font-size: 1rem
              font-family: Comfortaa,Bold
              font-weight: 900
              margin-top: -5rem
              margin-bottom: 1rem
            .middle_first_list
              font-size: 0.9rem
              font-family: Montserrat,Regular
              ol
              margin-left: 40px
              li:before
                content: " "
                position: absolute
                margin-left: -40px
                margin-top: 10px
                background: $green
                color: $green
                width: 15px
                height: 5px
                -webkit-border-radius: 3px
                border-radius: 3px
              .middle_list
            .individual_first
              font-size: 1rem
              font-family: Comfortaa,Bold
              font-weight: 900
          .top_first_image
            .img-bg
              position: relative
              height: 450px
              width: 450px
              border-radius: 50%
              padding: 30px
              margin-top: 3rem
              margin-left: 3rem
        .middle_wrapper
          margin-top: 4rem
          .middle_image
            .img-bg
              position: relative
              height: 450px
              width: 450px
              border-radius: 50%
              padding: 30px
              margin-top: 3rem
              margin: auto
          .middle_image_circle
          .title_second
            margin-top: 6rem
            .title_number_second
              font-size: 1.5rem
              font-family: Comfortaa,Bold
              font-weight: bold
              color: $green
            .title_name_second
              display: inline
              font-size: 1.5rem
              font-family: Comfortaa,Bold
              font-weight: bold
            .describe_second
              font-family: Montserrat,Regular
              font-size: 1rem
          .circle_second

        .title_third
          margin-top: 6rem
          .third_circle
            width: 6rem
            height: 6rem
            -webkit-border-radius: 50%
            border-radius: 50%
            background: $graylasttext
            margin-bottom: -2rem
            margin-left: -2rem
          .title_number_third
            font-size: 1.5rem
            font-family: Comfortaa,Bold
            font-weight: bold
            color: $green
          .title_name_third
            display: inline
            font-size: 1.5rem
            font-family: Comfortaa,Bold
            font-weight: bold

          .describe_third
            font-family: Montserrat,Regular
            font-size: 1rem
        .title_middle_third
        .middle_third_list
          font-size: 0.9rem
          font-family: Montserrat,Regular
          ol
          margin-left: 40px
          li:before
            content: " "
            position: absolute
            margin-left: -40px
            margin-top: 10px
            background: $green
            color: $green
            width: 15px
            height: 5px
            -webkit-border-radius: 3px
            border-radius: 3px
          .third_list
        .third_image
          .img-bg
            position: relative
            height: 450px
            width: 450px
            border-radius: 50%
            padding: 30px
  .paralax_wrapper_2
    margin-top: 0rem







@media(max-width: 1536px)
  .kinezoterapy
    .paralax_wrapper_1
      margin-top: 5rem

    .paralax_wrapper_2
      margin-top: 0rem

@media(max-width: 1024px)
  .kinezoterapy
    .about_image
      .img-bg
        border-radius: 0% 0% 150% 150%/0% 0% 80% 80%

    .paralax_wrapper_1
      margin-top: 5rem
      .wrapper_all
        .kinezo_wrapper
          .top_first_image
            .img-bg
              width: 20rem
              height: 20rem

              margin-left: 0
          .middle_wrapper
            .middle_image
              .img-bg
                width: 20rem
                height: 20rem
                margin-top: 4rem
          .third_image
            .img-bg
              width: 20rem
              height: 20rem
              margin-top: 6rem
    .paralax_wrapper_2
      margin-top: 0rem


@media(max-width: 768px)
  .kinezoterapy
    line-height: 24px
    .about_image
      .img-bg
        border-radius: 0% 0% 150% 150%/0% 0% 80% 80%
        .about-text
          font-size: 20px
        .about-title
          font-size: 40px
    .paralax_wrapper_1
      margin-top: 5rem
      .wrapper_all
        .kinezo_wrapper
          .title_top
            font-size: 40px
          .title_technicks
            font-size: 16px


@media(max-width: 540px)
  .kinezoterapy
    .about_image
      .img-bg
        border-radius: 0% 0% 150% 150%/0% 0% 80% 80%
        .about-text
          font-size: 16px
        .about-title
          font-size: 30px
    .paralax_wrapper_1
      .wrapper_all
        .kinezo_wrapper
          .title_top
            font-size: 30px
            margin-bottom: 1rem
          .title_technicks
            font-size: 26px
            line-height: 37px
          .first_1
            display: flex
            // flex-direction: column-reverse
            .block_11
              .title_first
                margin-top: 15rem
                .title_name_first
                  margin-bottom: 1rem
              .describe_first
                margin-top: 1rem
              .title_middle_first
                font-size: 20px
                font-family: Comfortaa
                font-weight: 700
                line-height: 28px
                margin-bottom: 1rem
                margin-top: 3rem
              .individual_first
                font-size: 20px
                font-family: Comfortaa
                font-weight: 700
                line-height: 28px
                margin-top: 3rem
            .top_first_image
              display: flex
              justify-content: center
              .img-bg
                width: 20rem
                height: 20rem
                margin-top: -95rem
                margin-left: 0
                -webkit-border-radius: 50%
                border-radius: 50%
          .middle_wrapper
            .middle_image
              .img-bg
                width: 20rem
                height: 20rem
                margin-top: 0
            .title_second
              margin-top: 4rem
              .describe_second
                margin-top: 1rem
          .title_third
            margin-top: 22rem
            .describe_third
              margin-top: 1rem
            .third_circle
          .third_image
            .img-bg
              width: 20rem
              height: 20rem
              margin-top: -38rem

        .slider_wrapper
          margin-top: 3rem
    .paralax_wrapper_2
      margin-top: 0rem


@media(max-width: 360px)
  .kinezoterapy
    .paralax_wrapper_1
      .wrapper_all
        .kinezo_wrapper
          .middle_wrapper
          .third_image
            .img-bg
              margin-top: -48rem

