.klimatoterapy
	 
	.about_image	
		position: relative 
		height: 90vh
		width: 100%	
		.img-bg
			-webkit-box-shadow: 0px 0px 99px
			border-bottom-left-radius: 80%  
			border-bottom-right-radius: 80%
			display: flex			
			justify-content: center
			align-items:  center
			flex-direction:  column
			.about-text
				font-family: Comfortaa
				font-size: 2.5rem
				color: white 
				margin-top: -5rem
			.about-title 
				font-family: Comfortaa
				font-size: 5rem
				font-weight: 700 
				color: white 
	.paralax_wrapper_1
		margin-top: 5rem
		.klima_wrapper
			.klimatoterapy_title
				font-family: Comfortaa
				font-size: 4rem
				font-weight: 700 

			.first_describe, .second_describe, .third_describe, .fourth_describe 
				font-family: Montserrat
				font-size: 1rem
				margin-bottom: 2rem
	.paralax_wrapper_2
		margin-top: 0rem
	
		

@media(max-width: 1536px)
	.klimatoterapy
		.paralax_wrapper_1
			margin-top: 5rem
			.bottom-image
				.img-bottom
					height: 141vh 
					margin-top: -43rem
					.button
						margin-bottom: 15rem
		.paralax_wrapper_2
			margin-top: 0rem

@media(max-width: 1024px)
	.klimatoterapy
		.about_image
			.img-bg
				border-radius: 0% 0% 150% 150%/0% 0% 80% 80%
				.about-text 
					font-size: 20px 
				.about-title
					font-size: 40px
		.paralax_wrapper_1
			margin-top: 5rem
			.klima_wrapper
				.klimatoterapy_title
					font-size: 40px
			.bottom-image
				.img-bottom
					height: 141vh 
					margin-top: -43rem
					.button
						margin-bottom: 15rem
		.paralax_wrapper_2
			margin-top: 0rem

@media(max-width: 540px)
	.klimatoterapy
		.about_image
			.img-bg
				border-radius: 0% 0% 150% 150%/0% 0% 80% 80%
				.about-text 
					font-size: 16px 
				.about-title
					font-size: 32px
		.paralax_wrapper_1
			margin-top: 5rem
			.klima_wrapper
				.klimatoterapy_title
					font-size: 30px
			.bottom-image
				.img-bottom
					height: 141vh 
					margin-top: -43rem
					.button
						margin-bottom: 15rem
		.paralax_wrapper_2
			margin-top: 5rem
