.kosmetology
  .about_image
    position: relative
    height: 81vh
    width: 100%
    .img-bg
      -webkit-box-shadow: 0px 0px 99px
      border-bottom-left-radius: 80%
      border-bottom-right-radius: 80%
      display: flex
      justify-content: center
      align-items:  center
      flex-direction:  column
      .about-text
        font-family: Comfortaa
        font-size: 2rem
        color: white
        font-weight: 700
        margin-top: -6rem
      .about-title
        font-family: Comfortaa
        font-size: 5rem
        font-weight: 700
        color: white
  .paralax_wrapper_1
    .kosmo_wrapper
      .kosmetology_title
        font-family: Comfortaa
        font-size: 4rem
        margin-top: 5rem
      .first_describe, .second_describe, .third_describe
        font-family: Montserrat
        font-size: 1rem
        margin-bottom: 2rem
      .first_block
        display: flex
        margin-top: 5rem
        .fizio_wrapper
          margin-top: 8rem
          .fizio_number
            font-size: 27px
            font-family: Comfortaa
            font-weight: 700
            color: $green
          .fizio_title
            display: inline
            font-size: 27px
            font-family: Comfortaa
            font-weight: 700
            margin-bottom: 1rem
          .fizio_describe, .innovation_describe_first, .innovation_describe_second
            font-size: 15px
            font-family: Montserrat
            margin-top: 1.5rem
        .list_top_details
          display: flex
          align-items: center
          justify-content: flex-end
          margin-top: 2rem
          margin-right: -2rem
          .green_dot
            height: 1px
            width: 5px
            background: $green
            margin-right: 5px
          .green_point
            height: 1px
            width: 25px
            background: $green
            margin-right: 10px
          .green_details
            font-family: Caveat,bold
            font-size: 20px
            a
              color: $green


        .fizio_image
          .img-bg
            height: 450px
            width: 450px
            border-radius: 50%
            margin-left: 6rem
      .second_block
        display: flex
        margin-top: 20rem
        .rekon_image
          .img-bg
            height: 450px
            width: 450px
            border-radius: 50%
        .rekon_wrapper
          margin-top: 5rem
          .rekon_number
            font-size: 27px
            font-family: Comfortaa
            font-weight: 700
            color: $green
          .rekon_title
            display: inline
            font-size: 27px
            font-family: Comfortaa
            font-weight: 700

          .rekon_describe, .botolin_describe, .gio_describe
            font-size: 15px
            font-family: Montserrat
            margin-top: 1.5rem
          .botolin_title, .gio_title
            font-size: 20px
            font-family: Comfortaa
            font-weight: 700x
            margin-top: 2rem
        .list_top_details
          display: flex
          align-items: center
          justify-content: flex-end
          margin-top: 2rem
          margin-right: -2rem
          .green_dot
            height: 1px
            width: 5px
            background: $green
            margin-right: 5px
          .green_point
            height: 1px
            width: 25px
            background: $green
            margin-right: 10px
          .green_details
            font-family: Caveat,bold
            font-size: 20px
            a
              color: $green
      .third_block
        display: flex
        margin-top: 10rem
        .third_wrapper
          margin-top: 8rem
          .third_number
            font-size: 27px
            font-family: Comfortaa
            font-weight: 700
            color: $green
          .third_title
            display: inline
            font-size: 27px
            font-family: Comfortaa
            font-weight: 700
            margin-bottom: 1rem
          .third_describe
            font-size: 15px
            font-family: Montserrat
            margin-top: 1.5rem
        .list_top_details
          display: flex
          align-items: center
          justify-content: flex-end
          margin-top: 2rem
          margin-right: -2rem
          .green_dot
            height: 1px
            width: 5px
            background: $green
            margin-right: 5px
          .green_point
            height: 1px
            width: 25px
            background: $green
            margin-right: 10px
          .green_details
            font-family: Caveat,bold
            font-size: 20px
            a
              color: $green


        .third_image
          .img-bg
            height: 450px
            width: 450px
            border-radius: 50%
            margin-left: 6rem

  .paralax_wrapper_2
    margin-top: 6rem



@media(max-width: 1350px)
  .kosmetology
    .about_image
      .img-bg
        border-radius: 0% 0% 80% 80%/0% 0% 20% 20%
    .paralax_wrapper_1
      .kosmo_wrapper
        .first_block
          .fizio_image
            .img-bg
              margin-left: -1rem
              height: 350px
              width: 350px
              margin-top: 5rem
        .second_block
          .rekon_image
            .img-bg
              height: 350px
              width: 350px
              margin-top: 5rem
        .third_block
          .third_image
            .img-bg
              height: 350px
              width: 350px
              margin-top: 5rem


@media(max-width: 1024px)
  .kosmetology
    .about_image
      .img-bg
        border-radius: 0% 0% 80% 80%/0% 0% 20% 20%
    .paralax_wrapper_1
      .kosmo_wrapper
        .first_block
          .fizio_image
            .img-bg
              margin-left: -4rem

@media(max-width: 768px)
  .kosmetology
    .paralax_wrapper_1
      .kosmo_wrapper
        width: 100%
        .first_block
          .fizio_wrapper
            margin-top: 0
          .fizio_image
            .img-bg
              width: 300px
              height: 300px
              margin-left: 0
              margin-top: 0rem
        .second_block
          width: 100%
          .rekon_image
            .img-bg
              width: 300px
              height: 300px
          .rekon_wrapper
            margin-top: -5rem
        .third_block
          .third_wrapper
            margin-top: 0
          .third_image
            .img-bg
              width: 300px
              height: 300px
              margin-left: 0
              margin-top: 0rem

@media(max-width: 540px)
  .kosmetology
    .about_image
      .img-bg
        border-radius: 0% 0% 80% 80%/0% 0% 20% 20%
        background-position-x: -88px
        .about-text
          font-size: 20px
        .about-title
          font-size: 30px
    .paralax_wrapper_1
      .kosmo_wrapper
        .kosmetology_title
          font-size: 30px
          font-weight: 700
          margin-bottom: 1rem
        .first_block
          display: block
          margin-top: 2rem
          .fizio_wrapper
            margin-top: 21rem
            .fizio_number, .fizio_title
              font-size: 22px
          .list_top_details
            margin-right: 0
          .fizio_image
            .img-bg
              width: 280px
              height: 280px
              margin-top: -44rem
              margin-left: 5px
        .second_block
          display: block
          .rekon_image
            .img-bg
              width: 280px
              height: 280px
              margin-top: -19rem
              margin-left: 5px
          .rekon_wrapper
            margin-top: 1rem
            // margin-left: -25rem
            width: 100%
            .rekon_number, .rekon_title
              font-size: 22px
          .list_top_details
            margin-right: 0
        .third_block
          display: block
          margin-top: 9rem
          .third_wrapper
            margin-top: 21rem
            .third_number, .third_title
              font-size: 22px
          .list_top_details
            margin-right: 0
          .third_image
            .img-bg
              width: 280px
              height: 280px
              margin-top: -49rem
              margin-left: 5px

@media(max-width: 360px)
  .kosmetology
    .paralax_wrapper_1
      .kosmo_wrapper
        .first_block
          .fizio_image
            .img-bg
              margin-top: -47rem