.manual

  .about_image
    position: relative
    height: 96vh
    width: 92%
    transition: 2s
    z-index: 2
    .img-bg
      -webkit-box-shadow: 0px 0px 99px
      border-bottom-left-radius: 80%
      border-bottom-right-radius: 80%
      position: absolute
      bottom: 0
      left: -30px
      right: -30px
      display: flex
      justify-content: center
      align-items:  center
      flex-direction:  column
      .top-text
        font-size: 2rem
        font-family: Comfortaa
        font-weight: bold
        color: white
        margin-top: 1rem
      .title-top
        font-size: 5rem
        font-family: Comfortaa
        font-weight: bold
        color: white
  .paralax_wrapper_1
    margin-top: 5rem
    .middle-title
      font-size: 80px
      font-family: Comfortaa
      font-weight: bold
      color: #152430
    .middle-description
      font-size: 16px
      font-family: Montserrat
      margin-bottom: 75px
    .title-technics
      font-size: 38px
      font-family: Comfortaa
      font-weight: bold
      margin-bottom: 90px
    .first_title_block
      .first-number
        font-size: 27px
        font-family: Comfortaa
        font-weight: bold
        color: $green
      .first-technics
        display: inline
        font-size: 27px
        font-family: Comfortaa
        font-weight: bold
    .first-describe
      font-family: Montserrat
      font-size: 16px
      z-index: 2
    .first-describe-title
      font-size: 18px
      font-family: Comfortaa
      font-weight: bold
    .cirlce-1
      // color: #F5F5F5
      // width: 100px
      // height: 100px
      // border-radius: 50%
      // z-index: 1

    .first-technics-describe
      p
        font-family: Montserrat
        font-size: 15px
        // margin-bottom: 70px
    .first-image
      .img-bg
        position: relative
        height: 380px
        width: 380px
        border-radius: 50%
    .second-image
      .img-bg
        position: relative
        height: 380px
        width: 380px
        border-radius: 50%
    .second-block
      padding-top: 60px
      .second_title_block
        .second-number
          font-size: 35px
          font-family: Comfortaa
          font-weight: bold
          color: $green
        .second-technics
          display: inline
          font-size: 35px
          font-family: Comfortaa
          font-weight: bold
      .second-describe
        font-family: Montserrat
        font-size: 16px
        z-index: 2
    .third_title
      margin-top: 85px
      .third_title_block
        .third-number
          font-size: 35px
          font-family: Comfortaa
          font-weight: bold
          color: $green
        .third-technics
          display: inline
          font-size: 35px
          font-family: Comfortaa
          font-weight: bold
      .third-describe
        font-family: Montserrat
        font-size: 16px
        z-index: 2

    .third-image
      .img-bg
        position: relative
        height: 380px
        width: 380px
        border-radius: 50%
        margin-bottom: 150px
  .paralax_wrapper_2
    // margin-top: 120rem



@media(max-width: 1536px)
  .manual
    .paralax_wrapper_1
      // margin-top: 42rem


    .paralax_wrapper_2


@media(max-width: 1350px)
  .manual
    .paralax_wrapper_1
      // margin-top: 42rem
      .first-image, .third-image
        margin-top: 3rem
      .second-image
        margin-top: 3rem
    .paralax_wrapper_2


@media(max-width: 1024px)
  .manual
    .about_image
      .img-bg
        border-radius: 0% 0% 150% 150%/0% 0% 80% 80%



@media(max-width: 768px)
  .manual
    .about_image
      .img-bg
        .top-text
          font-size: 40px
        .title-top
          font-size: 60px
    .paralax_wrapper_1
      .middle-title
        font-size: 60px
      .title-technics
        font-size: 24px
      .first-image, .second-image, .third-image
        .img-bg
          width: 300px
          height: 300px
          margin-top: 5rem
      // margin-top: 42rem
    .paralax_wrapper_2
      margin-top: 115rem






@media(max-width: 540px)
  .manual
    .about_image
      .img-bg
        border-radius: 0% 0% 150% 150%/0% 0% 80% 80%
        .top-text
          font-size: 16px
        .title-top
          font-size: 30px
    .paralax_wrapper_1
      .middle-title
        font-size: 22px
        margin-bottom: 1rem
      .middle-description
      .title-technics
        font-size: 22px
        margin-bottom: 2rem
      .first_title_block
        margin-top: 21rem
        .first-number
          font-size: 22px
        .first-technics
          font-size: 22px
      .first-describe-title
        margin-top: 2rem
      .first-image
        .img-bg
          width: 20rem
          height: 20rem
          margin-top: -62rem
      .second-image
        .img-bg
          width: 20rem
          height: 20rem
      .second-block
        .second_title_block
          .second-number, .second-technics
            font-size: 22px
      .third_title

        .third_title_block
          margin-top: 23rem
          .third-number
            font-size: 22px
          .third-technics
            margin-top: 1rem
            font-size: 22px
      .third-image
        .img-bg
          width: 20rem
          height: 20rem
          margin-top: -46rem
      .wrapper_slider
        margin-top: 3rem
    .paralax_wrapper_2
      margin-top: 0
      .bottom-image
        .img-bottom
          .bottom_text_1
            font-size: 19px
          .bottom_text_2
            font-size: 19px

@media(max-width: 360px)
  .manual
    .paralax_wrapper_1
      .first-image
        .img-bg
          width: 300px
          height: 300px
          margin-top: -64rem




