.methodology 
  .container 
    max-width: 1250px 
  .wrapper_image
    position: relative 
    height: 96vh
    width: 100%
    // transition: 2s
    // transform: translateY(-20%)    
    z-index: 2 
    .img-bg
      -webkit-box-shadow: 0px 0px 99px
      border-bottom-left-radius: 80%  
      border-bottom-right-radius: 80%
      display: flex     
      justify-content: center
      align-items:  center
      flex-direction:  column
      .top-text             
        font-family: Comfortaa  
        font-size: 30px   
        text-align: center      
        color: white    
      .title-top
        font-family: Comfortaa    
        font-size: 5rem   
        text-align: center
        color: white  
        font-weight: 700 
  .paralax_wrapper_1
    margin-top: 40rem
    .wrapper_all_content
      margin-top: -550px
      // transition: 2s
       
      .middle       
        .title-mid  
          font-size: 50px
          font-family: Comfortaa    
        .blue-line            
          margin: 0 
          display: flex 
          transform: translateX(-90%)
          transition: 3s ease-in-out              
          
          .line
            background: $blue
            width: 1150px  
            height: 10px 
            border-bottom-right-radius: 5px
            border-top-right-radius: 5px
          .small-line
            display: none 
            background: $blue
            width: 10px  
            height: 10px 
            border-radius: 50%
            margin-left: 20px 
        .title-describe 
          p 
            font-size: 24px
            font-family: Caveat 
                     
        .describe   
          margin-top: 4rem
          font-family: Montserrat
          font-size: 16px
          line-height: 26px   
        .title1   
          font-family: Comfortaa
          font-size: 18px  
          font-weight: bold   
          margin-top: 2rem          
        .describe1
          font-family: Montserrat
          font-size: 16px  
          line-height: 26px
        .image-mid
          z-index: 2 
          height: 420px
          width: 420px  
          border-radius: 50%    
          // margin-left: 100px   
          padding: 12px
          border-width: 10px            
          border-style: solid
          border-color: $blue 
          display: flex     
          justify-content: center     
          align-items:  center
          .middle-image
            height: 380px
            width: 380px               
            border-radius: 50% 
            -webkit-background-size: cover 
            -o-background-size: cover 
            background-size: cover 
            -ms-background-position-x: -46px 
            background-position-x: -46px 

      .bottom
        position: relative 
        .describe2
          font-family: Comfortaa
          font-weight: bold 
          font-size: 30px
          margin-left: 5%  
          margin-bottom: 5rem
          position: relative
          z-index: 2 
        
        .circle1           
          position: relative
          margin-top: -13rem
          margin-bottom: 19rem
          .svg_1
            position: absolute 
            background-image: url(#{asset_path('svg/2.svg')})
            background-repeat: no-repeat
            height: 12rem 
            width: 12rem  
            left: -36px
            transform: rotate(127deg)
            top: -20px
          .crcl_1 
            position: absolute 
            height: 9rem 
            width: 9rem 
            border-radius: 50%
            background: #F5F5F5 
            left: 4px
            top: 8px
        
        .program_block_1
          display: flex 
          margin-top: 5rem
          .block_dietology
            .block_d_head
              
              .dieto_p
                display: flex 
                text-decoration: none
                &:hover
                  color: black
                .block_d_image
                  background-image: url(#{asset_path('svg/diet.svg')})
                  background-repeat: no-repeat
                  height: 6rem 
                  width: 6rem
                .block_d_title  
                  font-size: 1.5rem
                  font-family: Comfortaa,bold 
                  font-weight: 900 
                  margin-top: 3.5rem    
                  margin-left: 1rem
                  color: black
                  &:hover
                    color: $orange
            .block_d_describe 
              font-family: Montserrat,Regular
              font-size: 0.9rem 
            .circle_d
              width: 100% 
            .details
              display: flex
              align-items: center
              justify-content: flex-end
              .green_dot
                height: 1px
                width: 5px  
                background: $green
                margin-right: 5px
              .green_line
                height: 1px
                width: 25px  
                background: $green
                margin-right: 10px
              .details_describe
                font-family: Comfortaa,bold 
                font-size: 0.8rem
                a
                  color: $green
                  font-family: Caveat 
                  font-size: 20px                 
          .block_kinezoterapy
            padding-left: 3rem
            .block_k_head
              
              .kinezo_p
                display: flex 
                text-decoration: none
                &:hover
                  color: black                
                .block_k_image
                  background-image: url(#{asset_path('svg/climbing.svg')})
                  background-repeat: no-repeat
                  height: 6rem 
                  width: 6rem 
                .block_k_title
                  font-size: 1.5rem
                  font-family: Comfortaa,bold 
                  font-weight: 900 
                  margin-top: 3.5rem  
                  margin-left: 1rem
                  color: black
                  &:hover
                    color: $orange
            .block_k_describe
              font-family: Montserrat,Regular
              font-size: 0.9rem 
            .details
              display: flex
              align-items: center
              justify-content: flex-end
              .green_dot
                height: 1px
                width: 5px  
                background: $green
                margin-right: 5px
              .green_line
                height: 1px
                width: 25px  
                background: $green
                margin-right: 10px
              .details_describe
                font-family: Comfortaa,bold 
                font-size: 0.8rem
                a
                  color: $green
                  font-family: Caveat 
                  font-size: 20px
        .program_block_2  
          display: flex 
          margin-top: 5rem
          .block_manual
            .block_m_head            
              .manual_p
                display: flex
                text-decoration: none 
                &:hover
                  color: black
                .block_m_image
                  background-image: url(#{asset_path('svg/massage.svg')})
                  background-repeat: no-repeat
                  height: 5rem 
                  width: 6rem 
                .block_m_title
                  font-size: 1.5rem
                  font-family: Comfortaa,bold 
                  font-weight: 900 
                  margin-top: 3.5rem    
                  margin-left: 1rem
                  color: black
                  &:hover
                    color: $orange
            .block_m_describe
              font-family: Montserrat,Regular
              font-size: 0.9rem 
            .details
              display: flex
              align-items: center
              justify-content: flex-end
              .green_dot
                height: 1px
                width: 5px  
                background: $green
                margin-right: 5px
              .green_line
                height: 1px
                width: 25px  
                background: $green
                margin-right: 10px
              .details_describe
                font-family: Comfortaa,bold 
                font-size: 0.8rem
                a
                  color: $green
                  font-family: Caveat 
                  font-size: 20px
          .block_psychology
            padding-left: 3rem
            .block_p_head
              .psyho_p
                display: flex 
                text-decoration: none
                &:hover
                  color: black
                .block_p_image
                  background-image: url(#{asset_path('svg/brain.svg')})
                  background-repeat: no-repeat
                  height: 6rem 
                  width: 6rem 
                .block_p_title
                  font-size: 1.5rem
                  font-family: Comfortaa,bold 
                  font-weight: 900 
                  margin-top: 3.5rem  
                  margin-left: 1rem
                  color: black
                  &:hover
                    color: $orange
              .circle_p
            .block_p_describe
              font-family: Montserrat,Regular
              font-size: 0.9rem 
            .details
              display: flex
              align-items: center
              justify-content: flex-end
              .green_dot
                height: 1px
                width: 5px  
                background: $green
                margin-right: 5px
              .green_line
                height: 1px
                width: 25px  
                background: $green
                margin-right: 10px
              .details_describe
                font-family: Comfortaa,bold 
                font-size: 0.8rem
                a
                  color: $green
                  font-family: Caveat 
                  font-size: 20px
        .program_block_3  
          display: flex 
          margin-top: 5rem
          .block_kosmetology
            .block_kosmetology_head
              .kosmetology_p
                display: flex 
                text-decoration: none
                &:hover
                  color: black
               
                  
                .block_kosmetology_image
                  background-image: url(#{asset_path('svg/cosmetology.svg')})
                  background-repeat: no-repeat
                  height: 6rem 
                  width: 6rem
                .block_kosmetology_title
                  font-size: 1.5rem
                  font-family: Comfortaa,bold 
                  font-weight: 900  
                  margin-top: 3.5rem  
                  margin-left: 1rem
                  color: black
                  &:hover
                    color: $orange
            .block_kosmetology_describe
              font-family: Montserrat,Regular
              font-size: 0.9rem 
            .details
              display: flex
              align-items: center
              justify-content: flex-end
              .green_dot
                height: 1px
                width: 5px  
                background: $green
                margin-right: 5px
              .green_line
                height: 1px
                width: 25px  
                background: $green
                margin-right: 10px
              .details_describe
                
                font-size: 0.8rem
                a
                  color: $green
                  font-family: Caveat 
                  font-size: 20px
          .block_climat
            padding-left: 3rem  
            .block_climat_head
              .klimat_p
                display: flex 
                &:hover
                  color: black
              a:link
                text-decoration: none
              .block_climat_image
                background-image: url(#{asset_path('svg/sunset.svg')})
                background-repeat: no-repeat
                height: 5rem 
                width: 6rem
                margin-top: 1rem
              .block_climat_title
                font-size: 1.5rem
                font-family: Comfortaa,bold 
                font-weight: 900 
                margin-top: 3.5rem  
                margin-left: 1rem
                color: black
                &:hover
                  color: $orange
                  
              .circle_climat
            .block_climat_describe
              font-family: Montserrat,Regular
              font-size: 0.9rem 
            .details
              display: flex
              align-items: center
              justify-content: flex-end
              .green_dot
                height: 1px
                width: 5px  
                background: $green
                margin-right: 5px
              .green_line
                height: 1px
                width: 25px  
                background: $green
                margin-right: 10px
              .details_describe
                font-family: Comfortaa,bold 
                font-size: 0.8rem
                a
                  color: $green
                  font-family: Caveat 
                  font-size: 20px
       

  .wrapper_bottom



@media(max-width: 1536px)
  .methodology 
    .paralax_wrapper_1      
      .wrapper_all_content
        .bottom 
          .describe2
            margin-bottom: 0
            margin-top: 5rem
          .circle1
            margin-top: -8rem
            margin-bottom: 19rem
            // .svg_1
            //   top: -2px
            // .crcl_1
            //   margin-top: -8rem

@media(max-width: 1440px)
  .methodology 
    .paralax_wrapper_1      
      .wrapper_all_content
        .bottom 
          .describe2
            margin-left: 10%
            margin-bottom: 3rem
            margin-top: 5rem
          .circle1
            // margin-left: 8rem
            margin-top: -12rem

@media(max-width: 1366px)
  .methodology 
    .paralax_wrapper_1      
      .wrapper_all_content
        .bottom 
          .describe2
            margin-bottom: 4rem

@media(max-width: 1355px)
  .methodology 
    .paralax_wrapper_1      
      .wrapper_all_content
        .bottom 
          .describe2
            margin-left: 10%
            font-size: 28px
          .circle1
            // margin-left: 8rem



@media(max-width: 1242px)
  .methodology 
    .paralax_wrapper_1      
      .wrapper_all_content
        .bottom 
          .describe2
            margin-left: 8%
            font-size: 28px
            margin-left: 32px
          .circle1





@media(max-width: 1024px)
  .methodology 

     
    .wrapper_image
      position: relative 
      height: 96vh
      width: 100%
      // transition: 2s
      // transform: translateY(-20%)    
      z-index: 2 
      .img-bg
    .wrapper_image
      height: 80% 
      .img-bg
        border-radius: 0% 0% 150% 150%/0% 0% 80% 80%
        .top-text
          font-size: 20px     
        .title-top
          font-size: 40px
    .paralax_wrapper_1
      margin-top: 47rem
      .wrapper_all_content
        .middle
          .title-mid
            font-size: 30px
          .blue-line
            .line, .small-line  
              height: 5px
          .describe
            margin-top: 1rem
          .image-mid
            margin-top: 5rem
            height: 20rem
            width: 20rem
            margin-left: -1rem
            .middle-image
              height: 18rem
              width: 18rem 
        .bottom
          .describe2
            font-size: 23px
            margin-top: 4rem
          .circle1
            margin-top: -6rem
            height: 8rem
            width: 8rem
            // margin-left: 4rem
            margin-bottom: 4rem
          .title-dieta, .title-kinezoterapia, .title-manual, .title-psyhoterapia
            margin-left: 0  
          .dieta, .psyhoterapia, .manual, .kinezoterapia
            margin-left: 0  
    .paralax_wrapper_2
      margin-top: 26rem


@media(max-width: 768px)
  .methodology 
    .paralax_wrapper_1
      margin-top: 47rem
      .wrapper_all_content
        .middle
          .title-mid
            font-size: 30px
          .blue-line
            .line, .small-line  
              height: 5px
          .describe
            margin-top: 1rem
          .image-mid
            margin-top: 5rem
            height: 20rem
            width: 20rem
            margin-left: -1rem
            .middle-image
              height: 18rem
              width: 18rem 
        .bottom
          .describe2
          .circle1
            margin-top: -14rem

          .program_block_1, .program_block_2, .program_block_3
            display: block
            .block_kinezoterapy, .block_psychology, .block_climat
              padding-left: 0
          
          .dieta_wrapper
            .dieto_p
              .dieta_svg
                margin-left: 0 
                background-size: 70px 70px 
              .title-dieta
                font-size: 25px
                margin-left: 7px
          .kinezo_wrapper
            .kinezo_p
              .kinezo_svg
                margin-left: 0 
                background-size: 70px 70px 
              .title-kinezoterapia
                font-size: 25px
                margin-left: 15px
          .manual_wrapper
            .manual_p
              .manual_svg
                margin-left: 0
                background-size: 70px 70px  
              .title-manual
                font-size: 25px
                margin-left: 15px
          .psyho_wrapper
            .psyho_p
              .psyho_svg
                margin-left: 0 
                background-size: 70px 70px
              .title-psyhoterapia
                font-size: 25px
                margin-left: 7px
          .kosmetology_wrapper
            .kosmetology_svg
              margin-left: 0 
              background-size: 70px 70px
            .title-kosmetology
              font-size: 25px
              margin-left: 15px
          .klimatology_wrapper
            .klimat_p
              .klimatology_svg
                margin-left: 0 
                background-size: 70px 70px
              .title-klimatology
                font-size: 25px
                margin-left: -10px
                width: 0 
          .dieta, .psyhoterapia, .manual, .kinezoterapia, .kosmetology, .klimatology
            margin-left: 0  
          .details
            margin-left: 69%
            a
              margin-left: 0
@media(max-width: 540px)
  .methodology 
    .wrapper_image
      position: relative 
      height: 96vh
      width: 100%
    .paralax_wrapper_1
      margin-top: 40rem
      .wrapper_all_content
        .middle
          .title-mid
            font-size: 30px
            font-weight: 700 
            margin-left: 15px
          .blue-line
            padding-top: 10px
            .line, .small-line  
              height: 5px
          .title-describe
            margin-top: 1rem
            p
              line-height: 30px 
          .describe
            margin-top: 23rem
          .title1
            margin-bottom: 1rem
            font-size: 20px
          .image-mid
            margin-top: -45rem
            height: 20rem
            width: 20rem
            margin-left: 0rem
            display: flex
            justify-content: center 
            .middle-image
              height: 18rem
              width: 18rem 
        .bottom
          .describe2
            font-size: 17px
            margin-top: 3rem
          .circle1
            margin-top: -11.5rem
            height: 10rem
            width: 10rem
            margin-left: 0rem
            margin-bottom: 3rem
          .program_block_1, .program_block_2, .program_block_3
            display: block
            margin-top: 0
            margin-left: 15px
            margin-right: 10px
            .block_manual
              // margin-top: 20px
              .block_m_head
                .block_m_image
                  margin-top: 40px
                  width: 7rem
            .block_kinezoterapy, .block_psychology, .block_climat, .block_kosmetology
              padding-left: 0
              margin-top: 20px
              .details
                margin-top: 20px


          
            
    .paralax_wrapper_2
      margin-top: 61rem
      .bottom-image
          .img-bottom
            .bottom_text_1
              font-size: 19px
            .bottom_text_2
              font-size: 19px

@media(max-width: 360px)
  .methodology 
    .paralax_wrapper_1
      .wrapper_all_content
        .middle
          .image-mid
            margin-top: -48rem
            .middle-image

