.not_found
	display: flex 
	justify-content: center
	align-items: center
	height: 88vh 
	flex-direction: column
	background-image: url(#{asset_path('photo/404.jpg')})

	.title
		font-size: 50px
		font-family: Comfortaa
		font-weight: 700  
	.descr
		font-size: 30px
		font-family: Comfortaa