.program
  .container
    max-width: 1250px
  .wrapper_image

    position: relative
    height: 96vh
    width: 100%


    .img-bg
      -webkit-box-shadow: 0px 0px 99px
      border-bottom-left-radius: 80%
      border-bottom-right-radius: 80%
      position: absolute
      bottom: 0
      display: flex
      justify-content: center
      align-items:  center
      flex-direction:  column
      .top-text
        font-size: 40px
        font-family: Comfortaa
        font-weight: bold
        color: white
        display: block
        text-align: center
        line-height: 1.5
      .title-top
        font-size: 80px
        font-family: Comfortaa
        font-weight: bold
        color: white
        display: block
        text-align: center
        line-height: 1.5

      .header_low
        display: flex
        margin-top: 5rem
        .logo_days
          background-image: url(#{asset_path('svg/Group298.svg')})
          height: 92px
          width: 70px
          background-repeat: no-repeat
          margin-right: 3rem
        .title-days, .title-stage
          font-size: 20px
          font-family: Comfortaa
        .logo_stage
          background-image: url(#{asset_path('svg/Group299.svg')})
          height: 92px
          width: 70px
          background-repeat: no-repeat

        .arrow
  .paralax_wrapper_1
    margin-top: -20rem
    .wrapper_all_content
      .top-wrapper
        background-color: #F5F5F5
        padding-top: 25rem
        .top-title
          font-size: 80px
          font-family: Comfortaa
          font-weight: bold
          padding-left: 60px
        .blue-line
          display: flex
          transform: translateX(-100%)
          transition: 3s ease-in-out
          .line
            background: $blue
            width: 79rem
            height: 10px
            border-bottom-right-radius: 5px
            border-top-right-radius: 5px
            margin-right: 1rem
          .small-line
            display: none
            background: $blue
            width: 10px
            height: 10px
            border-radius: 50%
        .top-describe
          padding-top: 20px
          padding-bottom: 60px
          font-size: 24px
          padding-left: 60px
          font-family: Caveat
      .syndrom
        background-color: #F5F5F5

        .top.top-describe
          font-family: Montserrat
          font-size: 14px
        .top.top-title
          padding-top: 20px
          padding-bottom: 10px
          font-family: Comfortaa
          font-size: 14px
          font-weight: bold
        .top.middle-describe
          font-family: Montserrat
          font-size: 14px
          padding-bottom: 20px
        .a540
          display: none
          .img-bg

        .top.middle-title
          font-family: Comfortaa
          font-size: 14px
          font-weight: bold
          margin-bottom: 15px
        .first-image
          .img-bg
            display: block
            position: relative
            height: 450px
            width: 450px
            border-radius: 50%
            padding: 30px
            border-width: 10px
            border-style: solid
            border-color: $blue
            margin-left: 70px
        .top.bottom-list
          font-size: 14px
          font-family: Montserrat,Regular

        ol
          margin-left: 40px
        li:before
          content: " "
          position: absolute
          margin-left: -40px
          margin-top: 10px
          background: $green
          color: $green
          width: 15px
          height: 4px
          border-radius: 2px
        p
          margin-bottom: 5px

        .text.circle
          background-image: url(#{asset_path('svg/3333.svg')})
          height: 240px
          width: 240px
          background-size: 240px 240px
          position: absolute
          left: -4%
          top: -45px
          transform: rotate(45deg)
          display: flex
          justify-content: center
          align-items: center
          z-index: 2
          margin-top: 60px
          margin-left: 2rem
          .inside
            border-radius: 50%
            width: 180px
            height: 180px
            background-color: white
            z-index: 2
            margin-left: 9px
        .text.description
          font-size: 27px
          margin-top: 75px
          position: relative
          font-family: Caveat
          margin-left: 6rem
          z-index: 2


        .top.bottom-tittle
          p
            font-size: 15px
            font-family: Comfortaa
            font-weight: bold
            margin-top: 1rem
            margin-bottom: 8rem
  .paralax_wrapper_2
    height: 130rem
    margin-top: 7rem

    .about_program_wrapper
      background: white
      // border-bottom-left-radius: 80%
      // border-bottom-right-radius: 80%
      border-radius: 0% 0% 150% 150%/0% 0% 80% 80%
      height: 82rem
      .about_program
        background: white
        .about_program.title
          font-size: 80px
          font-family: Comfortaa
          font-weight: bold
          margin-left: 60px
        .about_program_line
          display: flex
          .about_program.orange_line
            height: 10px
            width: 45%
            background: #FCA425
            border-bottom-right-radius: 5px
            border-top-right-radius: 5px
            transform: translateX(-100%)
            transition: 1s ease-in-out
          .about_program.orange_dot
            height: 10px
            width: 10px
            background: #FCA425
            border-radius: 50%
            margin-left: 30px
            transform: translateX(-100rem)
            transition: 1s ease-in-out
        .about_program.description
          font-size: 24px
          font-family: Caveat
          margin-left: 60px
          padding-bottom: 80px
          width: 50rem
      .container
        background-color: white
        .image-mid
          position: relative

          .svg_mid
            background-image: url(#{asset_path('svg/3.svg')})
            height: 490px
            width: 490px
            background-size: 480px 480px
            position: absolute
            left: -13%
            top: -45px
          .img-bg
            position: absolute
            height: 380px
            width: 380px
            border-radius: 50%
            padding: 30px
            background-position-x: right
        .about_program_block
          .about_program.first_title, .about_program.second_title, .about_program.third_title
            font-size: 24px
            font-family: Comfortaa
            font-weight: bold
            margin-left: 30px
          .about_program.first_description, .about_program.second_description, .about_program.third_description
            font-size: 14px
            font-family: Montserrat,Regular
            padding-bottom: 20px
            margin-left: 30px
        .program_how_head
          font-size: 48px
          font-family: Comfortaa
          font-weight: bold
          margin-top: 5rem
          margin-bottom: 2rem
        .program_how_step
          font-size: 30px
          font-family: Comfortaa
          font-weight: bold
          color: $green
        .program_how_step_first
          font-size: 30px
          font-family: Comfortaa
          font-weight: bold
        .program_how_description_first
          font-size: 14px
          font-family: Montserrat,Regular
        .program_how_second
          font-size: 30px
          font-family: Comfortaa
          font-weight: bold
          color: $green
        .program_how_title_second
          font-size: 30px
          font-family: Comfortaa
          font-weight: bold
        .program_how_description_second
          font-size: 14px
          font-family: Montserrat,Regular
  .paralax_wrapper_3
    margin-top: -59rem
    height: 173rem
    background-color: #F5F5F5

    .program_stages
      background-color: #F5F5F5
      // border-radius: 0% 0% 150% 150%/0% 0% 80% 80%


      .program_stages_wrapper
        padding-top: 12rem
        .program_stages.title
          font-size: 80px
          font-family: Comfortaa
          font-weight: bold
          margin-left: 60px
          padding-top: 44px
        .program_line
          display: flex
          .program_stages.program_green_line
            height: 10px
            width: 45%
            background: $green
            border-bottom-right-radius: 5px
            border-top-right-radius: 5px
            transform: translateX(-100%)
            transition: 1s ease-in-out
          .program_stages.program_green_point
            height: 10px
            width: 10px
            background: $green
            border-radius: 50%
            margin-left: 30px
            transform: translateX(-100rem)
            transition: 1s ease-in-out
        .program_stages.description
          font-size: 24px
          font-family: Caveat
          margin-left: 60px
          margin-bottom: 30px
          padding-top: 10px
          p
            font-family: Caveat
      .container
        .stage_1
          position: relative
          padding-top: 110px
          margin-top: 4rem
          .stage_first_name
            font-size: 30px
            font-family: Comfortaa
            font-weight: bold
            color: $green
            position: relative
            z-index: 2
          .stage_first_title
            font-size: 30px
            font-family: Comfortaa
            font-weight: bold
            z-index: 2
          .e1_circle
            width: 94px
            height: 94px
            -webkit-border-radius: 50%
            border-radius: 50%
            background-color: #FFF
            position: absolute
            top: 31%
            left: -6%
          .stage_first_list
            margin-top: 10px
            font-size: 14px
            font-family: Montserrat,Regular
            ol
            margin-left: 40px
            li:before
              content: " "
              position: absolute
              margin-left: -40px
              margin-top: 10px
              background: $green
              color: $green
              width: 15px
              height: 4px
              border-radius: 2px
            p
              margin-bottom: 5px
              z-index: 2
              position: relative
        .stage_first_image

          .img-bg
            position: relative
            height: 500px
            width: 500px
            border-radius: 50%
            padding: 40px
            border: 40px solid #FFFFFF
        .stage_two
          display: flex
          .img-bg
            position: relative
            height: 500px
            width: 500px
            border-radius: 50%
            padding: 40px
            border: 40px solid #FFFFFF
        .stage_2
          padding-top: 140px
          margin-left: 17px
          margin-top: 2rem
          position: relative
          .stage_two_name
            font-size: 30px
            font-family: Comfortaa
            font-weight: bold
            color: $orange
          .stage_two_title
            font-size: 30px
            font-family: Comfortaa
            font-weight: bold
            z-index: 2
            position: relative
          .stage_two_description
            font-size: 14px
            font-family: Montserrat,Regular
            p
              margin-top: 1rem
              line-height: 26px
          .e2_circle
            width: 94px
            height: 94px
            -webkit-border-radius: 50%
            border-radius: 50%
            position: absolute
            top: 33%
            left: 62%
            background-color: #FFF
        .stage_3
          padding-top: 50px
          margin-top: 5rem
          position: relative
          .stage_three_name
            font-size: 30px
            font-family: Comfortaa
            font-weight: bold
            color: $red
          .stage_three_title
            font-size: 30px
            font-family: Comfortaa
            font-weight: bold
            position: relative
            z-index: 2
          .e3_circle
            width: 94px
            height: 94px
            -webkit-border-radius: 50%
            border-radius: 50%
            position: absolute
            top: 17%
            left: 33%
            background-color: #FFF
          .stage_third_list
            font-size: 14px
            font-family: Montserrat,Regular
            margin-top: 10px
            ol
            margin-left: 40px
            li:before
              content: " "
              position: absolute
              margin-left: -40px
              margin-top: 10px
              background: $green
              color: $green
              width: 15px
              height: 4px
              border-radius: 2px
            p


              margin-bottom: 5px

          .stage_three_description

          .stage_three_looking
            display: flex
            align-items: center
            justify-content: flex-end
            margin-right: 8rem
            .green_dot
              height: 1px
              width: 5px
              background: $green
              margin-right: 5px
              margin-top: 5px
            .green_point
              height: 1px
              width: 25px
              background: $green
              margin-right: 10px
              margin-top: 5px
            .stage_details
              a
                font-size: 24px
                font-family: Caveat
                color: $green
                margin-left: 1rem


        .stage_three_img
          .img-bg
            position: relative
            height: 500px
            width: 500px
            border-radius: 50%
            padding: 40px
            border: 40px solid #FFFFFF
        .stage_4
          .img-bg
            position: relative
            height: 500px
            width: 500px
            border-radius: 50%
            padding: 40px
            border: 40px solid #FFFFFF
        .stage_4_name
          padding-top: 150px
          margin-left: 30px
          position: relative
          .stage_name_4
            font-size: 30px
            font-family: Comfortaa
            font-weight: bold
            color: $blue
          .stage_4_title
            font-size: 30px
            font-family: Comfortaa
            font-weight: bold
            position: relative
            z-index: 2
          .e4_circle
            width: 74px
            height: 74px
            -webkit-border-radius: 50%
            border-radius: 50%
            position: absolute
            top: 67%
            left: 33%
            background-color: #FFF
          .stage_4_description
            p
              font-size: 14px
              font-family: Montserrat,Regular
              line-height: 26px
              position: relative
              z-index: 2
  .paralax_wrapper_4
    background-color: white
    .bottom_wrapper
      margin-top: 15rem

@media(max-width: 1536px)
  .program
    .wrapper_image

    .paralax_wrapper_1
      margin-top: -20rem
      .wrapper_all_content
        .top-wrapper
          padding-top: 20rem
          .top-title
    .paralax_wrapper_2
      width: 98vw
      height: 143rem
    .paralax_wrapper_3
      margin-top: -79rem
      .program_stages
        .program_stages_wrapper
          padding-top: 8rem
      // border-radius: 0% 0% 150% 150%/0% 0% 80% 80%
    .paralax_wrapper_4
      margin-top: 5rem
      .bottom_wrapper

@media(max-width: 1366px)
  .program
    .wrapper_image
      .img-bg
        .title-top
          font-size: 50px

    .paralax_wrapper_1
      margin-top: -20rem
      .wrapper_all_content
        .top-wrapper
          padding-top: 20rem
          .top-title
            font-size: 60px
            margin-top: 3rem
    .paralax_wrapper_2
      width: 100vw
      height: 143rem
      .about_program_wrapper
        .about_program
          .about_program.title
            font-size: 60px
    .paralax_wrapper_3
      margin-top: -79rem
      .program_stages
        .program_stages_wrapper
          padding-top: 8rem
          .program_stages.title
            font-size: 60px
      // border-radius: 0% 0% 150% 150%/0% 0% 80% 80%
    .paralax_wrapper_4
      margin-top: 5rem
      .bottom_wrapper

@media(max-width: 1355px)
  .program
    .wrapper_image
      .img-bg
        left: 0
        right: 0
        .title-top
          font-size: 60px
    .paralax_wrapper_1
      .wrapper_all_content
        .syndrom
          .text.description
            font-size: 25px
            margin-top: -181px
    .paralax_wrapper_2
      height: 148rem
      width: 98vw
      .about_program_wrapper
        .container
          .image-mid
            .svg_mid
            .img-bg
              top: 3px
          .program_how_step, .program_how_step_first, .program_how_second, .program_how_title_second
            font-size: 26px
    .paralax_wrapper_3
      height: 155rem
      .program_stages
        .container

          .stage_first_image
            .img-bg
              height: 380px
              width: 380px
              margin-top: 5rem
          .stage_two
            .img-bg
              height: 380px
              width: 380px
              margin-top: 5rem
          .stage_three_img
            .img-bg
              height: 380px
              width: 380px
              margin-top: 5rem
          .stage_4
            .img-bg
              height: 380px
              width: 380px
              margin-top: 5rem


@media(max-width: 1242px)
  .program
    .paralax_wrapper_1
      .wrapper_all_content
        .syndrom
          .text.description
            margin-top: 77px


@media(max-width: 1024px)
  .program
    .wrapper_image
      .img-bg
        border-radius: 0% 0% 150% 150%/0% 0% 80% 80%
        height: 75vh
        .top-text
          font-size: 20px
        .title-top
          font-size: 40px
          text-align: center
    .paralax_wrapper_1
      margin-top: -19rem
      .wrapper_all_content
        .top-wrapper
          padding-top: 180px
          .top-title
        .syndrom
          .first-image
            .img-bg
              width: 350px
              height: 350px
    .paralax_wrapper_2
      .about_program_wrapper
        .about_program
          .about_program.title
            font-size: 40px
    .paralax_wrapper_3

      .program_stages

        .program_stages_wrapper
          .program_stages.title
            font-size: 40px
          .program_stages.description
            p
              font-size: 24px
              width: 55vw
        .container

          .stage_first_image
            .img-bg
              height: 380px
              width: 380px
          .stage_two
            .img-bg
              height: 380px
              width: 380px
          .stage_three_img
            .img-bg
              height: 380px
              width: 380px
          .stage_4
            .img-bg
              height: 380px
              width: 380px
    .paralax_wrapper_4
      margin-top: 7rem


@media(max-width: 768px)
  .program

    .wrapper_image
      .img-bg

        .top-text

        .title-top

    .paralax_wrapper_1


      .wrapper_all_content
        .top-wrapper
          .top-title

          .blue-line
            .line

            .small-line
              height: 5px
              width: 5px
          .top-describe

        .syndrom
          .top.top-describe

          .top.top-title

          .top.middle-describe
          .top.middle-title

          .first-image
            .img-bg
              height: 20rem
              width: 20rem
              margin-left: 1rem
          .text.circle


            .inside
          .text.description
            font-size: 24px
            margin-top: -195px
          .top.bottom-tittle
            display: none
    .paralax_wrapper_2
      width: 97%
      height: 70rem
      .about_program_wrapper
        .about_program
          .about_program.title

          .line
            .about_program.orange_line
            .about_program.orange_dot
          .about_program.description
            width: 95%
        .container
          .image-mid
            .svg_mid
              display: none
            .img-bg
              width: 300px
              height: 300px
    .paralax_wrapper_3
      margin-top: 18rem
      height: 162rem
      .program_stages
        .program_stages_wrapper
          .program_stages.title
            font-size: 30px
        .container
          .stage_1
            margin-top: 12rem
          .stage_first_image
            .img-bg

              height: 300px
              width: 300px
              border: none
          .stage_two
            .img-bg
              height: 300px
              width: 300px
              border: none
          .stage_3
            // margin-top: 23rem
          .stage_three_img
            .img-bg
              height: 300px
              width: 300px
              border: none
              // margin-top: -44rem
          .stage_4
            .img-bg
              height: 300px
              width: 300px
              border: none
              margin-top: 5rem
          .stage_4_name
            // margin-top: -90px

@media(max-width: 540px)
  .program

    .wrapper_image
      .img-bg
        height: 65vh
        border-radius: 0% 0% 150% 150%/0% 0% 80% 80%
        .top-text
          font-size: 16px
          margin-top: 93px
        .title-top
          font-size: 26px
    .paralax_wrapper_1
      margin-top: -40rem

      .wrapper_all_content
        .top-wrapper
          .top-title
            font-size: 30px
            padding-top: 16rem
            padding-left: 30px
          .blue-line
            padding-top: 10px
            .line
              width: 20rem
              height: 5px
            .small-line
              height: 5px
              width: 5px
          .top-describe
            padding-left: 30px
            font-size: 20px
            padding-bottom: 30px
            font-family: Caveat
            width: 90%
        .syndrom
          .top.top-describe
          .a540
            display: block
            .img-bg
              margin-top: 19rem
              height: 19rem
              width: 19rem
              border-radius: 50%
              margin-left: 1rem
          .top.top-title
            margin-top: 23rem
            font-size: 20px
          .top.middle-describe
          .top.middle-title
            font-size: 20px
          .first-image
            .img-bg
              display: none
              // height: 20rem
              // width: 20rem
              // margin-top: -53rem
              // margin-left: 0rem
          .text.circle
            margin-left: -1rem


            .inside
          .text.description
            font-size: 24px
            margin-top: 84px
            padding-bottom: 9rem
            margin-left: 14px
            width: 100%
          .top.bottom-tittle
            display: none
    .paralax_wrapper_2
      margin-top: 5rem
      height: 88rem
      .about_program_wrapper
        .about_program
          .about_program.title
            font-size: 30px
            margin-left: 30px
          .about_program_line
            padding: 10px
            .about_program.orange_line
              height: 5px
            .about_program.orange_dot
              height: 5px
              width: 5px
          .about_program.description
            width: 90%
            margin-left: 28px
        .container
          .image-mid
            .svg_mid
              display: none
            .img-bg
              width: 300px
              height: 300px
              margin-top: -3rem
          .about_program_block
            margin-top: 310px
            margin-left: -25px
          .program_how_head
            font-size: 30px
            margin-top: 1rem
          .program_how_step, .program_how_step_first
            font-size: 20px
          .program_how_second, .program_how_title_second
            font-size: 20px
    .paralax_wrapper_3
      margin-top: 18rem
      height: 168rem
      .program_stages
        .program_stages_wrapper
          padding-top: 3rem
          .program_stages.title
            font-size: 30px
            margin-left: 30px
          .program_line
            padding: 10px
            .program_stages.program_green_line
              height: 5px
            .program_stages.program_green_point
              height: 5px
              width: 5px
          .program_stages.description
            margin-left: 30px
            line-height: 30px
            p
              width: 82vw
        .container
          .stage_1
            margin-top: 15rem
            .stage_first_name
              font-size: 20px
            .stage_first_title
              position: relative
              z-index: 2
              font-size: 20px
          .stage_first_image
            .img-bg
              margin-top: -32rem
              height: 300px
              width: 300px
              border: none
          .stage_two
            margin-top: -1rem
          .stage_2
            margin-top: -6rem
            .stage_two_name
              font-size: 20px
            .stage_two_title
              font-size: 20px
            .img-bg
              height: 300px
              width: 300px
              border: none
          .stage_3
            margin-top: 25rem
            .stage_three_name
              font-size: 20px
            .stage_three_title
              font-size: 20px
            .stage_three_looking
              width: 100%
              .stage_details
                a
                  font-size: 21px
          .stage_three_img
            .img-bg
              height: 300px
              width: 300px
              border: none
              margin-top: -37rem
          .stage_4
            .img-bg
              height: 300px
              width: 300px
              border: none
              margin-top: 5rem
          .stage_4_name
            margin-top: -110px
            margin-left: 0
            font-size: 20px
            .stage_name_4
              font-size: 20px
            .stage_4_title
              width: 100%
              font-size: 20px
            .stage_4_description
              p
                margin-bottom: 4rem
    .paralax_wrapper_4
      margin-top: 0
      .bottom_wrapper
        margin-top: 10rem
        .title_wrapper
          .title
            font-size: 24px
            padding-left: 0
            margin-left: 35px

@media (max-width: 360px)
  .program
    .paralax_wrapper_1
      .wrapper_all_content
        .syndrom
          .a540
            .img-bg
              margin-top: 24rem
          .text.circle
            top: -31px
            left: -5%
          .text.description