.psychoterapy
	
	.about_image
		position: relative 
		height: 96vh
		width: 100%
		// transition: 2s
		// transform: translateY(-2 0%)		
		z-index: 2 
		.img-bg 
			-webkit-box-shadow: 0px 0px 99px
			border-bottom-left-radius: 80%  
			border-bottom-right-radius: 80%
			display: flex			
			justify-content: center
			align-items:  center
			flex-direction:  column
			.about-text
				font-size: 2rem 
				font-family: Comfortaa				
				color: white 
			.about-title
				font-size: 5rem
				font-family: Comfortaa
				font-weight: bold  
				color: white 
	.paralax_wrapper_1
		margin-top: 7rem
		.psycho_wrapper
			.title_top
				+comfora_4(1)
			.describe_top
				font-family: Montserrat
				font-size: 1rem
			.middle_title
				+comfora_1(1)
			.middle_list
				font-size: 0.9rem
				font-family: Montserrat,Regular
				ol
				margin-left: 40px 						
				li:before
					content: " "
					position: absolute
					margin-left: -40px			
					margin-top: 10px
					background: $green 
					color: $green				
					width: 15px
					height: 5px
	.paralax_wrapper_2				
		margin-top: 5rem
		

@media(max-width: 1536px)
	.psychoterapy
		.paralax_wrapper_1
			
		.paralax_wrapper_2
			
@media(max-width: 1024px)
	.psychoterapy
		.about_image
			.img-bg			
				border-radius: 0% 0% 80% 80%/0% 0% 20% 20%	

@media(max-width: 540px)
	.psychoterapy
		.about_image
			.img-bg
				.about-text
					font-size: 20px
				.about-title
					font-size: 30px
		.paralax_wrapper_1
			margin-top: 4rem
			.psycho_wrapper
				.title_top
					font-size: 30px
					margin-bottom: 1rem
				.describe_top
				.middle_title
					margin: 10px 0
			
				.middle_list
			.wrapper_slider
				margin-top: 3rem