.bottom_popup
	.container-fluid
		.shadow_wrapper		
			.bottom_text_1
				|Запрошуємо на консультацію
			.bottom_text_2
				|безкоштовно!
			.button_1
				button.btn.btn-outline [onclick="myFunction()"]  Записатись
		.img-bottom style="background-image:url(#{asset_path('photo/1.jpg')})"

	= render "popup_consultation" 