.footer
  .upper-footer.columns
    .container-fluid

      .row
        .col-6.col-md-8.col-lg-8
          .left_side
            .logo
              a.logosvg href=root_path
          .fotter_menu_wrapper
            .menu_first_wrapper
              .about_shool
                .title
                  a href= about_school_path Про школу
              .program
                .title
                  a href= program_path Програма
              .method
                a.title
                  a href= methodology_path Методики
            .menu_second_wrapper
              .blog
                .title
                  a href= blog_path Блог

              .contacts
                .title
                  a href= contacts_path Контакти
        .col-6.col-md-4.col-lg-4
          .rigt_side
            .phone_numbers
              .phone1
                a.contact-link href=primary_phone_url rel="nofollow"
                  .phone-logo
                    .svg-phone = inline_svg "svg/phone-call.svg"
                  .phone-title
                    = primary_phone
              .phone2
                a.contact-link href=secondary_phone_url rel="nofollow"
                  .phone-logo
                    .svg-phone = inline_svg "svg/phone-call.svg"
                  .phone-title
                    = secondary_phone

            .contact-info
              .email
                a.contact-link href=primary_email_url rel="nofollow"
                  .email-logo
                    .svg-email = inline_svg "svg/mail.svg"
                  .email-title
                    = primary_email
              .skype
                a.contact-link href=skype_url rel="nofollow"
                  .skype-logo
                    .svg-skype = inline_svg "svg/skype-logo.svg"
                  .skype-title
                    = skype


  .lower-footer.row
    .container-fluid
      .row
        .col-12.col-md-6.col-lg-6
          .Private-Enterprise
            p © 2019 "Живасвіт"
        .col-12.col-md-6.col-lg-6
          .Handcrafted
            .Handcrafted-logo
              .Handcrafted-svg = inline_svg "svg/V_logo.svg"
            .Handcrafted-text
              |Розроблено в студії Миколи Вороніна в 2018 р.


.footer_small
  .top_menu
    .left_side_small
      a.logosvg href=root_path
      .phone_numbers
        .phone1
          a.contact-link href=primary_phone_url rel="nofollow"
            .phone-logo
              .svg-phone = inline_svg "svg/phone-call.svg"
            .phone-title
              = primary_phone
        .phone2
          a.contact-link href=secondary_phone_url rel="nofollow"
            .phone-logo
              .svg-phone = inline_svg "svg/phone-call.svg"
            .phone-title
              = secondary_phone

      .contact-info
        .email
          a.contact-link href=primary_email_url rel="nofollow"
            .email-logo
              .svg-email = inline_svg "svg/mail.svg"
            .email-title
              = primary_email
        .skype
          a.contact-link href=skype_url rel="nofollow"
            .skype-logo
              .svg-skype = inline_svg "svg/skype-logo.svg"
            .skype-title
              = skype
    .right_side_small
      .about_shool

        a href= about_school_path Про школу
      .program

        a href= program_path Програма
      .method

        a href= methodology_path Методики
      .blog

        a href= blog_path Блог

      .contacts

        a href= contacts_path Контакти
  .low_menu
    .Private-Enterprise
      p ©  2019 "Живасвіт"
    .Handcrafted
      .Handcrafted-logo
        .Handcrafted-svg = inline_svg "svg/V_logo.svg"
      .Handcrafted-text
        |Розроблено в студії Миколи Вороніна в 2019 р.





