.header
  #header_content
    .container-fluid
      .row
        #qwert.header_wrapper
          .header-logo
            a.logosvg href=root_path
          .header_right
            .consultation
              button.btn.btn-outline type="button" Консультація
              #toggle.button_container



  = render "popup_consultation"

  #overlay.overlay
    .container-fluid
      .image-background
        .img-bg
          .layout1
            .header-top
              .header-top-left
                a.logosvg href=root_path


                #header_top_right
            .header-middle

              .row
                .col-12.col-md-12.col-lg-8
                  .header-middle-left-up
                    nav.up-menu
                      ul
                        li
                          a href= root_path class="root_h" Головна
                        li
                          a href= about_school_path class="about_school_h" Про школу
                        li
                          a href= program_path class="program_h" Програма
                        li
                          a href= methodology_path class="rew" Методики

                        .dropdown
                          .dropbtn
                            |
                          button#arrow
                          button#arrow_1
                          #dropdown_content
                            a href=kinezoterapy_path
                              | Кінезотерапія
                            a href=klimatoterapy_path
                              | Кліматотерапія
                            a href=psychoterapy_path
                              | Психотерапія
                            a href=dietology_path
                              | Дієтотерапія
                            a href=manual_path
                              | Мануальна терапія
                            a href=kosmetology_path
                              | Косметологія
                    .down-menu
                      ul
                        li
                          a href=blog_path Блог
                        li
                          a href=contacts_path Контакти
                        li


                .col-lg-4
                  .header-middle-right
                    .circle_wrapper
                      .circle_h
                      .circle1
                      .circle_2
                      .circle_3
              .row
                .col-12.col-md-12.col-lg-12
                  .header-bottom
                    .header-bottom-left
                      .first_phone_number
                        a.contact-link href=primary_phone_url rel="nofollow"
                          .phone_icon = inline_svg "svg/phone-call.svg"
                          .number_first.number_text
                            = primary_phone
                      .second_phone_number
                        a.contact-link href=secondary_phone_url rel="nofollow"
                          .phone_icon = inline_svg "svg/phone-call.svg"
                          .number_second.number_text
                            = secondary_phone
                    .header-bottom-right
                      .zhyvasvit_mail
                        a.contact-link href=primary_email_url rel="nofollow"
                          .mail_logo = inline_svg "svg/mail.svg"
                          .mail_name.number_text_one
                            = primary_email
                      .zhyvasvit_skype
                        a.contact-link href=skype_url rel="nofollow"
                          .skype_logo = inline_svg "svg/skype-logo.svg"
                          .skype_name.number_text_one
                            = skype
                      .zhyvasvit_insta
                        a href=instagram_url rel="nofollow" target="_blank"
                          .insta_logo = inline_svg "svg/instagram.svg"
                          .insta_name.number_text_one
                            |zhyvasvit
                      .zhyvasvit_facebook
                        a href=facebook_url rel="nofollow" target="_blank"
                          .facebook_logo = inline_svg "svg/facebook.svg"
                          .facebook_name.number_text_one
                            |zhyvasvit






