.popup-overlay#modal_form
  .popup-content
    .container
      .row
        .col-12.col-md-12.col-xl-12
          .close_wrapper
            span.close#modal_close
              |+
            / = inline_svg "svg/close.svg"*

      .blur_wrapper
  .body_wrapper
    .container
      .row
        .title_wrapper
          .col-12.col-md-12.col-xl-12
            .title_popup
              |Запис на консультацію
            .line_wrapper
              .line
              .dot
            .describe
              |Введіть свої контактні дані, ми зателефонуємо Вам для підтвердження запису
    form.ajax-form action="/consultation" method="post" enctype="multipart/form-data"
      .container
        .row
          .wrapper_inp
            .col-12.col-md-12.col-xl-12

              .wrapper_input
                div.input_wrapper_firsr
                  div.name_input
                    .name_name
                      |Ім'я
                    input.name name="klients_name" type="tel" placeholder="Іванна" required=""
                  div.phone_input
                    .phone_name
                      |Телефон
                    input.phone#phone_id type="tel" title="введіть номер телефону" name="phone_number" pattern=".{12,}[+0-9]" placeholder="+38xxxxxxxxxx"  value="+38" required=""
              .wrapper_send
                .message_s
                  |Ваше повідомлення надіслано
                .message_descr
                  |Для уточнення дати консультації наш менеджер звʼяжеться з Вами найближчим часом
              .input_wrapper_second
                div
                  .mail_name
                    |E-mail
                  input.mail#mail_id type="email" title="введіть email згідно формату example@example.com" name="mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                div.time_wrapper
                  .time_name
                    |Бажаний час
                  .select_wrapper
                    select name="select" id="select" class="custom-select "
                      option.val_1[value="9.00-12.00"]
                        | 9.00-12.00
                      option[value="12.00-15.00"]
                        | 12.00-15.00
                      option[value="15.00-18.00"]
                        | 15.00-18.00



        .row
          .col-12.col-md-12.col-xl-12
            button.sand
              |Надіслати
#qwerty

/




