.what_is_problem_wrapper
	.problem_image
		.shadow_wrapper
		.img-problem style="background-image:url(#{asset_path('photo/s1200.jpg')})"
			.problem_title
				|Не знаєте в чому проблема?
			.problem_describe
				|Приходьте на консультацію, Ігор з'ясує стан Вашого організму,
				br
					|та підбере програму відновлення особисто для Вас.
			.problem_button
				button.btn.name-btn [onclick="myFunction()"] Записатися
	= render "popup_consultation" 