.title_wrapper
  h3.title
    |Вас може зацікавити:
  .green_line_wrapper
    .green_line
    .green_dot
  .arrow_1
  .arrow_2
.slider_car#slider_car
  - @articles.each do |article|
    div.slick_slider
      a href=article.url
        img.img-bg.slider src=article.image
      .body
        .slider_program-title
          a href=article.url
            = article.title
        .slider_program-date
          = article.formatted_date
        - if article.short_description.present?
          .slider_program-describe
            = article.short_description



