.video_popup
  .close
    span.close#video_close
    	|+
  .video_wrapper
    iframe width="420" height="345" src=@main_page.video frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""




/ =@main_page.video_title


/ https://www.youtube.com/embed/V1QJcK49_5g