doctype html
html lang=I18n.locale
  head
    meta charset="utf-8"
    = seo_tags
    meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1"
    = stylesheet_link_tag    "application", media: 'all'
    = csrf_meta_tags
    link rel="icon" type="image/png" href=asset_path("favicon/favicon_16x16.png") sizes="16x16"
    link rel="icon" type="image/png" href=asset_path("favicon/favicon_32x32.png") sizes="32x32"

    link rel="icon" type="image/png" href=asset_path("favicon/favicon_96x96.png") sizes="96x96"
    link rel="icon" type="image/png" href=asset_path("favicon/favicon_196x196.png") sizes="196x196"
    link rel="icon" type="image/png" href=asset_path("favicon/favicon_228x228.png") sizes="228x228"
    = render "cms/gtm_script"
  body
    = render "header"
    .main-wrapper
      = yield
    / script src="//maps.googleapis.com/maps/api/js"
    = render "footer"
    = javascript_include_tag "application"
    noscript
      img[height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=2396619693950793&ev=PageView&noscript=1"]
    = render "cms/gtm_noscript"
    = json_ld